<div class="row">
  <div class="col">
    <mat-card style="max-width:500px">
      <form [formGroup]="editableForm" (ngSubmit)="save()">
        <app-editable-form-header [editRecordBase]="this" (editClick)="editForm()"></app-editable-form-header>
        <mat-card-content>
          <div class="form-group form-primary" *ngIf="recordState === 0">
            <mat-form-field>
              <input matInput placeholder="User Name" type="email" formControlName="emailControl" required [(ngModel)]="dataModel.usrname"
                maxlength="254">
              <mat-error *ngIf="editableForm.controls['emailControl'].hasError('required')">
                {{'VALIDATION_REQUIRED_FIELD'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group form-primary" *ngIf="recordState === 1">
            <span class="viewlabel">User Name</span>
            <label class="viewtext">{{ dataModel.usrname }}</label>
          </div>
          <div class="form-group form-primary" *ngIf="recordState === 0">
            <mat-form-field>
              <mat-select placeholder="Category" formControlName="userCategory" required [(ngModel)]="dataModel.usrcategory" (ngModelChange)="userCategoryChange()">
                <mat-option *ngFor="let usercategory of userCategories" [value]="usercategory.value">
                  {{usercategory.text | translate }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="editableForm.controls['userCategory'].hasError('required')">
                {{'VALIDATION_REQUIRED_FIELD'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group form-primary" *ngIf="recordState === 1">
            <span class="viewlabel">Category</span>
            <label class="viewtext">{{ getuserCategorie(dataModel.usrcategory) | translate }}</label>
          </div>
          <div *ngIf="showCat===false">
            <div class="form-group form-primary">
              <mat-form-field class="full-width" id="point-selection" *ngIf="formMode === 1">
                <mat-select placeholder="Role" [(ngModel)]="dataModel.uroleid" formControlName="userroleControl" required>
                  <mat-option *ngFor="let urole of uroleids" [value]="urole.uroleid">
                    {{urole.urolename}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="editableForm.controls['userroleControl'].hasError('required')">
                  {{'VALIDATION_REQUIRED_FIELD'|translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <div *ngIf="showCat===false">
              <div class="form-group form-primary" *ngIf="formMode === 0">
                <span class="viewlabel">Role</span>
                <label class="viewtext">{{ getroleidlist(dataModel.uroleid) }}</label>
              </div>
            </div>
          </div>
          <div class="form-group form-primary" *ngIf="formMode === 1">
            <mat-form-field>
              <mat-select placeholder="State" formControlName="userStateControl" required [(ngModel)]="dataModel.usrstate">
                <mat-option *ngFor="let userstate of userStates" [value]="userstate.value">
                  {{userstate.text | translate}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="editableForm.controls['userStateControl'].hasError('required') ">
                {{'VALIDATION_REQUIRED_FIELD'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group form-primary" *ngIf="formMode === 0">
            <span class="viewlabel">State</span>
            <label class="viewtext">{{ getuserStates(dataModel.usrstate) | translate }}</label>
          </div>
          <app-editable-form-footer-toolbar [editRecordBase]="this" (editClick)="editForm()"></app-editable-form-footer-toolbar>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>