
.home-panel {
    vertical-align: center;
    font-size: 20;
    margin: 15;
}

/* header */

Button,
TextField {
    margin-bottom: 6;
}

.btn {
    font-size: 25;
    color: #FF8912;
    -webkit-tap-highlight-color: rgba(245, 240, 240, 0);
    /* padding: 0; */
    border: none;
    /* background: none; */
}

.btn-primary {
    background-color: #FF8912;
    margin-left: 0;
    margin-right: 0;
}

.description-label {
    margin-bottom: 15;
}

.hometitle {
    font-size: 18px;
    font-weight: bold;
    vertical-align: center;
    /* margin-left:150px; */
}

.hometitlesub {
    font-size: 18px;
    font-weight: bold;
    vertical-align: center;
    font-family: 'Open Sans';
}

.homeheader {
    font-size: 14px;
    margin-left: 10px;
    vertical-align: center;
    color: white;
}

/* header end */

/* 
.card-layout {
    padding: 8;
}
.card-layout .h1 {
    margin-bottom: 15;
} */

/* swipe action css */

.listItemStackLayout {
    background-color: white;
    /* padding-left: 5; */
    padding-right: 5;
    /* padding-bottom: 8%; */
}

.labelName {
    font-size: 20;
    margin-bottom: 8;
}

.labelTitle {
    font-size: 14;
    font-weight: bold;
}

.labelText {
    font-size: 12;
}

.markGridLayout {
    background-color: #0099ff;
    padding: 16;
}

.archiveGridLayout {
    background-color: #ffcc99;
    padding: 16;
}

.unreadGridLayout {
    background-color: #ff3300;
    padding: 16;
}

.deleteGridLayout {
    background-color: red;
    padding: 16;
}

.readGridLayout {
    background-color: #ff66ff;
    padding: 16;
}

.forwardGridLayout {
    background-color: #9966ff;
    padding: 16;
}

.swipeTemplateLabel {
    font-size: 15;
}

.float-btn-container {
    margin-top: 50%;
    margin-left: 80%;
}

.indicator {
    color: #FF8912;
    vertical-align: center;
    height: 20%;
    width: 20%;
}

.align-centre {
    vertical-align: middle;
}

.hr-lightt {
    display: block;
    border-top: 1px solid #396766;
    margin: 0 0;
    padding: 3px 0px;
}

.green {
   color: #608584;
    vertical-align: center;
    text-align: center;
    /* color: #ffffff; */
}

.grey {
    color: #608584;
    vertical-align: center;
    text-align: center;
    /* color: #ffffff; */
}

.red {
    color: #d8524d;
    vertical-align: center;
    text-align: center;
    /* color: #ebebeb; */
}

.orenge {
    /* background-color: #FF8910; */
    color: #ffa03f;
    vertical-align: center;
    text-align: center;
    /* color: #ebebeb; */

}

.list-layout {
    padding: 10% 7px;
    /* vertical-align: center; */
}
.category-header {
    background-color: #ffffff;
}
.groupLabel {
    padding: 15;
    font-weight: bold;
}