<patient-action-bar [patientName]='patientName'></patient-action-bar>
<GridLayout rows="*" columns="*" height="100%" width="100%"
    style="background-color:#396766; justify-content: center;align-items: center;">

    <GridLayout *ngIf="pinview">
        <GridLayout shadowOffsetWidth=1; height="60%" width="74%" *ngIf="!listaccount">
            <StackLayout class="form" [formGroup]="userAuthForm" *ngIf="hidecheckpin">
                <GridLayout row="0" rows="50,auto, auto,auto" columns="*" style="padding: 10 10; background-color: #f0f0f0;">
                    <GridLayout row="0">
                        <Label class="signmainlabel" width="60" height="60" text="Sign In"></Label>
                    </GridLayout>
                    <GridLayout row="1" rows="auto,auto">
                        <StackLayout row="0">
                            <TextField hint="Email Address" formControlName="email" keyboardType="email"
                                autocorrect="false" autocapitalizationType="none" class="input input-border">
                            </TextField>
                        </StackLayout>
                        <Label row="1" text="*email is required " style="color:red" *ngIf="emailIsValid"></Label>

                    </GridLayout>
                    <GridLayout row="2" rows="auto,auto">
                        <StackLayout row="0">
                            <TextField hint="Password" formControlName="password" secure="true"
                                class="input input-border"></TextField>
                            <!-- <StackLayout class="hr-light" [ngClass]="{invalid: passwordIsValid === true}"></StackLayout> -->
                        </StackLayout>
                        <Label row="1" text="*password is required " style="color:red" *ngIf="passwordIsValid"></Label>
                        <Label row="1" text="username or password is invalid " style="color:red"
                            *ngIf="emailIsInvaild"></Label>
                    </GridLayout>
                    <GridLayout row="3" rows="auto" columns="auto, *, auto">
                        <Label row="0" col="0" text="Choose an account" style="vertical-align: center; color: #00A6CE"
                            (tap)="allreadyaccount()"></Label>
                        <Button row="0" col="2" text="Next" class="btn btn-primary-blue"
                            (tap)="userAuthAccount()"></Button>
                    </GridLayout>
                </GridLayout>

            </StackLayout>
        </GridLayout>
        <GridLayout row="1" shadowOffsetWidth=1; height="60%" width="74%" *ngIf="newpinview">
            <StackLayout class="form" [formGroup]="userAuthPinForm" *ngIf="newpinview">
                <GridLayout row="0" rows="50,auto, auto,auto" columns="*" class="form"
                    style="padding: 10 20; background-color: #f0f0f0;">
                    <GridLayout row="0">
                        <Label class="signmainlabel" width="60" height="60" text="Sign In"></Label>
                    </GridLayout>
                    <GridLayout row="1" rows="auto,auto">
                        <StackLayout row="0">
                            <TextField hint="New Pin" formControlName="newpin" secure="true" keyboardType="number"
                                class="input input-border"></TextField>
                        </StackLayout>
                        <Label row="1" text="*new pin is required " style="color:red" *ngIf="newpinIsValid"></Label>
                    </GridLayout>
                    <GridLayout row="2" rows="auto,auto">
                        <StackLayout row="0">
                            <TextField hint="Re-enter Pin" formControlName="re_enterpin" secure="true"
                                keyboardType="number" class="input input-border"></TextField>
                        </StackLayout>
                        <Label row="1" text="*Re enter pin is required " *ngIf="re_enterpinIsValid"
                            style="color:red"></Label>
                    </GridLayout>
                    <GridLayout row="3" rows="auto" columns="auto, *, auto">
                        <!-- <Label row="0" col="0" text="Create Account" style="vertical-align: center; color: #00A6CE"
                            (tap)="allreadyaccount()"></Label> -->
                        <Button row="0" col="2" text="Login" class="btn btn-primary-blue" (tap)="userSign()"></Button>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
        </GridLayout>



        <GridLayout style="width: 74%;height:72%" *ngIf="listaccount">
            <GridLayout row="0" rows="50,*,60" columns="*" class="form"
                style="padding: 10 20; background-color: #f0f0f0;">
                <GridLayout row="0" style="vertical-align: center;">
                    <Label class="signmainlabel" text="Choose an account" style="text-align: center;"></Label>
                </GridLayout>
                <GridLayout row="1">
                    <RadListView #myListView [items]="dataItems">
                        <ng-template tkListItemTemplate let-item="item">
                            <GridLayout columns="*" rows="*" class="accountlistItem" (tap)="selectedUserData(item)">
                                <GridLayout row="0" columns="*" rows="auto, auto ">
                                    <GridLayout rows="*" columns="*, 70" row="0" col="0">
                                        <GridLayout col="0" columns="*" rows="auto, auto" class="list-layout">
                                            <Label row="0" col="0" class="body align-centre"
                                                [text]="item.dbmodel.user_fname + ' ' + item.dbmodel.user_lname"
                                                style="color: #396767;"></Label>

                                            <Label row="1" col="0" class="label-small align-centre"
                                                [text]="item.dbmodel.email"></Label>
                                        </GridLayout>
                                        <GridLayout row="0" col="1" columns="*" rows="auto, auto"
                                            style="vertical-align: center; text-align:center;color: #ebebeb;">
                                            <StackLayout row="1" class="list-layout" *ngIf="removeAccount">
                                                <Label row="0" col="0" text="&#xf1c0;" class="mdi list-text"
                                                    style="color:red;"></Label>
                                            </StackLayout>
                                        </GridLayout>
                                    </GridLayout>
                                    <GridLayout rows="*" columns="*, 70" row="1" col="0">
                                    </GridLayout>
                                    <StackLayout row="2" col="1" class="hr-light m-10"></StackLayout>
                                </GridLayout>
                            </GridLayout>

                        </ng-template>
                    </RadListView>
                </GridLayout>
                <GridLayout row="2" rows="auto" columns="auto, *, auto" style="vertical-align: center;">
                    <Label row="0" col="0 " [text]="listaccount ? 'Create account' : 'Choose an account' "
                        style="color: #00A6CE" (tap)="allreadyaccount()"></Label>
                    <!-- <Label row="0" col="0 " *ngIf="!listaccount" text="Create account" style="color: #00A6CE" (tap)="allreadyaccount()"></Label>
                    <Label row="0" col="0 " *ngIf="listaccount" text="Choose an account" style="color: #00A6CE" (tap)="allreadyaccount()"></Label> -->
                    <Label row="0" col="2" text="Remove an account" style="color: #00A6CE"
                        (tap)="removeaccount()"></Label>
                    <Button *ngIf="!listaccount" row="0" col="2" [text]="'Login'"
                        class="btn btn-primary-blue "></Button>
                </GridLayout>
            </GridLayout>

        </GridLayout>
    </GridLayout>
    <GridLayout *ngIf="!pinview">

        <GridLayout row="1" shadowOffsetWidth=1; class="card" style="width: 74%;">
            <StackLayout class="form" [formGroup]="userPinCheckForm">
                <GridLayout row="0" rows="80,auto,auto" columns="*" class="form"
                    style="padding: 10 20; background-color: #f0f0f0;">
                    <GridLayout row="0">
                        <Label class="signmainlabel" width="60" height="60" text="Sign In"></Label>
                    </GridLayout>
                    <GridLayout row="1" rows="auto,auto">
                        <StackLayout row="0">
                            <TextField hint="Pin" formControlName="userpin" keyboardType="number"
                                autocapitalizationType="none" secure="true" class="input input-border"></TextField>
                        </StackLayout>

                        <Label row="1" text="*pin is required " *ngIf="userpinIsValid" style="color:red"></Label>
                        <Label row="1" text="*Invalid pin,please re-enter pin" *ngIf="invalidPin"
                            style="color:red"></Label>

                    </GridLayout>
                    <GridLayout row="2" rows="auto" columns="auto, *, auto">
                        <Label row="0" col="0" text="Choose an account" style="vertical-align: center; color: #00A6CE"
                            (tap)="listview()"></Label>
                        <Button row="0" col="2" [text]="'Login'" (tap)="onsubmitPin()"
                            class="btn btn-primary-blue "></Button>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
        </GridLayout>
    </GridLayout>
</GridLayout>