<div class="row">
  <div class="col">
    <mat-card>
      <mat-expansion-panel [expanded]="isExpanded" (opened)="panelOpened()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="fa fa-filter" aria-hidden="true"></i>
            <span style="padding-left:10px">Filter</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-4 col-sm-3">
            <mat-form-field>
              <input matInput placeholder="First Name" [(ngModel)]="dataModel.fname">
              <button mat-button *ngIf="dataModel.fname" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.fname=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="col-md-4 col-sm-3">
            <mat-form-field>
              <input matInput placeholder="Last Name" [(ngModel)]="dataModel.lname">
              <button mat-button *ngIf="dataModel.lname" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.lname=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="col-md-4 col-sm-3">
            <mat-form-field>
              <input matInput placeholder="Patient Reg No" [(ngModel)]="dataModel.patientregno">
              <button mat-button *ngIf="dataModel.patientregno" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.patientregno=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="col-md-4 col-sm-3">
            <mat-form-field>
              <input matInput placeholder="Contact No" [(ngModel)]="dataModel.mobno">
              <button mat-button *ngIf="dataModel.mobno" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.mobno=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="col-md-4 col-sm-3">
            <mat-form-field>
              <mat-select placeholder="Ward" name="ward" [(ngModel)]="dataModel.spid">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let sp of splist" [value]="sp.spid">
                  {{sp.spname}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4 col-sm-3">
            <mat-form-field>
              <input matInput placeholder="Room/Bed Number" [(ngModel)]="dataModel.bedno">
              <button mat-button *ngIf="dataModel.bedno" matSuffix mat-icon-button aria-label="Clear"
                (click)="dataModel.bedno=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="col-md-4 col-sm-3">
            <mat-form-field>
              <mat-select placeholder="Hospitalized" [(ngModel)]="dataModel.status">
                <mat-option >All</mat-option>
                <mat-option [value]=1>Hospitalized</mat-option>
                <mat-option [value]=2>Discharged</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <button type="button" mat-raised-button color="primary" (click)="search()">Apply</button>
      </mat-expansion-panel>
    </mat-card>
  </div>
</div>