<div class="row">
  <div class="col-1 col-sm-1 col-md-2">
  </div>
  <div class="col-6 col-sm-6 col-md-4">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <i class="fa fa-tasks"></i>
        </div>
        <mat-card-title>Task Library</mat-card-title>
        <mat-card-subtitle>To add a task to chart: drag the task from library and drop in chart tasks</mat-card-subtitle>
      </mat-card-header>
      <div class="" [dragula]='"first-bag"' class="dnd-container" [dragulaModel]='taskLibrary'>
        <div *ngFor="let item of taskLibrary" class="text-center task_list">
          <mat-card class="drag-item-mat-card" id="task-ellipsis">{{item.taskname}}</mat-card>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-6 col-sm-6 col-md-4">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <i class="fa fa-tasks"></i>
        </div>
        <mat-card-title>Chart Tasks</mat-card-title>
        <mat-card-subtitle>Drag and drop tasks from library or you can add task.</mat-card-subtitle>
      </mat-card-header>
      <div class="" [dragula]='"first-bag"' class="dnd-container" [dragulaModel]='chartTasks'>
        <div *ngFor="let item of chartTasks" class="text-center task_list">
          <mat-card class="drag-item-mat-card" id="task-ellipsis">{{item.taskname}}</mat-card>
        </div>
      </div>
      <div [hidden]='!isTaskAdd'>
        <form [formGroup]="addTaskForm" (ngSubmit)="addTask()">
          <mat-card class="add-task-mat-card">
            <mat-form-field>
              <input matInput placeholder="Task Name" formControlName="taskNameControl" required [(ngModel)]="addNewTaskName" maxlength="50">
              <button color="accent" type="submit" matSuffix mat-icon-button aria-label="Add">
                <mat-icon aria-label="Save">check</mat-icon>
              </button>
              <button color="accent" type="button" matSuffix mat-icon-button aria-label="Cancel" (click)="cancelAddTask()">
                <mat-icon aria-label="Cancel">close</mat-icon>
              </button>
              <mat-error *ngIf="addTaskForm.controls['taskNameControl'].hasError('required') && addTaskForm.controls['taskNameControl'].pristine">
                {{'VALIDATION_REQUIRED_FIELD' | translate}}
              </mat-error>
            </mat-form-field>
          </mat-card>
        </form>
      </div>
      <mat-card-actions class="text-right">
        <button type="button" mat-button (click)="showAddTask()" aria-hidden="true" matTooltip="Add">ADD</button>
        <!-- <mat-icon class="mat-icon mat-primary material-icons" color="primary" aria-hidden="true" matTooltip="Add" (click)="showAddTask()">add_circle</mat-icon> -->
        <!-- <button mat-icon-button (click)="showAddTask()" >
          <mat-icon color='accete' aria-hidden="true" matTooltip="Add">add_circle</mat-icon>
        </button> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-md-2"></div>
  <div class="col-sm-8 col-md-8">
    <button mat-raised-button type="button" color="primary" (click)="previousClick()" style="margin-right:15px;" aria-hidden="true" matTooltip="Previous">Previous</button>
    <button mat-raised-button type="button" color="primary" (click)="nextClick()" aria-hidden="true" matTooltip="Next">Next</button>
  </div>
  <div class="col-sm-2 col-md-2"></div>
</div>