<ActionBar title="test" style="background-color: #396766; color: white;">
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="center" style="background-color: #396766; color: white;">
        <!-- <Label text="&#xf2ba;" class="fa"></Label> -->
  
      <Label text="patientcare" class="action-label"></Label>
      <Label text=".live" class="action-label" style="color: #FF8912"></Label>
    </StackLayout>
  </ActionBar>


  <FlexboxLayout style="justify-content: center;">
    <StackLayout class="form logincard">
      <Label *ngIf="isLoggingIn" class="signmainlabel" width="60" height="60" text="Sign In"></Label>
      <Label *ngIf="!isLoggingIn" class="signmainlabel" width="60" height="60" text="Sign Up"></Label>
      <StackLayout *ngIf="isLoggingIn">
        <TextField hint="Email Address" keyboardType="email" autocorrect="false" autocapitalizationType="none" [(ngModel)]="input.username"
          class="input input-border"></TextField>
      </StackLayout>
  
      <StackLayout *ngIf="isLoggingIn">
        <TextField hint="Password" secure="true" [(ngModel)]="input.password" class="input input-border"></TextField>
      </StackLayout>
  
      <StackLayout *ngIf="!isLoggingIn">
        <Label textWrap="true" class="sign-up-label m-20" text="Contact System Administrator to register a device with Device Key: 123456"></Label>
      </StackLayout>
      <Button [text]="'Sign in'" class="btn btn-primary" (tap)="login()" *ngIf="isLoggingIn"></Button>
      <Button [text]="'Sign up'" class="btn btn-primary" (tap)="login()" *ngIf="!isLoggingIn"></Button>
      <StackLayout class="hr-light m-10"></StackLayout>
  
      <AbsoluteLayout>
        <Label left="0" top="5" style="color: #00A6CE" text="Forget Password"></Label>
        <Label left="150" top="5" text="Powered by OpenSoach"></Label>
      </AbsoluteLayout>
  
      <Label class="login-label sign-up-label" (tap)="toggleForm()">
        <FormattedString>
          <Span [text]="isLoggingIn ? 'Don’t have an account? ' : 'Back to Login'"></Span>
          <Span [text]="isLoggingIn ? 'Register' : ''" class="bold"></Span>
        </FormattedString>
      </Label>
  
    </StackLayout>
  
  </FlexboxLayout>