<div class="row">
  <div class="col">
    <mat-card style="max-width:500px">
      <form [formGroup]="editableForm" (ngSubmit)="save()">
        <app-editable-form-header [editRecordBase]="this" (editClick)="editForm()"></app-editable-form-header>
        <mat-card-content>
          <div class=" form-group form-primary" *ngIf="formMode === 1">
            <mat-form-field>
              <input matInput placeholder="{{'OperatorAddOperatorName' | translate}}" formControlName="fopnameControl" required [(ngModel)]="dataModel.fopname"
                maxlength="50">
              <mat-error *ngIf="editableForm.controls['fopnameControl'].hasError('required') ">
                {{'VALIDATION_REQUIRED_FIELD'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="formMode === 0">
            <span class="viewlabel">{{'OperatorAddOperatorName' | translate}}</span>
            <label class="viewtext">{{ dataModel.fopname }}</label>
          </div>
          <div class=" form-group form-primary" *ngIf="formMode === 1">
            <mat-form-field>
              <input matInput placeholder="{{'OperatorAddOperatorCode' | translate}}" formControlName="fopcodeControl" required [(ngModel)]="dataModel.fopcode"
                maxlength="4">
              <mat-error *ngIf="editableForm.controls['fopcodeControl'].hasError('required') ">
                {{'VALIDATION_REQUIRED_FIELD'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="formMode === 0">
            <span class="viewlabel">{{'OperatorAddOperatorCode' | translate}}</span>
            <label class="viewtext">{{ dataModel.fopcode }}</label>
          </div>
          <div class=" form-group form-primary" *ngIf="formMode === 1">
            <mat-form-field>
              <span matPrefix>+91 &nbsp;</span>
              <input matInput placeholder="Mobile Number" formControlName="mobilenoControl" required [(ngModel)]="dataModel.mobileno" maxlength="10">
              <mat-error *ngIf="editableForm.controls['mobilenoControl'].hasError('required') ">
                {{'VALIDATION_REQUIRED_FIELD'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="formMode === 0">
            <span class="viewlabel">Mobile Number</span>
            <label class="viewtext">{{ dataModel.mobileno }}</label>
          </div>
          <div class=" form-group form-primary" *ngIf="formMode === 1">
            <mat-form-field>
              <input matInput placeholder="Email Id" type="email" formControlName="emailidControl" [(ngModel)]="dataModel.emailid" maxlength="254">
            </mat-form-field>
          </div>
          <div *ngIf="formMode === 0">
            <span class="viewlabel">Email Id</span>
            <label class="viewtext">{{ dataModel.emailid }}</label>
          </div>
          <div class="form-group form-primary" *ngIf="formMode === 1">
            <mat-form-field>
              <mat-select placeholder="State" formControlName="fopstateControl" required [(ngModel)]="dataModel.fopstate">
                <mat-option *ngFor="let opstate of operatorStates" [value]="opstate.value">
                  {{opstate.text | translate}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="editableForm.controls['fopstateControl'].hasError('required') ">
                {{'VALIDATION_REQUIRED_FIELD'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="formMode === 0">
            <span class="viewlabel">State </span>
            <label class="viewtext">{{ getoperatorstate(dataModel.fopstate)| translate }}</label>
          </div>
          <div class="form-group form-primary" *ngIf="formMode === 1">
            <mat-form-field>
              <mat-select placeholder="Area" formControlName="fopareaControl" required [(ngModel)]="dataModel.foparea">
                <mat-option *ngFor="let oparea of operatorAreas" [value]="oparea.value">
                  {{oparea.text | translate}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="editableForm.controls['fopareaControl'].hasError('required') ">
                {{'VALIDATION_REQUIRED_FIELD'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="formMode === 0">
            <span class="viewlabel">Area </span>
            <label class="viewtext">{{ getoperatorarea(dataModel.foparea)| translate }}</label>
          </div>
          <app-editable-form-footer-toolbar [editRecordBase]="this" (editClick)="editForm()"></app-editable-form-footer-toolbar>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>