<RadListView #myListView [items]="_dataItems" multipleSelection="false" selectionBehavior="Press">
    <ng-template tkListItemTemplate let-item="item">
        <GridLayout columns="*" rows="auto, auto, auto" style="justify-content: center; vertical-align: center; padding:10px;">
            <Label row="0" class="body" textWrap="true" text="PATIENT DETAILS"></Label>
            <StackLayout row="1" class="hr-light m-10"></StackLayout>
            <GridLayout row="2" columns="*, auto" rows=" auto, auto, auto">

                <GridLayout row="0" col="0" columns="auto" rows="auto" style=" margin-top:5px;">
                    <StackLayout col="0">
                        <Label class="body" textWrap="true" text="Name"></Label>
                        <Label class="labelleft" textWrap="true" [text]="item.name"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="0" col="1" columns="auto, auto" style=" margin-top:5px;">
                    <StackLayout col="0">
                        <Label class="body" textWrap="true" text="Hospitalised on"></Label>
                    </StackLayout>
                    <StackLayout col="1" style="margin-left: 5px;">
                        <Label textWrap="true" [text]="item.hospitalised"></Label>
                    </StackLayout>
                </GridLayout>

                <GridLayout row="1" col="0" columns="auto,*,auto,auto" rows="auto" style="margin-top:5px;">
                    <StackLayout col="0">
                        <Label class="body" textWrap="true" text="Registration Number"></Label>
                        <Label class="labelleft" textWrap="true" [text]="item.rno"></Label>
                    </StackLayout>
                </GridLayout>

                <GridLayout row="2" col="0" columns="auto,*,auto,auto" rows="auto" style=" margin-top:5px;">
                    <StackLayout col="0">
                        <Label class="body" textWrap="true" text="Rome/Bed Number"></Label>
                        <Label class="labelleft" textWrap="true" [text]="item.bedno"></Label>
                    </StackLayout>

                </GridLayout>

                <GridLayout row="2" col="1" columns="auto, auto" style=" margin-top:5px;">
                    <StackLayout col="0">
                        <Label style="color:#FF8912;" textWrap="true" [text]="item.weight"></Label>
                    </StackLayout>
                </GridLayout>
            </GridLayout>

        </GridLayout>
    </ng-template>
</RadListView>