.charts {}

.designcard {
    font-size: 34;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.cardbox {
    padding: 5 10;
    background-color: #f0f0f0;
    border-radius: 8px;
    width: 46%;
    margin: 0px 2%;
    height: 25%;
}
.intentbox{
    background-color:#008BFF; 
    vertical-align: center; 
    height:350px
}
.outputbox{
    background-color:#FF3A7F; 
    vertical-align: center; 
    height:350px
}
.medicalbox{
    background-color:#FFBD00; 
    vertical-align: center; 
    height:350px
}
.outbox{
    background-color:#00A84F; 
    vertical-align: center; 
    height:350px
}