#side {
    overflow: hidden;
    z-index: 3;
}
#side.toggle div a .label,#side.toggle div a i .label{display:visible;
    transition: all 0.7s  ease-in-out;   
}
#side.toggle {
    width: 50px;
    transition: all 0.5s  ease-in-out;  
}
#side {
    background-color: white;
    height: 90vh;
    box-shadow: 0 0 50px rgba(33,33,33,.2); 
}
#side .list-group-item {
    color: #ccc;
    border: none;
    white-space: nowrap;
    background-color: white;
    border-radius: 8px;
}
.label{margin-left: 20px;
    }

.list-group{padding: 3px;}
#side a.list-group-item
{
    color: #989A7C;
}
#side a.list-group-item:hover {   
    box-shadow: 0 0 50px rgba(33,33,33,.2); 
}
#side a.list-group-item:hover i, #side a.list-group-item:hover span {    
    transition: all 0.3s  ease-in-out;
}
#side a.list-group-item:focus{
    background-color: #37A5CD;
    color: white;
    }
.selectedMenuItem
{
    background-color: #37A5CD !important;
    color: white !important;
}   
@media (max-width:768px) {
    #side {display: hidden;
        width: 0px;
        }  
        #side.toggle {
            min-width: 200px;
            background-color: white;
        }
         
}

#side .list-group-item {
    text-align: left;
}
#side.toggle {
    background-color: hsl(0, 0%, 100%);    
}



#side a.list-group-item:hover {
    color: hsl(0, 0%, 100%) !important;
}
#side.toggle a {
    padding-left: 12px;
}
#side.toggle.list-group-item {
    border-radius: 0 !important;
    padding-left: 17px !important;
}
#side.toggle .list-group{
    padding: 0px;
}

#side a.list-group-item:hover {
    background: hsl(196, 60%, 51%) none repeat scroll 0 0 !important;
    box-shadow: 0 0 50px hsla(0, 0%, 13%, 0.2);
    color: #ffffff !important;
}
#side.list-group-item {
    border-radius: 2px !important;
}
#side .list-group-item {
    border-radius: 0 !important;
    font-size: 14px;
    padding-left: 16px !important;
}
.list-group {
    /* padding-bottom: 0 !important;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px; */
    padding: 0px;
}

