<section class="content-block">
  <div class="container-fluid">
    <div class="row" id="main-content">
      <div class="auth-box card">
        <div class="card-block">
          <div class="col-sm col-md m-b-30 col">
            <h3 class="text-center"></h3>
            <form class="md-float-material form-material" id="user-details" [formGroup]="myForm" (ngSubmit)="save()">
              <h5>First Contact </h5>
              <div class="form-group form-primary">
                <mat-form-field class="full-width" id="point-selection ">
                  <input matInput placeholder="First Name" formControlName="firstName" required [(ngModel)]="userfisname">
                  <mat-error *ngIf="myForm.controls['firstName'].hasError('required') ">
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group form-primary">
                <mat-form-field class="full-width" id="point-selection">
                  <input matInput placeholder="Last Name" formControlName="lastName" required [(ngModel)]="userlasname">
                  <mat-error *ngIf="myForm.controls['lastName'].hasError('required') ">
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group form-primary">
                <mat-form-field id="telephone">
                  <span matPrefix>+91 &nbsp;</span>
                  <input type="tel" matInput placeholder="Telephone" formControlName="mobileNumber" required [(ngModel)]="usermobilenumber">
                  <mat-error *ngIf="myForm.controls['mobileNumber'].hasError('required') ">
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
              <h5>Alternate Contact</h5>
              <div class="form-group form-primary">
                <mat-form-field id="telephone">
                  <span matPrefix>+91 &nbsp;</span>
                  <input type="tel" matInput placeholder="Alternate Contact" [(ngModel)]="usernumbersecond">
                </mat-form-field>
              </div>
              <div class="form-group form-primary">
                <mat-form-field>
                  <mat-select placeholder="Gender" formControlName="userGender" required [(ngModel)]="usergend">
                    <mat-option>
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="myForm.controls['userGender'].hasError('required') ">
                    This field is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group form-primary">
                <button type="submit" class="btn btn-primary" id="submit-button">submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>