<GridLayout columns="*" height="100%" width="100%" rows="*">
    <GridLayout columns="*" rows="auto,*" row="0">
        <GridLayout row="0" columns="auto, *, auto" rows="65" style="background-color: #396766; color: white; vertical-align: center;padding: 0px 15px;">
            <GridLayout col="0" style="vertical-align: center;">
                <RL:Ripple rippleColor="#fff" class="ripplecenter" borderRadius="5" height="37" width="37" (tap)="goBackPage()">
                    <Label text="&#xf156;" class="homeicon mdi mdi"></Label>
                </RL:Ripple>
            </GridLayout>
            <Label col="1" text="Schedule – Intake" style="text-align:center;  vertical-align: center;"></Label>
            <GridLayout col="2" style="vertical-align: center;">
                <RL:Ripple rippleColor="#fff" class="ripplecenter" borderRadius="5" height="37" width="37" (tap)="onSubmit()">
                    <Label text="&#xf12c;" class="homeicon mdi mdi" style="margin-right: 1px"></Label>
                </RL:Ripple>
            </GridLayout>
        </GridLayout>
        <ScrollView row="1">
            <GridLayout class="form" [formGroup]="intakeForm">
                <GridLayout rows="auto, auto, auto, auto, auto,auto,auto, auto, auto" style="margin-bottom:10px;">
                    <GridLayout row="0" class="input-field">
                        <Label text="Intake Type" class="body"></Label>
                    </GridLayout>
                    <GridLayout row="1" columns="80, *, 80">
                        <GridLayout class="input-field" col="1">
                            <ListPicker [items]="intakeType" formControlName="intakeType" (selectedIndexChange)="intakeTypeIndexChanged($event)"
                                selectedIndex="0" class="p-15 picker">
                            </ListPicker>
                        </GridLayout>
                    </GridLayout>
                    <GridLayout row="2" rows="auto auto auto auto" class="input-field">
                        <GridLayout row="0">
                            <Label text="Intake Name" class=body></Label>
                        </GridLayout>
                        <GridLayout row="1">
                            <TextField class="input" formControlName="name"></TextField>
                        </GridLayout>
                        <GridLayout row="2" class="hr-light" [ngClass]="{invalid: intakeNameIsValid === true}">
                        </GridLayout>
                        <GridLayout row="3" class="input-field" *ngIf="intakeNameIsValid">
                            <Label text="*intake name is required " style="color:red"></Label>
                        </GridLayout>
                    </GridLayout>
                    <GridLayout row="3" rows="auto auto auto auto" class="input-field">
                        <GridLayout row="0">
                            <Label text="Quantity" class="body"></Label>
                        </GridLayout>
                        <GridLayout row="1">
                            <TextField class="input" formControlName="quantity" hint="No. of units"></TextField>
                        </GridLayout>
                        <GridLayout row="2" class="hr-light" [ngClass]="{invalid: quantityIsValid === true}"></GridLayout>
                        <GridLayout row="3" class="input-field" *ngIf="quantityIsValid">
                            <Label text="*quantity name is required " style="color:red"></Label>
                        </GridLayout>
                    </GridLayout>
                    <GridLayout row="4" rows="auto auto auto auto auto" class="input-field">
                        <GridLayout row="0" class="input-field">
                            <Label text="Frequency" class="body"></Label>
                        </GridLayout>
                        <GridLayout row="1" columns="80, *, 80">
                            <GridLayout class="input-field" col="1">
                                <ListPicker [items]="frequencyType" formControlName="frequency" selectedIndex="0"
                                    textField="name" valueField="value" value="value" (selectedIndexChange)="onFrequencySelectedIndexChange($event)"
                                    class="p-15 picker">
                                </ListPicker>
                            </GridLayout>
                        </GridLayout>
                        <!-- mark up for after x intervals -->
                        <GridLayout row="2" rows="auto auto auto,auto" *ngIf="freqSelectedIndex===0 ">
                            <GridLayout row="0" rows="auto auto auto auto" class="input-field">
                                <GridLayout row="0">
                                    <Label col="0" row="0" text="Enter interval in hours" class="body"></Label>
                                </GridLayout>
                                <GridLayout row="1">
                                    <TextField col="1" row="0" class="input" keyboardType="number" formControlName="interval">
                                    </TextField>
                                </GridLayout>
                            <!-- interval hours validations   -->
                                   <GridLayout row="2" class="hr-light" [ngClass]="{invalid: intervalIsValid === true}">
                                </GridLayout>
                                <GridLayout row="3" class="input-field" *ngIf="intervalIsValid">
                                    <Label text="*interval hours is required " style="color:red"></Label>
                                </GridLayout>
                                <GridLayout row="4" class="input-field" *ngIf="invalidIntervalHours">
                                    <Label text="*Invalid interval hours" style="color:red"></Label>
                                </GridLayout>
                            <!-- interval hours validations ends here  -->
                            </GridLayout>


                            <GridLayout row="1" rows="auto auto auto auto,auto" class="input-field">
                                <GridLayout row="0">
                                    <Label col="0" row="1" text="Enter no. of times" class="body"></Label>
                                </GridLayout>
                                <GridLayout row="1">
                                    <TextField col="1" row="0" class="input" keyboardType="number" formControlName="numberofTimes">
                                    </TextField>
                                </GridLayout>
                                 <!-- number of times validations -->
                                 <GridLayout row="2" class="hr-light" [ngClass]="{invalid: numberOfTimesValid === true}">
                                </GridLayout>
                                <GridLayout row="3" class="input-field" *ngIf="isNumberOfTimes">
                                    <Label text="*No. of times is required " style="color:red"></Label>
                                </GridLayout>
                                <GridLayout row="4" class="input-field" *ngIf="intakeForm.get('numberofTimes').hasError('max')">
                                    <Label text="*No. of times can not greater than {{numberOFTimesDosage}} " style="color:red"></Label>
                                </GridLayout>
                                <!-- ends here -->
                            </GridLayout>


                            <GridLayout row="2" rows="auto auto auto" class="input-field">
                                <GridLayout row="0">
                                    <Label text="Start Time" class="body"></Label>
                                </GridLayout>
                                <GridLayout row="1">
                                    <TimePicker verticalAlignment="center" class="m-15" formControlName="startTime">
                                    </TimePicker>
                                </GridLayout>
                                <GridLayout row="2" *ngIf="isStartTimeValid">
                                    <Label textWrap="true" text="Start time should be greater than current time or 10 minutes less"
                                        style="color:red"></Label>
                                </GridLayout>
                            </GridLayout>
                        </GridLayout>
                        <!-- mark up for as at specific times -->
                        <GridLayout row="3" rows="auto auto auto auto auto auto" *ngIf="freqSelectedIndex===1" class="input-field">
                            <GridLayout row="0">
                                <Label text="Specific Time"></Label>
                            </GridLayout>
                            <GridLayout row="1">
                                <TimePicker verticalAlignment="center" class="m-15" formControlName="specificTime">
                                </TimePicker>
                            </GridLayout>
                            <GridLayout row="2">
                                    <button row="0" (tap)="addSpecificTime()" text="Add Time"></button>
                                    <label row="1" *ngIf="addSpecificTimeExceeded" style="color:red;" text="Maximum 12 time slots can be added"></label>
                            </GridLayout>
                            <GridLayout row="3">
                                <RadListView [items]="specifictimes">
                                    <ng-template tkListItemTemplate let-item="item">
                                            <GridLayout rows="30" columns="*,*">
                                                    <Label row="0" col="0" text="{{item | date:' h:mm a' }}"></Label>
                                                    <Label row="0" col="1" text="&#xf1c0;" class="mdi list-text" style="color:red;"(tap)="removeScheduleTime(item)"></Label>
                                                    <!-- <Label text="&#xfa79;"  row="0"  col="1" class="mdi"></Label> -->
                                               </GridLayout>                                       
                                    </ng-template>
                                </RadListView>
                            </GridLayout>
                            <GridLayout row="4" class="hr-light" [ngClass]="{invalid: isspecificTime === true && specifictimes.length ==0}">
                            </GridLayout>
                            <GridLayout row="5" *ngIf="isspecificTime && specifictimes.length ==0">
                                <Label text="*Time required " style="color:red"></Label>
                            </GridLayout>
                        </GridLayout>
                        <!-- mark up for as required -->
                        <GridLayout row="4" rows="auto auto auto auto" class="input-field" *ngIf="freqSelectedIndex==2">
                            <GridLayout row="0">
                                <Label text="Enter Special Instructions" class="body"></Label>
                            </GridLayout>
                            <GridLayout row="1">
                                <TextField class="input" formControlName="splinstruction"></TextField>
                            </GridLayout>
                            <GridLayout row="2" class="hr-light" [ngClass]="{invalid: intervalIsValid === true}">
                            </GridLayout>
                            <GridLayout row="3" class="input-field" *ngIf="isSplinstructions">
                                <Label text="*Special instructions is required " style="color:red"></Label>
                            </GridLayout>
                        </GridLayout>
                    </GridLayout>

                    <GridLayout row="5" rows="auto auto auto auto,auto,auto" class="input-field">
                        <GridLayout row="0">
                            <Label text="Duration" class="body"></Label>
                        </GridLayout>
                        <GridLayout row="1">
                            <TextField class="input" keyboardType="number" hint="No. of days" formControlName="duration">
                            </TextField>
                        </GridLayout>
                               <!-- duration validations starts  -->
                               <GridLayout row="2" class="hr-light" [ngClass]="{invalid: durationIsValid === true}"></GridLayout>
                               <GridLayout row="3" class="input-field" *ngIf="durationIsValid">
                                   <Label text="*duration is required " style="color:red"></Label>
                               </GridLayout>
                               <GridLayout row="4" class="input-field" *ngIf="intakeForm.get('duration').hasError('pattern')">
                                   <Label text="*Only whole numbers are allowed" style="color:red"></Label>
                               </GridLayout>
                               <GridLayout row="5" class="input-field" *ngIf="intakeForm.get('duration').hasError('max')">
                                   <Label text="*You can not enter duration greater than 20 days" style="color:red"></Label>
                               </GridLayout>
                         <!-- end of eduration validations -->
                    </GridLayout>

                    <GridLayout row="6" rows="auto auto auto auto" class="input-field">
                        <GridLayout row="0">
                            <Label text="Start Date" class="body"></Label>
                        </GridLayout>
                        <GridLayout row="1">
                            <DatePicker verticalAlignment="center" formControlName="startDate"></DatePicker>
                        </GridLayout>
                        <GridLayout row="2" class="hr-light" [ngClass]="{invalid: SrtartdateIsValid === true}">
                        </GridLayout>
                        <GridLayout row="3" class="input-field" *ngIf="SrtartdateIsValid">
                            <Label text="*Start date is required " style="color:red"></Label>
                        </GridLayout>
                    </GridLayout>
                    <GridLayout row="7" rows="auto auto auto" class="input-field">
                        <GridLayout row="0">
                            <Label text="Remark" class="body"></Label>
                        </GridLayout>
                        <GridLayout row="1">
                            <TextView formControlName="remark" hint="Enter Remark" editable="true" class="input">
                            </TextView>
                        </GridLayout>
                        <GridLayout row="2" class="hr-light"></GridLayout>
                    </GridLayout>
                </GridLayout>
            </GridLayout>
        </ScrollView>
    </GridLayout>
</GridLayout>