.ratingStar
{
    font-size: 18px;
}

.ratingStar.filled
{
    color: #ffa700;
}
.ratingStar.notfilled
{
    color: #d6d6d6;
}
.ratingProgress
{
    background-color: #ffa700 !important;
}
@media(max-width: 1143px) and (min-width: 700px) {
.starlabel{
    white-space: nowrap; 
    overflow: hidden;
    /* text-overflow:ellipsis; */
}
}
