<section class="login-block">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <form class="md-float-material form-material" action="javascript:">
          
          <div class="row" id="form-id">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <div class="auth-box card">
                <div class="card-block">
                  <div class="row m-b-30">
                    <div class="col-md-12">
                      <h3 class="text-center">Recover your password</h3>
                    </div>
                  </div>
                  <div class="form-group form-primary">
                    <mat-form-field>
                      <input matInput placeholder="Enter your email" required class="form-control">
                    </mat-form-field>
                    </div>
                  <div class="row m-t-30">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-primary btn-md btn-block waves-light text-center m-b-20" mdbRippleRadius>Reset Password</button>
                    </div>
                  </div>
                  <hr/>
                  <div class="row">
                    <div class="col-md-10">
                      <p class="text-inverse text-left m-b-0">Powered by OpenSoach.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4"></div>
          </div>
        </form>
        <!-- end of form -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>