.not-active {
    pointer-events: none;
    cursor: default;
}
#bread-crumb-links li {display: inline;}
#bread-crumb-links li a, li i, li span {color: white;}
#right-icon{padding: 0px 10px}
#bread-crumb-links {
    float: left;
    margin-top: 4px !important;
    width: 100%;
}
#bread-crumb-links li {
    float: left;
    margin-left: 0 !important;
    margin-right: 5px;
    padding-left: 0 !important;
    text-align: left;
}