<!-- <div id="test" style="background-color:red"> -->
  <div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-12 col-sm-12">
          <div class="page-header-title">
            <span *ngFor="let breadcrumb of breadcrumbs; let last = last">
              <h4 *ngIf="last" class="m-b-10" style="color:white;">{{ breadcrumb.pagetitle }}</h4>
            </span>
          </div>
          <div id="bread-crumb-links">
            <li>
              <a [routerLink]="['']" style="text-decoration: none;" skipLocationChange>
                <i class="fa fa-home"></i>
              </a>
            </li>
            <li *ngFor="let breadcrumb of breadcrumbs;">
              <i class="fa fa-angle-right" id="right-icon"></i>
              <a [ngClass]="breadcrumb.clickable === false ? 'not-active': ''" [routerLink]="breadcrumb.url" skipLocationChange>{{breadcrumb.breadcrumbtitle}}</a>
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->