<GridLayout rows="auto, auto" columns="*" height="100%" width="100%" style="background-color:#396766; padding: 20px 20px;">
    <GridLayout row="0" rows="auto" columns="auto, auto" style="padding: 10px 10px;">
        <StackLayout row="0" col="0" class="cardbox intentbox">
            <Label textWrap="true" text="Intent" class="designcard"></Label>
        </StackLayout>
        <StackLayout row="0" col="1" class="cardbox outputbox">
            <Label textWrap="true" text="Output" class="designcard"></Label>
        </StackLayout>
    </GridLayout>
    <!-- <StackLayout row="0" col="1" class="cardbox">
            <Label class="body" textWrap="true" text="Output"></Label>
            <StackLayout class="hr-light m-10"></StackLayout>
        </StackLayout> -->
    <GridLayout row="1" rows="auto, auto" columns="auto, auto" style="padding: 10px 10px;">
        <StackLayout row="0" col="0" class="cardbox medicalbox">
            <Label textWrap="true" text="Medical" class="designcard"></Label>
        </StackLayout>
        <StackLayout row="0" col="1" class="cardbox outbox">
            <Label textWrap="true" text="Output" class="designcard"></Label>
        </StackLayout>
    </GridLayout>
</GridLayout>