.charts {}

.card-layout {
    padding: 12;
}

.card-layout .h1 {
    margin-bottom: 15;
}

.lextra-container {
    position: relative;
}

.cardeffect {
    width: 95%;
    /* padding: 5 10; */
    /* background-color: #f0f0f0; */
    border-radius: 8px;
}

.listItemStackLayout {
    background-color: #ffffff;
    /* padding-left: 5; */
    padding-right: 5;
    /* border-radius: 5px; */

}

.labelName {
    font-size: 20;
    margin-bottom: 8;
}

.labelTitle {
    font-size: 14;
    font-weight: bold;
}

.labelText {
    font-size: 12;
}

/* right side button css start */

.center {
    horizontal-align: center;
}

.right {
    horizontal-align: right;
    margin-top: 45%;
    /* padding-right: 20; */
}

.float-btn-cat-text {
    color: #ffffff;
    font-size: 17;
    color: rgba(255,255,255,1);
    /* opacity: 1; */
    /* background-color: red;
    padding: 5; */
}


.float-btn-cat {
    /* background-color: #696969; */
    border-radius: 3px;
    /* border-radius:22; */
    width: 23;
    height: 23;
    text-align: center;
    vertical-align: middle;
    /* opacity:0.7; */
    background-color: rgb(105, 105, 105, 0.6);
}

.category-header {
    background-color: #00A6CE;
    padding: 15;
    color: #ffffff;
    font-weight: bold;
}

/* right side button css end */

/* selected css start */

.item-selected {
    border-width: 1;
    border-color: #990033;
}

/* selected css end */

/* swipe action animated swipe css start */

.markViewStackLayout {
    background-color: blue;
    padding: 16
}

.deleteViewStackLayout {
    background-color: red;
    padding: 16;
}

.gridLayoutLayout {
    background-color: white;
}

.markViewStackLayout {
    background-color: blue;
    padding-left: 16;
    padding-right: 16;
}

.swipeTemplateLabel {
    size: 20;
}

.deleteViewStackLayout {
    background-color: red;
    padding-left: 16;
    padding-right: 16;
}

/* swipe action animated swipe css end */

/* grouping title color change css  start*/

.groupLabelIntake {
    /* background-color: #00A6CE; */
    padding: 15;
    color: #ffffff;
    font-weight: bold;
}

.groupLabelMonitor {
    /* background-color: #396766; */
    padding: 15;
    color: #ffffff;
    font-weight: bold;
}

.groupLabelMedicine {
    /* background-color: #396766; */
    padding: 15;
    color: #ffffff;
    font-weight: bold;
}

.groupLabelOutput {
    /* background-color: #396766; */
    padding: 15;
    color: #ffffff;
    font-weight: bold;
}

/* grouping title color change css  start*/

.button-clicked {
    color: #FF8910;
}

.example-class {
    color: red;
}

.other-class {
    color: green;
}

.hr-lightt {
    display: block;
    /* height: 1px; */
    /* border: 0px; */
    border-top: 1px solid #396766;
    margin: 0 0;
    padding: 3px 0px;
}