<GridLayout rows="*" columns="*" height="100%" width="100%" [class.dialogOpen]="dialogOpen">
    <GridLayout rows="auto,*" columns="*" height="100%" width="100%">

        <GridLayout row="0" rows="auto" columns="*, auto" class="m-5" style="vertical-align: center;padding-top: 2;padding-bottom: 2">
            <Label class="pageHeaderTitle" [text]="completeorpending" textWrap="true" row="0" col="0"></Label>
            <StackLayout col="1" orientation="horizontal">
                <RL:Ripple rippleColor="#fff" class="ripplecenter " (tap)="activeList()" (tap)="activeSchedule = true">
                    <Label text="Active" [class.tab-clicked]="activeSchedule" class="tab-layout"></Label>
                </RL:Ripple>
                <Label text="|" class="tab-layout-separator"></Label>
                <RL:Ripple rippleColor="#fff" class="ripplecenter " (tap)="compilitedList()" (tap)="allSchedule = true">
                    <Label text="All" [class.tab-clicked]="allSchedule" class="tab-layout"></Label>
                </RL:Ripple>
            </StackLayout>
        </GridLayout>
        <GridLayout row="1" rows="*" columns="*,auto" height="100%" width="100%" class="content">
            <RadListView #myListView [items]="_listItems" (loaded)="listLoaded()" [groupingFunction]="_funcGrouping"
                colSpan="2" (itemTap)="onItemTap($event)" [itemTemplateSelector]="templateSelector">
                <ng-template tkListItemTemplate let-item="item">
                    <GridLayout row="0" columns="70, *" rows="auto, auto " class="listItemStackLayout">
                        <GridLayout row="0" col="0" columns="*" rows="auto, auto" style="vertical-align: center; text-align:center;color: #ebebeb;"
                            [text]="item.status">
                            <StackLayout row="1" class="list-layout">
                            <StackLayout row="0" col="0" *ngIf="item.dbmodel.status==0">
                                    <Label text="&#xf020;" class="mdi list-text" [ngClass]="checkEnddate(item.dbmodel.end_date) ? 'green':'normal'"></Label>
                            </StackLayout>                               
                                <Label row="0" col="0" text="&#xf15a;" class="mdi list-text cancelled" *ngIf="item.dbmodel.status==1"></Label> 
                            </StackLayout>                          
                          
                        </GridLayout>
                        <GridLayout row="0" col="1" columns="*" rows="auto, auto" class="list-layout">
                            <Label row="0" col="0" class="body" [text]="item.conf.name" style="color: #396767;"></Label>
                            <Label row="1" col="0" class="label-small" textWrap="true" [text]="item.conf.desc"
                                style="margin-left: 10px;"></Label>
                        </GridLayout>
                        <GridLayout row="1" col="1" columns="*" rows="auto" style="padding-left:7%">
                            <StackLayout row="0" col="0" class="hr-light m-10"></StackLayout>
                        </GridLayout>
                    </GridLayout>
                </ng-template>
                <ng-template tkGroupTemplate let-category="category">
                    <StackLayout class="category-header">
                        <StackLayout style="background-color:#f6f6f6;" height="7"></StackLayout>
                        <Label class="nameLabel" [text]="category"></Label>
                    </StackLayout>
                </ng-template>
                <!-- read onley expand view  starts from here -->
                <ng-template tkTemplateKey="expanded" let-item="item">
                    <GridLayout row="0" columns="70, *" rows="auto, auto,auto " class="listItemStackLayout">
                        <GridLayout row="0" col="0" columns="*" rows="auto, auto" style="vertical-align: center; text-align:center;color: #ebebeb;"
                            [text]="item.status">
                            <StackLayout row="1" class="list-layout">
                                    <StackLayout row="0" col="0" *ngIf="item.dbmodel.status==0">
                                            <Label text="&#xf020;" class="mdi list-text" [ngClass]="checkEnddate(item.dbmodel.end_date) ? 'green':'normal'"></Label>
                                    </StackLayout>     
                                <Label row="0" col="0" text="&#xf15a;" class="mdi list-text cancelled" *ngIf="item.dbmodel.status==1"></Label>                                 
                            </StackLayout>
                        </GridLayout>
                         <GridLayout row="0" col="1"  rows="auto, auto "  class="list-layout">
                            <Label row="0" col="0" class="body" [text]="item.conf.name" style="color: #396767;"></Label>
                            <Label row="1" col="0" class="label-small" textWrap="true" [text]="item.conf.desc"
                                style="margin-left: 10px;"></Label>
                        </GridLayout>
                        <!-- medicine config  details view -->
                        <GridLayout row="1" col="1" columns="*" rows="auto,auto,auto" class="list-layout" *ngIf="item.dbmodel.conf_type_code==configCodeType.MEDICINE">
                            <!-- medicine type  -->
                            <GridLayout row="0" col="0" columns="*,*" rows="auto">
                                <Label row="0" col="0" class="body" text="Medicine Type" style="color: #396767;"></Label>
                                <Label row="0" col="1" class="label-small" textWrap="true" [text]="item.conf.medicinetype"></Label>
                               </GridLayout>       
                                <!--  frequency zero  -->                   
                            <GridLayout row="1" col="0" columns="*,*" rows="auto,auto,auto"  *ngIf="item.conf.frequency===freuencyZero">
                                       <Label row="0" col="0" class="body" text="Frequency" style="color: #396767;"></Label>
                                       <GridLayout row="0" col="1" columns="*" rows="auto,auto,auto"> 
                                           <Label row="0"  class="label-small" textWrap="true" *ngIf="item.conf.mornFreqInfo.freqMorn" text="{{'Morning' + ': ' + item.conf.mornFreqInfo.mornFreqQuantity}}"></Label>
                                        <Label row="1" class="label-small" textWrap="true" *ngIf="item.conf.aftrnFreqInfo.freqAftrn" text="{{'Afternoon' + ': ' + item.conf.aftrnFreqInfo.aftrnFreqQuantity}}"></Label>
                                        <Label row="2"  class="label-small" textWrap="true" *ngIf="item.conf.nightFreqInfo.freqNight" text="{{'Night' + ': ' + item.conf.nightFreqInfo.nightFreqQuantity}}"></Label> 
                                        </GridLayout>
                             </GridLayout>    
                                <!--  frequency one  -->                   
                            <GridLayout row="1" col="0" columns="*,*" rows="auto,auto,auto,auto"  *ngIf="item.conf.frequency===freuencyOne">
                                           <Label row="0" col="0" class="body" text="Frequency" style="color: #396767;"></Label>
                                           <Label row="0" col="1" class="label-small" textWrap="true"  text="{{item.conf.numberofTimes + ' times a day'}}"></Label>
                                           <Label row="1" col="1" class="label-small" textWrap="true" text="Starts at {{ convertToDate(item.conf.startTime) | date:'shortTime' }}"></Label>
                                           <Label row="2" col="1" class="label-small" textWrap="true"  text="{{item.conf.quantity}} dosage"></Label> 
                                           <Label row="3" col="1" class="label-small" textWrap="true"  text="Repeat every {{timeConvert(item.conf.interval)}}"></Label> 
                                        </GridLayout>                          
                        </GridLayout>
                        <!-- intake config details view  -->
                        <GridLayout row="1" col="1" columns="*" rows="auto" class="list-layout" *ngIf="item.dbmodel.conf_type_code==configCodeType.INTAKE">

                           
                            <GridLayout row="0" col="0" columns="*,*" rows="auto,auto,auto"  *ngIf="item.conf.frequency===freuencyZero">
                                <Label row="0" col="0" class="body" text="Frequency" style="color: #396767;"></Label>
                                <Label row="0" col="1" class="label-small" textWrap="true"  text="{{item.conf.numberofTimes + ' times a day'}}"></Label>
                                <Label row="1" col="1" class="label-small" textWrap="true" text="Starts at {{convertToDate(item.conf.startTime) | date:'shortTime' }}"></Label>
                                <Label row="2" col="1" class="label-small" textWrap="true"  text="{{'Repeat every '+  timeConvert(item.conf.interval)}}"></Label> 
                          </GridLayout>               
                          <GridLayout row="0" col="0" columns="*,*" rows="auto"  *ngIf="item.conf.frequency===freuencyOne">
                            <Label row="0" col="0" class="body" text="Frequency" style="color: #396767;"></Label>
                            <GridLayout row="0" col="1" columns="*" rows="auto,auto"> 
                                <Label  textWrap="true" row="0"  class="label-small">
                                    <FormattedString class="label-small" >
                                        <Span class="label-small"   text="{{item.conf.specificTimes.length}} times a day at "></Span>
                                        <Span class="label-small"   *ngFor="let items of item.conf.specificTimes;let i=index" text="{{convertToDate(items) | date:'shortTime'}} {{ isNextElementAvailable(i, item.conf.specificTimes.length-1)}} ">
                                           </Span>                                    
                                    </FormattedString>                                
                                  </Label>  
                                  <Label row="1"  class="label-small" text="Quantity: {{item.conf.quantity}}" style="color: #396767;"></Label>
                             </GridLayout>     
                        </GridLayout> 
                        </GridLayout>
                        <!-- Monitor details view  -->
                        <GridLayout row="1" col="1" columns="*" rows="auto,auto,auto" class="list-layout" *ngIf="item.dbmodel.conf_type_code==configCodeType.MONITOR">
                            <GridLayout row="0" col="0" columns="*,*" rows="auto,auto,auto"  *ngIf="item.conf.frequency===freuencyZero">
                                <Label row="0" col="0" class="body" text="Frequency" style="color: #396767;"></Label>
                                <Label row="0" col="1" class="label-small" textWrap="true"  text="{{item.conf.numberofTimes + ' times a day'}}"></Label>
                                <Label row="1" col="1" class="label-small" textWrap="true" text="Starts at {{convertToDate(item.conf.startTime) | date:'shortTime' }}"></Label>
                                <Label row="2" col="1" class="label-small" textWrap="true"  text="{{'Repeat every '+  timeConvert(item.conf.interval)}}"></Label> -->
                          </GridLayout>               
                          <GridLayout row="0" col="0" columns="*,*" rows="auto"  *ngIf="item.conf.frequency===freuencyOne">
                            <Label row="0" col="0" class="body" text="Frequency" style="color: #396767;"></Label>
                            <GridLayout row="0" col="1" columns="*" rows="auto"> 
                                <Label  textWrap="true" row="0"  class="label-small">
                                    <FormattedString class="label-small" >
                                        <Span class="label-small"   text="{{item.conf.specificTimes.length}} times a day at "></Span>
                                        <Span class="label-small"   *ngFor="let items of item.conf.specificTimes;let i=index" text="{{convertToDate(items) | date:'shortTime'}} {{ isNextElementAvailable(i, item.conf.specificTimes.length-1)}} ">
                                           </Span>                                    
                                    </FormattedString>                                
                                  </Label>                                
                             </GridLayout>     
                        </GridLayout>                            
                        </GridLayout>
                        <GridLayout row="2" col="1" columns="*" rows="auto,auto" style="margin-left: 8px;">
                            <!-- duration and start date of schedule   -->                           
                            <GridLayout row="0" col="0" columns="*,*,*" rows="auto">
                                <Label row="0" col="0" class="body" text="Duration" style="color: #396767;"></Label>
                                <Label row="0" col="1" class="label-small" textWrap="true" colSpan="2" text="{{item.conf.duration}} days ({{ item.dbmodel.start_date | date:'dd MMM yy'}} - {{item.dbmodel.end_date | date:'dd MMM yy'}} )"
                                    style="margin-left: 10px;"></Label>
                            </GridLayout>
                              <!-- description of schedule   -->       
                            <GridLayout row="1" col="0" columns="*,*,*" rows="auto,auto,auto">
                                <!-- <Label row="0" col="0" class="body" text="Description" style="color: #396767;"></Label>
                                <Label row="0" col="1" class="label-small" textWrap="true" colSpan="2" [text]="item.conf.desc"
                                    style="margin-left: 10px;"></Label>     -->
                                       <!-- status of schedule -->   
                                    <Label row="0" col="0" class="body" text="Status" style="color: #396767;"></Label>
                                    <Label row="0" col="1" class="label-small" textWrap="true" colSpan="2" text="{{checkStatus(item.dbmodel.status,item.dbmodel.end_date)}}"
                                        style="margin-left: 10px;"></Label> 
                                        <!-- mark up for remark                              -->
                                        <Label row="1" col="0" class="body" text="Remark" style="color: #396767;" *ngIf="item.conf.remark!=null"></Label>
                                        <Label row="1" col="1" class="label-small" textWrap="true" colSpan="2" *ngIf="item.conf.remark!=null" [text]="item.conf.remark"
                                            style="margin-left: 10px;"></Label> 
                                   <Button *ngIf="item.dbmodel.status==0" class="btn btn-primary btn-active btn-xs"  row="2" col="0" id="button" colSpan="2" text="Stop Schedule" (tap)="cancelScheudle(item)"></Button>
                            </GridLayout>                        
                           
                        </GridLayout>

                    </GridLayout>
                </ng-template>

            </RadListView>

            <StackLayout row="0" col="1" column="*" row="auto, auto" horizontalAlignment="right" class="right">
                <StackLayout row="0">
                    <RL:Ripple rippleColor="#fff" style="margin-top: 20px;">
                        <StackLayout class="float-btn-cat" (tap)="medicinebuttonClicked = true" [class.button-clicked]="medicinebuttonClicked">
                            <Label class="fas float-btn-cat-text-fawesome" (tap)="selectMedicine()" text="&#xf484;"
                                [style.color]="medicinebuttonClicked ? '#FF8910' : '#FFFFFF'"></Label>
                        </StackLayout>
                    </RL:Ripple>
                    <RL:Ripple rippleColor="#fff" style="margin-top: 2px;">
                        <StackLayout class="float-btn-cat" (tap)="monitorbuttonClicked = true" [class.button-clicked]="monitorbuttonClicked">
                            <Label class="fas float-btn-cat-text-fawesome" (tap)="selectMonitor()" text="&#xf201;" [style.color]="monitorbuttonClicked ? '#FF8910' : '#FFFFFF'"></Label>
                        </StackLayout>
                    </RL:Ripple>
                    <RL:Ripple rippleColor="#fff" style="margin-top: 2px;">
                        <StackLayout class="float-btn-cat" (tap)="intakebuttonClicked = true" [class.button-clicked]="intakebuttonClicked">
                            <Label class="mdi float-btn-cat-text-mdi" (tap)="selectIntake()" text="&#xfb2e;" [style.color]="intakebuttonClicked ? '#FF8910' : '#FFFFFF'"></Label>
                        </StackLayout>
                    </RL:Ripple>
                    <RL:Ripple rippleColor="#fff" style="margin-top: 2px;">
                        <StackLayout class="float-btn-cat" (tap)="outputbuttonClicked = true" [class.button-clicked]="outputbuttonClicked">
                            <Label class="mdi float-btn-cat-text-mdi" (tap)="selectOutput()" text="&#xfb30;" [style.color]="outputbuttonClicked ? '#FF8910' : '#FFFFFF'"></Label>
                        </StackLayout>
                    </RL:Ripple>
                    <RL:Ripple rippleColor="#fff" style="margin-top: 40;" (tap)="showDialog()">
                        <StackLayout row="1" class="float-btn">
                            <Label class="float-btn-text fas" text="&#xf067;" style="color: white;"></Label>
                        </StackLayout>
                    </RL:Ripple>
                </StackLayout>
            </StackLayout>        

        </GridLayout>
    </GridLayout>
    
</GridLayout>