<GridLayout columns="*" rows="auto, auto, auto" style="justify-content: center; vertical-align: center; padding:20px;">
    <Label row="0" class="body groupHeaderTitle" textWrap="true" text="Person Accompanying"></Label>
    <StackLayout row="1" class="hr-light m-10"></StackLayout>
    <GridLayout row="2" columns="*, auto" rows=" auto, auto, auto">

        <GridLayout row="0" col="0" columns="auto" rows="auto" style=" margin-top:5px;">
            <GridLayout col="0" rows="auto,auto">
                <Label class="body" textWrap="true" text="Person Name"></Label>
                <Label row="1" class="labelleft label-small" textWrap="true" text="{{personAccompanyDetailsModel.name}}"></Label>
            </GridLayout>
        </GridLayout>

        <GridLayout row="0" col="1" columns="auto">
            <GridLayout col="0" rows="auto,auto">
                <!-- <Label class="body" textWrap="true" text="Gender"></Label> -->
                <Label row="1" class="labelleft label-small" textWrap="true" text="{{personAccompanyDetailsModel.gender}}"></Label>
            </GridLayout>
        </GridLayout>
        <GridLayout row="1" col="0" columns="auto,*,auto,auto" rows="auto" style="margin-top:5px;">
            <GridLayout col="0" rows="auto,auto">
                <Label class="body" textWrap="true" text="Contact"></Label>
                <GridLayout col="0" row="1" rows="auto" columns=" auto">
                    <Label row="0" col="0" text="&#xf3f2;" class="mdi listicon" color="#FF8912" style="font-size: 15;"></Label>
                    <Label row="1" class="labelleft label-small" textWrap="true" text="{{personAccompanyDetailsModel.contact + ', ' +  personAccompanyDetailsModel.alternatecontact}}"
                        style="margin-left: 20;"></Label>
                </GridLayout>
            </GridLayout>
        </GridLayout>

        <!-- <GridLayout row="2" col="0" columns="auto" rows="auto" style=" margin-top:5px;">
            <GridLayout col="0" rows="auto,auto">
                <Label class="body" textWrap="true" text="Alternate Contact"></Label>
                <Label row="1" class="labelleft label-small" textWrap="true" text=""></Label>
            </GridLayout>
        </GridLayout> -->
        <GridLayout row="2" col="0" columns="auto">
            <GridLayout col="0" rows="auto,auto">
                <Label class="body" textWrap="true" text="Address"></Label>
                <Label row="1" class="labelleft label-small" textWrap="true" text="{{personAccompanyDetailsModel.address}}"></Label>
            </GridLayout>
        </GridLayout>
    </GridLayout>

</GridLayout>