
.cardeffect{
    width: 95%;
    padding: 5 10;
    background-color: #f0f0f0;  
    border-radius: 8px;
  }
  .labelleft{
      margin-left: 8px;
      color: #396766;
  }
  .homeheader {
    /* font-weight: bold; */
    vertical-align: center;
    color: white;
    margin-left:10px;
}