<ActionBar class="action-bar" style="background-color: #396766; color: white; vertical-align: center;">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <GridLayout columns="*, auto" ios:padding="0 10" height="100%" width="100%">
        <GridLayout col="0" columns="auto,auto,auto,*,auto, auto" style="text-align:center;">
            <RL:Ripple col="0" rippleColor="#fff" class="ripplecenter" borderRadius="5" height="37" width="37" (tap)="goBackPage()">
                <Label text="&#xf04d;" class="homeicon mdi"></Label>
            </RL:Ripple>
            <Label col="1" text="&#xf47d;" class="mdi listicon" style="margin-left:30px; color:white;vertical-align: center;"></Label>
            <Label col="2" text="3A/312, Amol Patil" class="label-action homeheader" ></Label>
            <StackLayout col="4" class="button-dist">
                <RL:Ripple rippleColor="#fff" class="ripplecenter" borderRadius="5" height="37" width="37">
                    <Label text="&#xf09a;" class="homeicon mdi"></Label>
                </RL:Ripple>
            </StackLayout>
            <GridLayout col="5" columns="auto" class="ripplecenter" class="button-dist" style="vertical-align: center;">
                <network-status></network-status>
            </GridLayout>
        </GridLayout>
    </GridLayout>
</ActionBar>



<StackLayout style="background-color:#396766;">

    <StackLayout style="margin-top:20px; justify-content: center;">
        <CardView class="cardeffect" margin="3" shadowOffsetWidth=1>
            <patient-info></patient-info>
        </CardView>
    </StackLayout>

    <StackLayout style="margin-top:20px; justify-content: center;">
        <CardView class="cardeffect" margin="3" shadowOffsetWidth=1>
            <medical-details></medical-details>
        </CardView>
    </StackLayout>
</StackLayout>