<GridLayout columns="*" height="100%" width="100%" rows="*">
    <GridLayout columns="*" rows="auto,auto,*" *ngIf="getFormView">

        <GridLayout row="0" columns="auto, *, auto" rows="65"
            style="background-color: #396766; color: white; vertical-align: center;padding: 0px 15px;">
            <GridLayout col="0" style="vertical-align: center;" *ngIf="getFormView">
                <RL:Ripple rippleColor="#fff" class="ripplecenter" borderRadius="5" height="37" width="37"
                    (tap)="goBackPage()">
                    <Label text="&#xf156;" class="homeicon mdi mdi"></Label>
                </RL:Ripple>
            </GridLayout>
            <Label col="1" text="Doctor Order" style="text-align:center;  vertical-align: center;"></Label>
            <GridLayout col="2" style="vertical-align: center;" *ngIf="getFormView">
                <RL:Ripple rippleColor="#fff" class="ripplecenter" borderRadius="5" height="37" width="37"
                    (tap)="onSubmit()">
                    <Label text="&#xf12c;" class="homeicon mdi mdi" style="margin-right: 1px"></Label>
                </RL:Ripple>
            </GridLayout>
        </GridLayout>
        <ScrollView row="2">
            <StackLayout class="form" [formGroup]="doctorOrdersForm">
                <GridLayout rows="auto, auto, auto, auto, auto, auto" style="margin-bottom:10px;">
                    <GridLayout row="0">
                        <GridLayout class="input-field">
                            <Label text="Order Type" class="body"></Label>
                        </GridLayout>
                    </GridLayout>
                    <GridLayout row="1" columns="80, *, 80">
                        <GridLayout class="input-field" col="1">
                            <ListPicker [items]="orderType" formControlName="order_type" selectedIndex="0"
                                class="p-15 picker">
                            </ListPicker>
                        </GridLayout>
                    </GridLayout>
                    <GridLayout row="2"  rows="auto, auto, auto" class="marging-left-right">
                        <GridLayout row="0">
                            <Label text="Order Description" class="body margin-bottom"></Label>
                        </GridLayout>

                        <GridLayout row="1" >
                            <TextField class="input input-border" formControlName="desc"></TextField>
                        </GridLayout>
  
                        <GridLayout row="2" *ngIf="isDescRequired">
                            <Label text="{{VALIDATION_REQUIRED_FIELD}}" style="color:red"></Label>
                        </GridLayout>

                    </GridLayout>
                    <GridLayout row="3">
                        <StackLayout  class="marging-left-right">
                            <Label text="Doctor Name" class="body"></Label>
                            <RadAutoCompleteTextView #autocomplete [items]="dataItems" suggestMode="Suggest"
                                displayMode="Plain" (didAutoComplete)="onDidAutoComplete($event)" >
                                <SuggestionView tkAutoCompleteSuggestionView suggestionViewHeight="50">
                                    <ng-template tkSuggestionItemTemplate let-item="item">
                                        <StackLayout orientation="vertical" padding="10">
                                            <Label [text]="item.text"></Label>
                                        </StackLayout>
                                    </ng-template>
                                </SuggestionView>
                            </RadAutoCompleteTextView>
                            <GridLayout *ngIf="isDrNameRequired">
                                <Label text="{{VALIDATION_REQUIRED_FIELD}}" style="color:red"></Label>
                            </GridLayout>
                            <GridLayout>
                                <TextField class="input  input-border" formControlName="doctorName" style="visibility: hidden;">
                                </TextField>
                            </GridLayout>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout row="4" class="marging-left-right" rows="auto, auto, auto ">
                        <GridLayout row="0">
                            <Label text="Comment" class="body  margin-bottom"></Label>
                        </GridLayout>
                        <GridLayout row="1">
                            <TextField class="input input-border" formControlName="comment"></TextField>
                        </GridLayout>

                        <GridLayout row="2" *ngIf="isCommentRequired">
                            <Label text="{{VALIDATION_REQUIRED_FIELD}}" style="color:red"></Label>
                        </GridLayout>
                    </GridLayout>
                    <GridLayout row="5" rows="auto, auto" class="input-field">
                        <GridLayout row="0">
                            <Label text="Image " class="body"></Label>
                        </GridLayout>
                        <ScrollView row="1">
                            <WrapLayout class="m-t-20 m-20">
                                <ContentView *ngFor="let drawing of getFileItem" backgroundColor="#eeeeee"
                                    borderRadius="5">
                                    <Image [src]="drawing" width="120" height="120" backgroundcolor="#eeeeee"></Image>
                                </ContentView>
                            </WrapLayout>
                        </ScrollView>
                    </GridLayout>

                </GridLayout>
                <!-- <GridLayout>
                    <FlexboxLayout flexDirection="column-reverse">
                        <Image [src]="imageTaken" flexGrow="3" class="p-15 img-rounded"></Image>
                    </FlexboxLayout>
                </GridLayout> -->

            </StackLayout>


        </ScrollView>
    </GridLayout>
    <GridLayout columns="*" *ngIf="getFormView">
        <StackLayout row="0" col="1" row="auto, auto, auto" horizontalAlignment="right" class="right">
            <StackLayout row="0">
                <RL:Ripple rippleColor="#fff" style="margin-top: 20px;" (tap)="onTakePhoto()">
                    <GridLayout class="float-btn-cat">
                        <Label class="float-btn-cat-text fas" text="&#xf030;"></Label>
                    </GridLayout>
                </RL:Ripple>
            </StackLayout>
            <StackLayout row="1">
                <RL:Ripple rippleColor="#fff" style="margin-top: 10px;" (tap)="onSelectSingleTap()">
                    <GridLayout class="float-btn-cat">
                        <Label class="float-btn-cat-text fas" text="&#xf574;"></Label>
                    </GridLayout>
                </RL:Ripple>
            </StackLayout>
            <StackLayout row="2">
                <RL:Ripple rippleColor="#fff" style="margin-top: 10px;" (tap)="onDrawingPad()">
                    <GridLayout class="float-btn-cat">
                        <Label class="float-btn-cat-text fas" text="&#xf328;"></Label>
                    </GridLayout>
                </RL:Ripple>
            </StackLayout>
        </StackLayout>
    </GridLayout>
    <GridLayout columns="*" rows="auto,*, 70" *ngIf="getDrawingPad">

        <GridLayout row="0" columns="auto, *, auto" rows="65"
            style="background-color: #396766; color: white; vertical-align: center;padding: 0px 15px;">
            <Label col="1" text="Doctor Order" style="text-align:center;  vertical-align: center;"></Label>
        </GridLayout>
        <StackLayout row="1" [@from-bottom]="'in'" backgroundColor="#eeeeee">

            <ContentView backgroundColor="#ffffff" class="drowing-pad">
                <DrawingPad #myDrawing height="100%" backgroundColor="#ffffff" penColor="{{pencolor}}"
                    penWidth="{{penWidth}}">
                </DrawingPad>
            </ContentView>
        </StackLayout>
        <GridLayout row="2" columns="auto,auto,auto, *, auto, auto"
            style="background-color:#396766; color:#ffffff; text-align: center;vertical-align: center;">
            <GridLayout col="0" textWrap="true" width="13%" [class.button-clicked]="pencilbuttonClicked"
                class="tab-layout" (tap)="getDrow()">
                <Label text="{{(pencilbuttonClicked) ? '&#xf303;' : '&#xf303;'}}"
                    [style.color]="pencilbuttonClicked ? '#FF8910' : '#ffffff'" class="fas button-icon"
                    style="vertical-align: center;"></Label>
            </GridLayout>

            <GridLayout col="1" textWrap="true" width="13%" [class.button-clicked]="eraserbuttonClicked"
                class="tab-layout" (tap)="getEraser()">
                <Label text="{{(eraserbuttonClicked) ? '&#xf12d;' : '&#xf12d;'}}"
                    [style.color]="eraserbuttonClicked ? '#FF8910' : '#ffffff'" class="fas button-icon"
                    style="vertical-align: center;"></Label>
            </GridLayout>

            <GridLayout col="2" textWrap="true" width="13%" [class.button-clicked]="alleraserbuttonClicked"
                class="tab-layout" (tap)="clearMyDrawing(myDrawing)">
                <Label text="{{(alleraserbuttonClicked) ? '&#xf00d;' : '&#xf00d;'}}"
                    [style.color]="alleraserbuttonClicked ? '#FF8910' : '#ffffff'" class="fas button-icon"
                    style="vertical-align: center;"></Label>
            </GridLayout>

           
            <GridLayout col="4">
                <Button class="btn btn-primary-blue" text="Save" (tap)="getMyDrawing(myDrawing)"></Button>
            </GridLayout>
            <GridLayout col="5">
                <Button class="btn btn-primary-blue" text="Close" (tap)="getformview()"></Button>
            </GridLayout>
        </GridLayout>
    </GridLayout>
</GridLayout>