<!-- <style>

  .all
  {
    display: block;
  }
  @media (min-width: 768px) {
    .xs {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .xs {
      display: block;
    }
    .sm {
      display: none;
    }
  }

  @media (min-width: 992px) {
    .sm {
      display: block;
    }
    .md {
      display: none;
    }
  }

</style>

<div class="row" style="border:1px solid black">
  <div class="{{col.css}}" *ngFor="let col of cols">{{col.displayname}}</div>
</div>

<div class="row" *ngFor="let row of rows">
  <div class="{{col.css}}" *ngFor="let col of cols">{{row[col.col]}}</div>

</div> -->

<!-- <div class="row">
    <div class="d-none d-sm-block col-sm-6">
        HIDE ME ON SMALL SCREENS.
        Show me on larger screens.
    </div>
    <div class="col-sm-6 col-xs-12">
        SHOW ME ON SMALL SCREENS.
        Show me on larger screens.
    </div>
</div> -->



<section class="content-block">
  <div class="container-fluid">
    <div class="row" id="main-content">
      <div class="col-sm col-md m-b-30 col">
        <div class="auth-box card">
          <div class="card-block">
            <h3 class="text-center"></h3>
            <div class="example-container mat-elevation-z8">
              <mat-table [dataSource]="dataSource" matSort matSortDisableClear>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <ng-container matColumnDef="col1">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="{{cols[0].css}}" style="flex:0 0 20%;">Name</mat-header-cell>
                  <mat-cell *matCellDef="let row" class="{{cols[0].css}}" style="flex:0 0 20%;">
                    <span class="mat-row-mobile-label">Name:</span>{{row.col1}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="col2">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="{{cols[1].css}}" style="flex:0 0 20%;">Email</mat-header-cell>
                  <mat-cell *matCellDef="let row" class="{{cols[1].css}}" style="flex:0 0 20%;">
                    <span class="mat-row-mobile-label">Email:</span> {{row.col2}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="col3">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="{{cols[2].css}}" style="flex:0 0 15%;">Telephone</mat-header-cell>
                  <mat-cell *matCellDef="let row" class="{{cols[2].css}}" style="flex:0 0 15%;">
                    <span class="mat-row-mobile-label">Telephone:</span> {{row.col3}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="col4">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="{{cols[3].css}}" style="flex:0 0 15%;">Address 1</mat-header-cell>
                  <mat-cell *matCellDef="let row" class="{{cols[3].css}}" style="flex:0 0 15%;">
                    <span class="mat-row-mobile-label">Address 1:</span> {{row.col4}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="col5">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="{{cols[4].css}}" style="flex:0 0 15%;">Address 2</mat-header-cell>
                  <mat-cell *matCellDef="let row" class="{{cols[4].css}}" style="flex:0 0 15%;">
                    <span class="mat-row-mobile-label">Address 2:</span> {{row.col5}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="col6">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="{{cols[5].css}}" style="flex:0 0 15%;">Edit</mat-header-cell>
                  <mat-cell *matCellDef="let row" class="{{cols[5].css}}" style="flex:0 0 15%;">
                    <span class="mat-row-mobile-label">Edit:</span> {{row.col6}} </mat-cell>
                </ng-container>
              </mat-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>