<section class="customer-search">
  <div class="container-fluid">
    <div class="row" id="main-content">
      <div class="col-sm col-md-12 col m-b-30 col">
        <div class="auth-box card">
          <div class="card-block">                        
              <mat-expansion-panel [expanded]="isExpanded" (opened)="panelOpened()">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Search
                  </mat-panel-title>
                </mat-expansion-panel-header>                
                <table class="example-full-width" cellspacing="0">
                  <tr id="layout-set">
                    <td>
                      <mat-form-field>
                        <input matInput placeholder="Customer Name" [(ngModel)]="dataModel.custname">
                        <button mat-button *ngIf="dataModel.custname" matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.custname=''">
                            <mat-icon>close</mat-icon>
                          </button>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                          <mat-select placeholder="Status" [(ngModel)]="dataModel.custstate">
                              <mat-option>None</mat-option>
                                  <mat-option *ngFor="let custstate of customerStates" [value]="custstate.value">
                                    {{custstate.text | translate}}
                                  </mat-option>
                                </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                          <mat-select placeholder="Corporate" [(ngModel)]="dataModel.corpid">
                          <mat-option>None</mat-option>
                              <mat-option *ngFor="let corp of corporates" [value]="corp.corpid">
                                {{corp.corpname}}
                              </mat-option>
                            </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                </table> 
                <button type="button" class="btn btn-primary" (click) ="search()">Search</button>               
              </mat-expansion-panel>            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>