<div class="row">
  <div class="col">
    <mat-card class="w3-animate-bottom">
      <div class="mobile-sort">
        <table class="example-full-width" cellspacing="0">
          <tr id="layout-set">
            <td>
              <mat-form-field>
                <mat-select placeholder="Sort by" [(ngModel)]="this.sort.active" name="sortby" (selectionChange)="sortByChanged()">
                  <mat-option *ngFor="let col of sortByColumns" [value]="col.value">
                    {{col.text}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <button mat-icon-button class="view-form-backButton" (click)="sortDirectionAsc()">
                <mat-icon aria-hidden="true" matTooltip="Ascending">arrow_upward</mat-icon>
              </button>
            </td>
            <td>
              <button mat-icon-button class="view-form-backButton" (click)="sortDirectionDesc()">
                <mat-icon aria-hidden="true" matTooltip="Descending">arrow_downward</mat-icon>
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort matSortDisableClear>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <ng-container matColumnDef="vehicleno">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 15%;">Vehicle Number</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 15%;">
              <span class="mat-cell-responsive-label">Vehicle Number</span>
              <span class="ellipsis mat-cell-text"> {{row.vehicleno}}</span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="generatedon">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 15%;">Service Date</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 15%;">
              <span class="mat-cell-responsive-label">Service Date</span>
              <span class="ellipsis mat-cell-text"> {{row.generatedon | date:'mediumDate'}}</span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="intime">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 10%;">In-time</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 10%;">
              <span class="mat-cell-responsive-label">In-time</span>
              <span class="ellipsis mat-cell-text">{{row.intime | date:'shortTime'}}</span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="outtime">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 15%;">Out-time</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 15%;">
              <span class="mat-cell-responsive-label">Out-time</span>
              <span class="ellipsis mat-cell-text"> {{row.outtime | date:'shortTime'}}</span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="token">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 15%;">Token</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 15%;">
              <span class="mat-cell-responsive-label">Token</span>
              <span class="ellipsis mat-cell-text">{{row.token}}</span>
            </mat-cell>
          </ng-container>
          <!-- <ng-container matColumnDef="mobileno">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 15%;">Mobile Number</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 15%;">
              <span class="mat-cell-responsive-label">Mobile Number</span>
              <span class="ellipsis mat-cell-text">{{row.mobileno}}</span>
            </mat-cell>
          </ng-container> -->
          <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 20%;">Status</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 20%;">
              <span class="mat-cell-responsive-label">Status</span>
              <span [ngSwitch]="row.state" *ngIf="row.state === 5">
                <div class="statusBlock" *ngSwitchCase="5" style="background-color:#008BFF">Completed</div>
                <button mat-icon-button color="accent" data-toggle="modal" data-target="#myModal" (click)="setSelectedStatus(row)">
                  <i class="fa fa-toggle-on" aria-hidden="true" matTooltip="Change Status"></i>
                </button>
              </span>
              <span [ngSwitch]="row.state">
                <div class="statusBlock" *ngSwitchCase="1" style="background-color:#dc3545">Generated</div>
                <div class="statusBlock" *ngSwitchCase="3" style="background-color:#28a745">Created</div>
                <div class="statusBlock" *ngSwitchCase="4" style="background-color:#FFBF00">Inprogress</div>
                <div class="statusBlock" *ngSwitchCase="6" style="background-color:#28a745">Delivered </div>
              </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef style="flex:0 0 10%;">Action</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 10%;">
              <span class="mat-cell-responsive-label">Action</span>
              <button mat-icon-button color="accent" [matMenuTriggerFor]="menu">
                <mat-icon aria-hidden="true" matTooltip="Menu">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <ng-template matMenuContent>
                  <button mat-menu-item (click)="viewDetails(row.vehicleid || row.tokenid || row.token)">
                    <mat-icon color='primary'>remove_red_eye</mat-icon>
                    <span>Details</span>
                  </button>
                  <!-- <button mat-menu-item (click)="viewAssocate(row)">
                      <mat-icon color='primary'>link</mat-icon>
                      <span>Associated</span>
                    </button> -->
                </ng-template>
              </mat-menu>
            </mat-cell>
          </ng-container>
        </mat-table>
        <mat-paginator #paginator [length]="filteredrecords" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
      <br>
    </mat-card>

    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <form method="post" action="" [formGroup]="amountform">
            <div class="modal-header">
              <h4 class="modal-title">Status</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              Do you wish to change the status to Vehical Delivery ?
            </div>
            <div class="modal-body">
              <div class="form-group form-primary">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Billed Amount" type="number" min="0" required [(ngModel)]="amount" formControlName="amountControl">
                  <mat-error *ngIf="amountform.controls['amountControl'].hasError('required')">
                    {{'VALIDATION_REQUIRED_FIELD'|translate}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col text-right" style="margin-top: 15px;">
                  <button matSuffix type="button" color="primary" mat-raised-button style="margin-right:10px" data-dismiss="modal">No</button>
                  <button matSuffix type="button" color="primary" mat-raised-button (click)="changestatus()" data-dismiss="modal">Yes</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>