<p>
    Preview
  </p>
  <div class="row">
      <form [formGroup]="editableForm">
        <div class="col-md-6 col-sm-12">
          <mat-form-field>
            <input matInput placeholder="Chart Name" formControlName="configNameControl" required>
            <mat-error *ngIf="editableForm.controls['configNameControl'].hasError('required')">
              Chart Name is Required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Category" formControlName="categoryControl" required>
            <mat-error *ngIf="editableForm.controls['categoryControl'].hasError('required')">
              Category is Required
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-raised-button type="submit" color="primary" (click)="previousClick()">Previous</button>
        <button mat-raised-button type="submit" color="primary" (click)="save()">Save</button>
      </form>
    </div>
  