<div class="row">
  <div class="col">
    <mat-card style="max-width:500px">
      <form [formGroup]="editableForm" (ngSubmit)="save()">
          <app-editable-form-header [editRecordBase]="this" (editClick)="editForm()"></app-editable-form-header>
          <mat-card-content>
          <div class=" form-group form-primary" *ngIf="formMode === 1">
            <mat-form-field>
              <input disabled matInput placeholder="Corporate Name" formControlName="corpnameControl" required [(ngModel)]="dataModel.corpname" maxlength="50">
              <mat-error *ngIf="editableForm.controls['corpnameControl'].hasError('required') ">
                {{'VALIDATION_REQUIRED_FIELD'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group form-primary" *ngIf="formMode === 0">
            <span class="viewlabel">Corporate Name</span>
            <label class="viewtext">{{ dataModel.corpname }}</label>
          </div>
          <div class=" form-group form-primary" *ngIf="formMode === 1">
            <mat-form-field>
              <input matInput placeholder="Email Id" type="email" formControlName="corpemailidControl" [(ngModel)]="dataModel.corpemailid" maxlength="254">
            </mat-form-field>
          </div>
          <div class="form-group form-primary" *ngIf="formMode === 0">
            <span class="viewlabel">Email Id</span>
            <label class="viewtext">{{ dataModel.corpemailid }}</label>
          </div>
          <div class=" form-group form-primary" *ngIf="formMode === 1">
            <mat-form-field>
              <span matPrefix>+91 &nbsp;</span>
              <input matInput placeholder="Mobile Number" formControlName="corpmobilenoControl" [(ngModel)]="dataModel.corpmobileno" maxlength="10">
            </mat-form-field>
          </div>
          <div class="form-group form-primary" *ngIf="formMode === 0">
            <span class="viewlabel">Mobile Number</span>
            <label class="viewtext">{{ dataModel.corpmobileno }}</label>
          </div>
          <div class=" form-group form-primary" *ngIf="formMode === 1">
            <mat-form-field>
              <input matInput placeholder="Landline Number" formControlName="corplandlinenoControl" [(ngModel)]="dataModel.corplandlineno" maxlength="10">
            </mat-form-field>
          </div>
          <div class="form-group form-primary" *ngIf="formMode === 0">
            <span class="viewlabel">Landline Number</span>
            <label class="viewtext">{{ dataModel.corplandlineno }}</label>
          </div>
          <app-editable-form-footer-toolbar [editRecordBase]="this" (editClick)="editForm()"></app-editable-form-footer-toolbar>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>