<div class="card app-design chart-card">
  <div class="card-block">
    <div class="row">
      <div class="col-6">
        <h6 class="f-w-200 text-muted">Service Average Time (Weekly)</h6>
      </div>
      <div class="col-6" >
        <!-- <div [(ngModel)]="selecteddateoption" (ngModelChange)="optionChange()"> -->
        <button mat-icon-button (click)="waittime()">
          <i class="fa fa-hourglass-half feather" color='primary' active aria-hidden="true" matTooltip="Wait time"></i>
        </button>
        <button mat-icon-button (click)="creationtime()">
          <i class="fa fa-handshake-o feather" color='primary' aria-hidden="true" matTooltip="Job Creation"></i>
        </button>
        <button mat-icon-button (click)="jobexcu()" >
          <i class="fa fa-cogs feather" color='primary' aria-hidden="true" matTooltip="Job Execution"></i>
        </button>
        <button mat-icon-button (click)="deliverytime()">
          <i class="fa fa-car feather" color='primary' aria-hidden="true" matTooltip="Delivery Time"></i>
        </button>
      <!-- </div> -->
      </div>
    </div>
    <div class="row" *ngIf="data.length>0">
      <ngx-charts-bar-horizontal style="height:200px;" class="chart-container" [xAxis]=true [yAxis]=true [xAxisLabel]="xAxisLabel"
        [showXAxisLabel]=true [showYAxisLabel]=true [results]="data" [xAxisTickFormatting]="formatXAxis" [showGridLines]=false
        [customColors]="customColors">
      </ngx-charts-bar-horizontal>
    </div>
  </div>
</div>