<div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1">
        <div class="icon-bar">
            <a  href="javascript:valid(0);" matTooltip="Details" matTooltipPosition="after"><i class="fa fa-list-ul"  ></i></a> 
            <a href="javascript:valid(0);" matTooltip="Schedules" matTooltipPosition="after"><i class="fa fa-list-ul" ></i></a> 
            <a href="javascript:valid(0);" matTooltip="Transactions" matTooltipPosition="after"><i class="fa fa-list-ul"  ></i></a> 
            <a href="javascript:valid(0);" matTooltip="Treatment Reports" matTooltipPosition="after"><i class="fa fa-list-ul"  ></i></a>
            <a href="javascript:valid(0);" matTooltip="Pathology Reports" matTooltipPosition="after"><i class="fa fa-list-ul"  ></i></a> 
            <a href="javascript:valid(0);" matTooltip="Doctor Orders" matTooltipPosition="after"><i class="fa fa-list-ul"  ></i></a> 
          </div>
    </div>
    <div class="col-sm-11 col-md-11 col-lg-11">
      <p>
          <app-patient-medical></app-patient-medical>
      </p>
  </div>
</div>
