.accountlistItem {
    /* background-color: #f0f0f0; */
    padding-right: 5;
    padding-bottom: 8%;
    vertical-align: center;
}
.list-layout{
    padding: 13% 7px;
}
.hr-lightt {
    display: block;
    border-top: 1px solid #396766;
    margin: 0 0;
    padding: 3px 0px;
}

.labelName {
    font-size: 20;
    margin-bottom: 8;
}