.player {
    position: relative !important;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .player .front1 {
        position: absolute !important;
        height: 100%;
        width: 100%;
        /* background: #FFF; */
        /* text-align: center; */
        /* line-height: 200px; */
        -webkit-backface-visibility: hidden !important;
        -moz-backface-visibility: hidden !important;
        backface-visibility: hidden !important;
    }
    .player front {
      -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .player .back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

.player.voted {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}