<GridLayout columns="*, auto" rows="auto,auto,*" style="padding:20px;">
    <Label row="0" class="body groupHeaderTitle" textWrap="true" text="Reason For Admission"></Label>
    <GridLayout row="1" class="hr-light m-10"></GridLayout>
    <GridLayout row=2 columns="*" rows="*" style=" vertical-align: center;" *ngIf="getData">
        <GridLayout col="0">
            <RadListView #myListView [items]="reasonlistItem" multipleSelection="false">
                <ng-template tkListItemTemplate let-item="item">
                    <Label class="labelleft label-small" textWrap="true" [text]="item.text"></Label>
                </ng-template>
            </RadListView>
        </GridLayout>
    </GridLayout>
    <GridLayout row=2 col="0" columns="*" style=" vertical-align: center;  text-align: center;">
        <Label class="labelleft body" *ngIf="noData" textWrap="true" text="No Data" style=" padding: 5"></Label>
    </GridLayout>
</GridLayout>