<div class="row" *ngIf="firstView">
  <div class="col" *ngIf="successHide">
    <mat-card style="max-width:500px" class="alignMatcardCenter">
      <mat-card-header>
        <div mat-card-avatar>
          <i class="fa fa-envelope" style="font-size:24px;color:#446666">
          </i>
        </div>
        <mat-card-title>
          <h4>Your email is verified successfully</h4>
        </mat-card-title>
        <mat-card-subtitle>Please change your password.</mat-card-subtitle>
      </mat-card-header>
      <div class="row">
        <div class="col">
          <mat-divider [inset]="true"></mat-divider>
        </div>
      </div><br>
      <mat-card-header>
        <div mat-card-avatar>
          <i class="fa fa-key" style="font-size:24px;color:#446666">
          </i>
        </div>
        <mat-card-title>
          Change Password
        </mat-card-title>
      </mat-card-header>
      <div class="row">
        <div class="col">
          <mat-divider [inset]="true"></mat-divider>
        </div>
      </div><br>
      <form [formGroup]="editableForm" (ngSubmit)="save()">
        <div class="row">
        <div class="form-group form-primary col-sm-12 col-md-6 col-lg-6">
          <mat-form-field>
            <input matInput placeholder="First Name" formControlName="fNameControl">
            <mat-error *ngIf="editableForm.controls['fNameControl'].hasError('required')">
              {{'VALIDATION_REQUIRED_FIELD'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group form-primary col-sm-12 col-md-6 col-lg-6">
          <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lNameControl">
            <mat-error *ngIf="editableForm.controls['lNameControl'].hasError('required')">
              {{'VALIDATION_REQUIRED_FIELD'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="form-group form-primary col-sm-12 col-md-6 col-lg-6">
          <mat-form-field>
            <mat-select formControlName="genderControl" placeholder="Select Gender">
              <mat-option *ngFor="let item of genderCollection" [value]="item.itemValue">
                {{item.itemName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editableForm.controls['genderControl'].hasError('required')">
                {{'VALIDATION_REQUIRED_FIELD'|translate}}
              </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group form-primary col-sm-12 col-md-6 col-lg-6">
            <mat-form-field>
              <input matInput placeholder="Mobile Number" formControlName="mobileNumberControl">
            </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div class="form-group form-primary  col-sm-12 col-md-12 col-lg-12">
            <mat-form-field>
              <input matInput placeholder="Alternate Contact" formControlName="alternateContactControl">
             </mat-form-field>
          </div>
      </div>
      <div class="row">
        <div class="form-group form-primary col-sm-12 col-md-6 col-lg-6">
          <mat-form-field>
            <input disableds matInput placeholder="New Password" [type]="hidenew ? 'password' : 'text'"
              formControlName="newpasswordControl" [(ngModel)]="dataModel.newpassword" required>
            <mat-icon matSuffix class="{{hidenew ? 'fa fa-eye' : 'fa fa-eye-slash'}}" (click)="hidenew = !hidenew">
            </mat-icon>
            <mat-error *ngIf="editableForm.controls['newpasswordControl'].hasError('required')">
              {{'VALIDATION_REQUIRED_FIELD'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group form-primar col-sm-12 col-md-6 col-lg-6">
          <mat-form-field>
            <input disableds matInput placeholder="Confirm Password" [type]="hideconfirm ? 'password' : 'text'"
              formControlName="confirmpasswordControl" [(ngModel)]="dataModel.confirmpassword" required>
            <mat-icon matSuffix class="{{hideconfirm ? 'fa fa-eye' : 'fa fa-eye-slash'}}"
              (click)="hideconfirm = !hideconfirm"></mat-icon>
            <mat-error *ngIf="editableForm.controls['confirmpasswordControl'].hasError('required')">
              {{'VALIDATION_REQUIRED_FIELD'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
        <div class="row">
          <div class="col text-right" style="margin-top: 15px;">
            <button matSuffix type="submit" color="primary" mat-raised-button matTooltip="Save"
              *ngIf="successHide">Change</button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>

<div class="row" *ngIf="!successHide">
  <div class="col">
    <mat-card style="max-width:500px" class="alignMatcardCenter">
      <mat-card-header>
        <mat-card-title>
          <span>You are successfully updated your password.
            Please wait, browser will be redirected to login page.</span>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>


<div class="row" *ngIf="secondView">
  <div class="col">
    <mat-card style="max-width:500px" class="alignMatcardCenter">
      <mat-card-header>
        <div mat-card-avatar>
          <i class="fa fa-envelope" style="font-size:24px;color:#446666">
          </i>
        </div>
        <mat-card-title>
          <h5 style="color:red">Error occurred while activating user.</h5>
          <h6 style="color:red">Error: "{{ErrorCode}}"</h6>
        </mat-card-title>
        <mat-card-subtitle>Please contact to administrator.</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
