<div class="row">
  <div class="col">
    <mat-card style="max-width:500px">
      <form [formGroup]="editableForm" (ngSubmit)="save()">
        <app-editable-form-header [editRecordBase]="this" (editClick)="editForm()"></app-editable-form-header>
        <mat-card-content>
          <div class=" form-group form-primary" *ngIf="recordState === 0">
            <mat-form-field>
              <input matInput placeholder="Serial Number" formControlName="serialnoControl" required [(ngModel)]="dataModel.serialno" maxlength="16">
              <mat-error *ngIf="editableForm.controls['serialnoControl'].hasError('required') ">
                {{'VALIDATION_REQUIRED_FIELD'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group form-primary" *ngIf="recordState === 1">
            <span class="viewlabel">Serial Number</span>
            <label class="viewtext">{{ dataModel.serialno }}</label>
          </div>
          <div class="form-group form-primary" *ngIf="formMode === 1">
            <mat-form-field>
              <mat-select placeholder="Device State" formControlName="devStateControl" required [(ngModel)]="dataModel.devstate">
                <mat-option *ngFor="let devstatecontrol of deviceStates" [value]="devstatecontrol.value">
                  {{devstatecontrol.text | translate }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="editableForm.controls['devStateControl'].hasError('required') ">
                {{'VALIDATION_REQUIRED_FIELD'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group form-primary" *ngIf="formMode === 0">
            <span class="viewlabel">Device State</span>
            <label class="viewtext">{{ getdeviceState(dataModel.devstate) | translate }}</label>
          </div>
          <app-editable-form-footer-toolbar [editRecordBase]="this" (editClick)="editForm()"></app-editable-form-footer-toolbar>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>