/* You can add global styles to this file, and also import other style files */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
#logo {
  padding-top: 40px;
}

#form-id {
  padding-top: 120px;
}

mat-form-field {
  width: 100%;
}

/* #main-content{padding-top: 10px;padding-bottom: 10px} */

#submit-button {
  width: 100%;
  background-color: #37A5CD !important;
}

html * {
  font-family: 'Open Sans', 'sans-serif';
}

body {
  background-color: snow;
}

/*Responsive mat-table*/

.example-container {
  display: flex;
  flex-direction: column;
}

.mat-row-mobile-label {
  display: none;
}

.mobile-sort {
  display: none;
}

.mat-header-row {
  background-color: #37A5CD;
}

.mat-header-cell {
  color: white !important;
    font-size: 13px !important;
}

@media(max-width: 768px) {
  .mat-row-mobile-label {
    width: 200px;
    display: inline-block;
    font-weight: bold;
  }
  .mat-header-row {
    display: none !important;
  }
  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
  .mobile-sort {
    display: inline-block;
  }
}

button:focus {
  outline: none !important;
}

.mat-card {
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.font-small {
  font-size: 12px !important;
}

.bg-color-primary {
  background-color: #446666;
}

.bg-color-secondary {
  background-color: #FA902B;
}

.bg-color-alternate {
  background-color: #37A5CD;
}

.color-primary {
  color: #446666;
}

.color-secondary {
  color: #FA902B;
}

.color-text-light {
  color: black;
}

.color-text-dark {
  color: white;
}

.color-text-alternate {
  color: #989A7C;
}


.viewlabel {
  color:#6c757d!important;
  display: block;
}

.viewtext { 
  display: block; 
  color:black;
}






/*Menu start*/

#side.toggle a {
    padding-left: 12px;
}
#side.toggle [_ngcontent-c4] .list-group-item[_ngcontent-c4] {
    border-radius: 0 !important;
    padding-left: 17px !important;
}
#side.toggle .list-group[_ngcontent-c4] {
    padding: 0px;
}

#side[_ngcontent-c4] a.list-group-item[_ngcontent-c4]:hover {
    background: hsl(196, 60%, 51%) none repeat scroll 0 0 !important;
    box-shadow: 0 0 50px hsla(0, 0%, 13%, 0.2);
    color: hsl(0, 0%, 100%);
}

#top[_ngcontent-c2] {
    min-height: 197px;

}
.navbar {
    padding-left: 1px !important;
}
#header[_ngcontent-c3] {
    box-shadow: none !important;
}
.page-block {
    padding-bottom: 41px;
}
.dropdown-menu.show .dropdown-item span {
    position: absolute;
    right: 11px;
    top: 9px !important;
    width: 12px;
}
.dropdown-item {
    position: relative;
}
#side[_ngcontent-c10] .list-group-item[_ngcontent-c10] {
    border-radius: 2px !important;

}
.dropdown-menu[_ngcontent-c3] i[_ngcontent-c3]:hover {
    background: hsl(0, 0%, 95%) none repeat scroll 0 0;
    border-radius: 0 !important;
	color:#ffffff !important;
}

.dropdown-menu[_ngcontent-c3] i[_ngcontent-c3] {
    font-size: 13px !important;
    font-style: normal !important;
	 line-height: 26px;
 
}
.dropdown-menu {
    box-shadow: 0 0 20px 0 hsla(0, 0%, 0%, 0.3);
    left: 10% !important;
    right: 0 !important;
}

#side[_ngcontent-c4] .list-group-item[_ngcontent-c4] {
    border-radius: 3px !important;
	font-size: 14px;
	 padding-left: 11px !important;

}
.label[_ngcontent-c4] {
    margin-left: 14px !important;
}

.card-block label {
    font-size: 13px !important;
    margin-bottom: 0 !important;
}

#top[_ngcontent-c2] {
    position: absolute !important;
 
}

li[_ngcontent-c44] {
    list-style: none;
    float: left;
    margin-right: 18px;
    margin-left: 18px;
    text-align: center;
}
.nav-link.dropdown-toggle {
    font-size: 13px;
}
.list-group[_ngcontent-c4] {
    padding-bottom: 0 !important;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
}

#bread-crumb-links {
    float: left;
    margin-top: 4px !important;
    width: 100%;
}


#bread-crumb-links {
    float: left;
    margin-top: 4px !important;
    width: 100%;
}

.step-line .mt-step-desc > div {
    max-width: none !important;
}
.ng-star-inserted .mat-card li {
    display: inline-block;
    float: none;
    min-width: 146px;
}
.ng-star-inserted .mat-card ul {
    text-align: center !important;
    width: 100%;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    margin-left: 15px;
}
.material-icons {
    font-size: 19px !important;
 
}
.mat-card mat-card-actions button {
    background: hsl(180, 20%, 33%) none repeat scroll 0 0;
    color: hsl(0, 0%, 100%) !important;
    margin-left: 17px !important;
}
.mat-menu-item {
    font-size: 13px !important;
	 height: 42px !important;
}


.mat-button-toggle-label {
    margin-bottom: 0;
}
.mat-button-toggle-group, .mat-button-toggle-standalone {
    margin-bottom: 17px;
    margin-left: 17px;
}
.time-block[_ngcontent-c50] {
    font-size: 13px;

}
.table-header-cell.table-body-cell-input.ng-star-inserted > div {
    font-size: 13px;
    padding-bottom: 7px;
}
.mat-button-toggle-label-content {
    font-size: 14px !important;
  
}
.table-header-cell.table-body-cell-time {
    font-size: 13px;
}
.input-block[_ngcontent-c50] {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    border-bottom: 1px solid hsl(0, 0%, 81%);
    border-right: 1px solid hsl(0, 0%, 81%);
    border-top: medium none !important;
    line-height: 36px;
}

.mat-sort-header-button {
    font-size: 13px !important	;
  
}
.mat-cell, .mat-footer-cell {
    font-size: 13px !important;
}