<div class="card app-design chart-card">
  <div class="card-block">
    <div class="row">
      <div class="col-10">
        <h6 class="f-w-400 text-muted">Vehicle service rating trend (12 months)</h6>
      </div>
    </div>
    <div class="row" *ngIf="feedbacktrendchartdata.length>0" >
      <ngx-charts-line-chart style="height:200px;" class="chart-container" [legend]=true [legendTitle] ="legendTitle" [xAxis]=true [yAxis]=true
        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showXAxisLabel]=true [showYAxisLabel]=true [results]="feedbacktrendchartdata"
        [curve]="curve"
        [xAxisTickFormatting]="formatXAxis"
        [customColors] ="customColors">
      </ngx-charts-line-chart>
    </div>
  </div>
</div>
