<!-- <div class="mt-element-step">
  <div class="step-line">
    <div class="mt-step-desc">
      <div class="col-sm-1 col-md-1 col-lg-1 mt-step-col {{stepperBlock.color}}" [ngClass]="">
        <div class="mt-step-number bg-white">
          <i class="{{stepperBlock.icon}}" aria-hidden="true"></i>
        </div>
        <div class="mt-step-title uppercase font-black-cascade">{{stepperBlock.name | translate}}</div>
      </div>
    </div>
  </div>
</div> -->

<div class="mt-element-step">
    <div class="step-line">
        <div class="mt-step-desc">
    <div class="mt-step-col {{stepperBlock.color}}" [ngClass]="">
        <div class="mt-step-number bg-white">
          <i class="{{stepperBlock.icon}}" aria-hidden="true"></i>
        </div>
        <div class="mt-step-title uppercase font-black-cascade">{{stepperBlock.name}}</div>
      </div>
        </div>
    </div>
</div>
