<div class="row">
  <mat-card>
    <div class="col-sm col-md m-b-30 col">
      <div class="form-group form-primary text-right">
        <button mat-icon-button color="accent" (click)="closeForm()" style="right:10px" [hidden]="show===false">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <form id="comp" [formGroup]="editableForm" (ngSubmit)="save()">
        <app-editable-form-header [formMode]="formMode" (closeClick)="closeForm()" (editClick)="editForm()" [hidden]="showCat===false"></app-editable-form-header>
        <div class="form-group form-primary">
          Complaint Title
          <br>
          <label>{{ dataModel.complainttitle }}</label>
        </div>
        <div class="form-group form-primary">
          Description
          <br>
          <label>{{ dataModel.description }}</label>
        </div>
        <div class="form-group form-primary">
          Raised By
          <br>
          <label>{{ dataModel.complaintby }}</label>
        </div>
        <div class="form-group form-primary">
          <mat-form-field>
            <mat-select placeholder="State" formControlName="complaintstateControl" required [(ngModel)]="dataModel.complaintstate">
              <mat-option *ngFor="let opstate of complStates" [value]="opstate.value">
                {{opstate.text | translate}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editableForm.controls['complaintstateControl'].hasError('required')">
              Selection is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group form-primary">
          <mat-form-field class="full-width">
            <input matInput placeholder="Remark" formControlName="remarksControl" [(ngModel)]="dataModel.remarks">
            <mat-error *ngIf="editableForm.controls['remarksControl'].hasError('required') ">
              This field is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group form-primary">
          <mat-form-field>
            <mat-select placeholder="Severity" formControlName="severityControl" required [(ngModel)]="dataModel.severity">
              <mat-option *ngFor="let opstate of seveStates" [value]="opstate.value">
                {{opstate.text | translate}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editableForm.controls['severityControl'].hasError('required') ">
              Selection is Required
            </mat-error>
          </mat-form-field>
        </div>
        <app-editable-form-footer-toolbar [formMode]="formMode" (closeClick)="closeForm()" (editClick)="editForm()" [hidden]="showCat===false"></app-editable-form-footer-toolbar>
      </form>
    </div>
  </mat-card>
</div>