<div class="row">
  <div class=" col">
    <mat-card style="max-width:500px">
      <form [formGroup]="editableForm" (ngSubmit)="save()">
        <app-editable-form-header [editRecordBase]="this" (editClick)="editForm()"></app-editable-form-header>
        <mat-card-content>
          <div class="form-group form-primary">
            <span class="viewlabel"> Complaint Title </span>
            <label class="viewtext">{{ dataModel.complainttitle }}</label>
          </div>
          <div class="form-group form-primary">
            <span class="viewlabel"> Raised By </span>
            <label class="viewtext">{{ dataModel.complaintby }}</label>
          </div>
          <div class="form-group form-primary">
            <span class="viewlabel"> Raised On </span>
            <label class="viewtext">
              {{ dataModel.raisedon | date : 'medium'}}
            </label>
          </div>
          <div class="form-group form-primary" [hidden]="closedate===false">
            <span class="viewlabel"> Close On </span>
            <label class="viewtext">
              {{ dataModel.closedon | date : 'medium'}}
            </label>
          </div>
          <div class="form-group form-primary">
            <span class="viewlabel"> Description</span>
            <label class="viewtext">{{ dataModel.description }}</label>
          </div>
          <div class="form-group form-primary" *ngIf="formMode === 1">
            <mat-form-field>
              <mat-select placeholder="State" formControlName="complaintstateControl" required [(ngModel)]="dataModel.complaintstate">
                <mat-option *ngFor="let opstate of complStates" [value]="opstate.value">
                  {{opstate.text | translate}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="editableForm.controls['complaintstateControl'].hasError('required')">
                {{'VALIDATION_REQUIRED_FIELD'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group form-primary" *ngIf="formMode === 0">
            <span class="viewlabel">State</span>
            <label class="viewtext">{{ getcomplaintstate(dataModel.complaintstate)| translate }}</label>
          </div>
          <div class="form-group form-primary" *ngIf="formMode === 1">
            <mat-form-field>
              <mat-select placeholder="Severity" formControlName="severityControl" required [(ngModel)]="dataModel.severity">
                <mat-option *ngFor="let opstate of seveStates" [value]="opstate.value">
                  {{opstate.text | translate}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="editableForm.controls['severityControl'].hasError('required') ">
                {{'VALIDATION_REQUIRED_FIELD'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group form-primary" *ngIf="formMode === 0">
            <span class="viewlabel">Severity</span>
            <label class="viewtext">{{ getseveritystate(dataModel.severity)| translate }} </label>
          </div>
          <div class="form-group form-primary" *ngIf="formMode === 1">
            <mat-form-field class="full-width">
              <input matInput placeholder="Remark" formControlName="remarksControl" [(ngModel)]="dataModel.remarks">
            </mat-form-field>
          </div>
          <div class="form-group form-primary" *ngIf="formMode === 0">
            <span class="viewlabel"> Remark </span>
            <label class="viewtext">{{ dataModel.remarks }}</label>
          </div>
          <app-editable-form-footer-toolbar [editRecordBase]="this" (editClick)="editForm()"></app-editable-form-footer-toolbar>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>