<section class="login-block">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form class="md-float-material form-material">
          <div class="row" id="form-id">
            <div class="col-sm"></div>
            <div class="col-sm-5">
          <div class="auth-box card">
            <div class="card-block">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Sign up</h3>
                </div>
              </div>
              <div class="form-group form-primary">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Choose Username" required="">
                </mat-form-field>
                <span class="form-bar"></span>
              </div>
              <div class="form-group form-primary">
                <mat-form-field>
                  <input matInput placeholder="Enter your email" required class="form-control">
                </mat-form-field>
                <span class="form-bar"></span>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group form-primary">
                    <mat-form-field>
                      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" class="form-control" required>
                    </mat-form-field>
                    <span class="form-bar"></span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group form-primary">
                    <mat-form-field>
                      <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" class="form-control" required>
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </mat-form-field>
                    <span class="form-bar"></span>
                  </div>
                </div>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-md-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <mat-checkbox class="example-margin" class="primary"></mat-checkbox>
                      <span class="cr"><i class="cr-icon fa fa-check txt-primary"></i></span>
                      <span class="text-inverse">Checked I read and accept <a href="javascript:">Terms &amp; Conditions.</a></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-light text-center m-b-20" mdbRippleRadius>Sign up now</button>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Powered by OpenSoach.</p>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="col-sm"></div>
          </div>
        </form>
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
