#side {
    overflow: hidden;
    z-index: 3;
}
#side.abc div a .lebal,#side.abc div a i .lebal{display:visible;
    transition: all 0.9s  ease-in-out;
}

#side.abc {
    width: 50px;
    transition: all 0.5s  ease-in-out;  
}

#side {
    width: 100%;
    background-color: #446666;
    height: 100vh;
}
#side .list-group-item {
    border-radius: 0;
    background-color: #333;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
    background-color: #446666;
}
.lebal{margin-left: 20px;
}
#side a.list-group-item:hover {
	background: steelblue;
}
#side a.list-group-item:active{
    background-color: rgb(139, 176, 206);
    }

@media (max-width:768px) {
    #side {display: hidden;
        width: 0px;
        }  
        #side.abc {
            min-width: 200px;
            background-color: #446666;
            min-height: 100vh;
        }  
}


