#side {
    overflow: hidden;
    z-index: 3;
}
#side.toggle div a .label,#side.toggle div a i .label{display:visible;
    transition: all 0.7s  ease-in-out;   
}
#side.toggle {
    width: 50px;
    transition: all 0.5s  ease-in-out;  
}
#side {
    background-color: white;
    height: 90vh;
    box-shadow: 0 0 50px rgba(33,33,33,.2); 
}
#side .list-group-item {
    color: #ccc;
    border: none;
    white-space: nowrap;
    background-color: white;
    border-radius: 8px;
}
.label{margin-left: 20px;
    color: grey;
}
i{color: gray}
.list-group{padding: 3px;}
#side a.list-group-item:hover {
    background: #37A5CD ;
    box-shadow: 0 0 50px rgba(33,33,33,.2); 
}
#side a.list-group-item:hover i, #side a.list-group-item:hover span {
    color: white;
    transition: all 0.3s  ease-in-out;
}
#side a.list-group-item:focus{
    background-color: #FA902B;
    }
    
@media (max-width:768px) {
    #side {display: hidden;
        width: 0px;
        }  
        #side.toggle {
            min-width: 200px;
            background-color: white;
            min-height: 100vh;
        }
         
}


