<section class="customer-update-details">
  <div class="container-fluid">
    <div class="row" id="main-content">
      <div class="auth-box card">
        <div class="card-block">
          <div class="col-sm col-md m-b-30 col">
            <h3 class="text-center"></h3>
            <form class="md-float-material form-material" [formGroup]="myForm" (ngSubmit)="save()">
              <h5>First Contact </h5>
              <div class="form-group form-primary">
                <mat-form-field class="full-width" id="point-selection">
                  <input matInput placeholder="Name" formControlName="customerName" required [(ngModel)]="dataModel.poc1name">
                  <mat-error *ngIf="myForm.controls['customerName'].hasError('required')">
                    Username is Required
                  </mat-error>
                </mat-form-field>
              </div>
              <table class="example-full-width" cellspacing="0">
                <tr id="layout">
                  <td>
                    <div class="form-group form-primary">
                      <mat-form-field id="email">
                        <input matInput placeholder="Email" type="email" formControlName="emailControl" required [(ngModel)]="dataModel.poc1emailid">
                        <mat-error *ngIf="myForm.controls['emailControl'].hasError('required')">
                          Email id is Required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <td>
                      <div class="form-group form-primary">
                        <mat-form-field id="telephone">
                          <span matPrefix>+91 &nbsp;</span>
                          <input type="tel" matInput placeholder="Telephone" formControlName="mobileNumber" required [(ngModel)]="dataModel.poc1mobileno">
                          <mat-error *ngIf="myForm.controls['mobileNumber'].hasError('required') ">
                            Contact Number is Required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </td>
                </tr>
              </table>
              <h5>Second Contact</h5>
              <div class="form-group form-primary">
                <mat-form-field>
                  <input matInput placeholder="Name" [(ngModel)]="dataModel.poc2name">
                </mat-form-field>
              </div>
              <table class="example-full-width" cellspacing="0">
                <tr id="layout">
                  <td>
                    <div class="form-group form-primary" id="email">
                      <mat-form-field>
                        <input matInput placeholder="Email" type="email" [(ngModel)]="dataModel.poc2emailid">
                      </mat-form-field>
                    </div>
                    <td>
                      <div class="form-group form-primary">
                        <mat-form-field id="telephone">
                          <span matPrefix>+91 &nbsp;</span>
                          <input type="tel" matInput placeholder="Telephone" [(ngModel)]="dataModel.poc2mobileno">
                        </mat-form-field>
                      </div>
                    </td>
                </tr>
              </table>
              <h5>Address </h5>
              <div class="form-group form-primary">
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Address" formControlName="customerAddress" required [(ngModel)]="dataModel.address">
                    </textarea>
                  <mat-error *ngIf="myForm.controls['customerAddress'].hasError('required') ">
                    User Address is Required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group form-primary">
                <table class="example-full-width" cellspacing="0">
                  <tr id="layout-two">
                    <td>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="City" formControlName="customerCity" required [(ngModel)]="dataModel.addresscity">
                        <mat-error *ngIf="myForm.controls['customerCity'].hasError('required') ">
                          Required
                        </mat-error>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="State" formControlName="customerState" required [(ngModel)]="dataModel.addressstate">
                        <mat-error *ngIf="myForm.controls['customerState'].hasError('required')">
                          Required
                        </mat-error>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="PIN Code" formControlName="pinCode" required [(ngModel)]="dataModel.addresspincode">
                        <mat-error *ngIf="myForm.controls['pinCode'].hasError('required') ">
                          Required
                        </mat-error>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="form-group form-primary">
                <button type="submit" class="btn btn-primary" id="submit-button">submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>