<div class="row">    
  <mat-card>
    <div class="col-sm col-md m-b-30 col">
      <form class="md-float-material form-material" [formGroup]="editableForm" (ngSubmit)="save()">
        <app-editable-form-header [formMode]="formMode" (closeClick)="closeForm()" (editClick)="editForm()"></app-editable-form-header>
        <h5>First Contact </h5>
        <div class="form-group form-primary">
          <mat-form-field class="full-width" id="point-selection">
            <input disabled matInput placeholder="Name" formControlName="poc1nameControl" required [(ngModel)]="dataModel.poc1name">
            <mat-error *ngIf="editableForm.controls['poc1nameControl'].hasError('required')">
              Username is Required
            </mat-error>
          </mat-form-field>
        </div>
        <table class="example-full-width" cellspacing="0">
          <tr id="layout">
            <td>
              <div class="form-group form-primary">
                <mat-form-field id="email">
                  <input matInput placeholder="Email" type="email" formControlName="poc1emailidControl" required [(ngModel)]="dataModel.poc1emailid">
                  <mat-error *ngIf="editableForm.controls['poc1emailidControl'].hasError('required')">
                    Email id is Required
                  </mat-error>
                </mat-form-field>
              </div>
              <td>
                <div class="form-group form-primary">
                  <mat-form-field id="telephone">
                    <span matPrefix>+91 &nbsp;</span>
                    <input type="tel" matInput placeholder="Telephone" formControlName="poc1mobilenoControl" required [(ngModel)]="dataModel.poc1mobileno">
                    <mat-error *ngIf="editableForm.controls['poc1mobilenoControl'].hasError('required') ">
                      Contact Number is Required
                    </mat-error>
                  </mat-form-field>
                </div>
              </td>
          </tr>
        </table>
        <h5>Second Contact</h5>
        <div class="form-group form-primary">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="poc2nameControl" [(ngModel)]="dataModel.poc2name">
          </mat-form-field>
        </div>
        <table class="example-full-width" cellspacing="0">
          <tr id="layout">
            <td>
              <div class="form-group form-primary" id="email">
                <mat-form-field>
                  <input matInput placeholder="Email" type="email" formControlName="poc2emailidControl" [(ngModel)]="dataModel.poc2emailid">
                </mat-form-field>
              </div>
              <td>
                <div class="form-group form-primary">
                  <mat-form-field id="telephone">
                    <span matPrefix>+91 &nbsp;</span>
                    <input type="tel" matInput placeholder="Telephone" formControlName="poc2mobilenoControl" [(ngModel)]="dataModel.poc2mobileno">
                  </mat-form-field>
                </div>
              </td>
          </tr>
        </table>
        <h5>Address </h5>
        <div class="form-group form-primary">
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Address" formControlName="addressControl" required [(ngModel)]="dataModel.address">
            </textarea>
            <mat-error *ngIf="editableForm.controls['addressControl'].hasError('required') ">
              User Address is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group form-primary">
          <table class="example-full-width" cellspacing="0">
            <tr id="layout-two">
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="City" formControlName="addresscityControl" required [(ngModel)]="dataModel.addresscity">
                  <mat-error *ngIf="editableForm.controls['addresscityControl'].hasError('required') ">
                    Required
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="State" formControlName="addressstateControl" required [(ngModel)]="dataModel.addressstate">
                  <mat-error *ngIf="editableForm.controls['addressstateControl'].hasError('required')">
                    Required
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="PIN Code" formControlName="addresspincodeControl" required [(ngModel)]="dataModel.addresspincode">
                  <mat-error *ngIf="editableForm.controls['addresspincodeControl'].hasError('required') ">
                    Required
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
        <app-editable-form-footer-toolbar [formMode]="formMode" (closeClick)="closeForm()" (editClick)="editForm()"></app-editable-form-footer-toolbar>
      </form>
    </div>
  </mat-card>  
</div>