   <StackLayout class="dialog" width="100%">
        <Label class="h3" textWrap="true" text="Create Courses" style="padding-top:10%;"></Label>
        <GridLayout rows="auto, auto, auto, auto, auto, auto" columns="*">
            <GridLayout row="0" col="0" rows="*, auto" columns="50, *" style="vertical-align: center;" (tap)="doctorsOrders()">
                <Label row="0" col="0" class="pop-btn-icon fas" text="&#xf46c;" style="color: #396767;"></Label>
                <Label row="0" col="1" class="body" text="Doctor Orders" style="color: #396767;" class="pop-list-layout" ></Label>
                <StackLayout row="1" col="1" class="hr-light m-10"></StackLayout>
            </GridLayout>

            <GridLayout row="1" col="0" rows="*, auto" columns="50, *" style="vertical-align: center;">
                <Label row="0" col="0" class="pop-btn-icon fas" text="&#xf46c;" style="color: #396767;"></Label>
                <Label row="0" col="1" class="body" text="Intake" style="color: #396767;" class="pop-list-layout"></Label>
                <StackLayout row="1" col="1" class="hr-light m-10"></StackLayout>
            </GridLayout>
            <GridLayout row="2" col="0" rows="*, auto" columns="50, *" style="vertical-align: center;">
                <Label row="0" col="0" class="pop-btn-icon fas" text="&#xf46c;" style="color: #396767;"></Label>
                <Label row="0" col="1" class="body" text="Medicine" style="color: #396767;" class="pop-list-layout"></Label>
                <StackLayout row="1" col="1" class="hr-light m-10"></StackLayout>

            </GridLayout>
            <GridLayout row="3" col="0" rows="*, auto" columns="50, *" style="vertical-align: center;">
                <Label row="0" col="0" class="pop-btn-icon fas" text="&#xf46c;" style="color: #396767;"></Label>
                <Label row="0" col="1" class="body" text="Monitor" style="color: #396767;" class="pop-list-layout"></Label>
                <StackLayout row="1" col="1" class="hr-light m-10"></StackLayout>
            </GridLayout>
            <GridLayout row="4" col="0" rows="*, auto" columns="50, *" style="vertical-align: center;">
                <Label row="0" col="0" class="pop-btn-icon fas" text="&#xf46c;" style="color: #396767;"></Label>
                <Label row="0" col="1" class="body" text="Output" style="color: #396767;" class="pop-list-layout"></Label>
                <StackLayout row="1" col="1" class="hr-light m-10"></StackLayout>
            </GridLayout>
            <Button row="5" col="0" class="btn btn-outline" (tap)="closeDialog();"  text="Cancel"></Button>
           </GridLayout>

    </StackLayout>