<GridLayout columns="*" rows="*" style="background-color:#396766; justify-content: center;align-items: center;">
    <FlexboxLayout style=" width: 74%;">
      <CardView shadowOffsetWidth=1;>
        <GridLayout row="0" rows="*,*, *,*" columns="*" class="form" style="padding: 10 16; background-color: #f0f0f0;">
          <GridLayout row="0">
            <Label class="signmainlabel" width="150" height="60" text="Forgot Password"></Label>
          </GridLayout>
  
          <GridLayout row="1">
            <GridLayout rows="auto">
              <TextField row="0" hint="Email Address" keyboardType="email" autocorrect="false" autocapitalizationType="none" [(ngModel)]="email"
                class="input input-border"></TextField>
            </GridLayout>
             </GridLayout>
          <GridLayout row="2" rows="auto, auto">           
            <Button row="0" [text]="'Submit'" class="btn btn-primary" (tap)="forgotPassword()"></Button>
            <GridLayout row="1" class="hr-light m-10" style="margin-top:1%"></GridLayout>
          </GridLayout>
  
          <GridLayout row="3" columns="auto, *, auto">
            <Label col="0" top="5" [nsRouterLink]="['/login']" style="color: #00A6CE" text="Sign in"></Label>
            <Label col="2" top="5" text="Powered by OpenSoach"></Label>
          </GridLayout>
  
          <GridLayout row="4" columns="*" style="margin-top: 40px; text-align: center">
            <Label (tap)="toggleForm()">
              <FormattedString class="login-label">
                <Span text="Don’t have an account"></Span>
                <Span text="Register" class="bold"></Span>
              </FormattedString>
            </Label>
          </GridLayout>
  
  
        </GridLayout>
      </CardView>
    </FlexboxLayout>
  
  </GridLayout>