<div class="card app-design chart-card">
  <div class="card-block">
    <div class="row">
      <div class="col-6">
        <h6 class="f-w-400 text-muted">Task Summary</h6>
      </div>
      <div class="col-6 text-right">
        <mat-button-toggle-group [(ngModel)]="selectedoption" (ngModelChange)="optionChange()">
          <mat-button-toggle value="0">Till Date</mat-button-toggle>
          <mat-button-toggle value="1">This Month</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>    
    <div class="row">
      <ngx-charts-advanced-pie-chart
        [results]="taskchartdata"        
        [customColors] ="customColors">

      </ngx-charts-advanced-pie-chart>
    </div>
  </div>
