<div class="row" style="width:100%;">
  <!-- for medicine  -->
  <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="scheduleDataResponse.conftypecode==configCodeType.MEDICINE">
    <!-- name of medicine  -->
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Medicine Type </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          Test Medicine
        </div>
      </div>
    </div>
    <!-- frequency zero  markup block -->
    <div class="row"
      *ngIf="scheduleDataResponse.conf.frequency==freuencyZero && (scheduleDataResponse.conf.mornFreqInfo.freqMorn || scheduleDataResponse.conf.aftrnFreqInfo.freqAftrn || scheduleDataResponse.conf.nightFreqInfo.freqNight)">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Frequency </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row" *ngIf="scheduleDataResponse.conf.mornFreqInfo.freqMorn">
          <label>Morning: {{scheduleDataResponse.conf.mornFreqInfo.mornFreqQuantity}}</label>
        </div>
        <div class="row" *ngIf="scheduleDataResponse.conf.aftrnFreqInfo.freqAftrn">
          <label>Afternoon: {{scheduleDataResponse.conf.aftrnFreqInfo.aftrnFreqQuantity}}</label>
        </div>
        <div class="row" *ngIf="scheduleDataResponse.conf.nightFreqInfo.freqNight">
          <label>Evening: {{scheduleDataResponse.conf.nightFreqInfo.nightFreqQuantity}}</label>
        </div>
      </div>
    </div>
    <!-- frequency one  markup block -->
    <div class="row"
      *ngIf="scheduleDataResponse.conf.frequency==freuencyOne && scheduleDataResponse.conf.numberofTimes!=null">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Frequency </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{scheduleDataResponse.conf.numberofTimes}} times a day</label>
        </div>
        <div class="row">
          <label> Starts at {{scheduleDataResponse.conf.startTime | date :'shortTime'}}</label>
        </div>
        <div class="row">
          <label>Repeat every {{ timeConvert(scheduleDataResponse.conf.intervalHrs)}}</label>
        </div>
      </div>
    </div>
    <!-- duration markup block -->
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Duration </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{scheduleDataResponse.conf.duration}} days ({{ scheduleDataResponse.conf.startDate |
            date:'dd MMM yy'}} - {{scheduleDataResponse.enddate | date:'dd MMM yy'}} )</label>
        </div>
      </div>
    </div>
    <!-- description block -->
    <div class="row" *ngIf="scheduleDataResponse.conf.desc && scheduleDataResponse.conf.desc!=null">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Description </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{scheduleDataResponse.conf.desc}} </label>
        </div>
      </div>
    </div>
    <!-- special Instructions block -->
    <div class="row" *ngIf="scheduleDataResponse.conf.splinstruction">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Special Instruction </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>Test Instruction</label>
        </div>
      </div>
    </div>
    <!-- status block -->
    <div class="row" *ngIf="scheduleDataResponse.status!=null">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Status </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{checkStatus(scheduleDataResponse.status,scheduleDataResponse.enddate)}}</label>
        </div>
      </div>
    </div>
  </div>
  <!-- for Intake -->
  <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="scheduleDataResponse.conftypecode==configCodeType.INTAKE">
    <!-- name of medicine  -->
    <!-- <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Medicine Type </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          Test Medicine
        </div>
      </div>
    </div> -->

    <!-- frequency zero  markup block -->
    <div class="row"
      *ngIf="scheduleDataResponse.conf.frequency==freuencyZero && scheduleDataResponse.conf.intervalHrs !=null">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Frequency </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{scheduleDataResponse.conf.numberofTimes}} times a day</label>
        </div>
        <div class="row">
          <label> Starts at {{scheduleDataResponse.conf.startTime | date :'shortTime'}}</label>
        </div>
        <div class="row">
          <label>Repeat every {{timeConvert(scheduleDataResponse.conf.intervalHrs)}}</label>
        </div>
      </div>
    </div>
    <!-- frequency one  markup block -->
    <div class="row"
      *ngIf="scheduleDataResponse.conf.frequency==freuencyOne && scheduleDataResponse.conf.specificTimes.length>0">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Frequency </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{scheduleDataResponse.conf.specificTimes.length}} times a day at <span
              *ngFor="let item of scheduleDataResponse.conf.specificTimes;let i=index">{{item
              | date :'shortTime'}} <span
                *ngIf=" i <scheduleDataResponse.conf.specificTimes.length-1">,</span></span></label>
        </div>
        <div class="row">
          <label>Quantity {{scheduleDataResponse.conf.quantity}}</label>
        </div>
      </div>
    </div>
    <!-- duration markup block -->
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Duration </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{scheduleDataResponse.conf.duration}} days ({{ scheduleDataResponse.conf.startDate |
            date:'dd MMM yy'}} - {{scheduleDataResponse.enddate | date:'dd MMM yy'}} )</label>
        </div>
      </div>
    </div>
    <!-- description block -->
    <div class="row" *ngIf="scheduleDataResponse.conf.desc && scheduleDataResponse.conf.desc!=null">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Description </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{scheduleDataResponse.conf.desc}} </label>
        </div>
      </div>
    </div>
    <!-- special Instructions block -->
    <div class="row" *ngIf="scheduleDataResponse.conf.splinstruction">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Special Instruction </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>Test Instruction</label>
        </div>
      </div>
    </div>
    <!-- status block -->
    <div class="row" *ngIf="scheduleDataResponse.status!=null">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Status </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{checkStatus(scheduleDataResponse.status,scheduleDataResponse.enddate)}}</label>
        </div>
      </div>
    </div>
  </div>
  <!-- for Monitor -->
  <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="scheduleDataResponse.conftypecode==configCodeType.MONITOR">
    <!-- name of medicine  -->
    <!-- <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label>Medicine Type </label>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
          <div class="row">
            Test Medicine
          </div>
        </div>
      </div> -->

    <!-- frequency zero  markup block -->
    <div class="row"
      *ngIf="scheduleDataResponse.conf.frequency==freuencyZero && scheduleDataResponse.conf.intervalHrs !=null">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Frequency </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{scheduleDataResponse.conf.numberofTimes}} times a day</label>
        </div>
        <div class="row">
          <label> Starts at {{scheduleDataResponse.conf.startTime | date :'shortTime'}}</label>
        </div>
        <div class="row">
          <label>Repeat every {{timeConvert(scheduleDataResponse.conf.intervalHrs)}}</label>
        </div>
      </div>
    </div>
    <!-- frequency one  markup block -->
    <div class="row"
      *ngIf="scheduleDataResponse.conf.frequency==freuencyOne && scheduleDataResponse.conf.specificTimes.length>0">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Frequency </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{scheduleDataResponse.conf.specificTimes.length}} times a day at <span
              *ngFor="let item of scheduleDataResponse.conf.specificTimes;let i=index">{{item
              | date :'shortTime'}} <span
                *ngIf=" i <scheduleDataResponse.conf.specificTimes.length-1">,</span></span></label>
        </div>
      </div>
    </div>
    <!-- duration markup block -->
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Duration </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{scheduleDataResponse.conf.duration}} days ({{ scheduleDataResponse.conf.startDate |
            date:'dd MMM yy'}} - {{scheduleDataResponse.enddate | date:'dd MMM yy'}} )</label>
        </div>
      </div>
    </div>
    <!-- description block -->
    <div class="row" *ngIf="scheduleDataResponse.conf.desc && scheduleDataResponse.conf.desc!=null">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Description </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{scheduleDataResponse.conf.desc}} </label>
        </div>
      </div>
    </div>
    <!-- special Instructions block -->
    <div class="row" *ngIf="scheduleDataResponse.conf.splinstruction">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Special Instruction </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>Test Instruction</label>
        </div>
      </div>
    </div>
    <!-- status block -->
    <div class="row" *ngIf="scheduleDataResponse.status!=null">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Status </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{checkStatus(scheduleDataResponse.status,scheduleDataResponse.enddate)}}</label>
        </div>
      </div>
    </div>
  </div>



  <!-- for OutPut -->
  <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="scheduleDataResponse.conftypecode==configCodeType.OUTPUT">

    <!-- duration markup block -->
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Duration </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{ scheduleDataResponse.conf.duration}} days ({{ scheduleDataResponse.conf.startDate |
            date:'dd MMM yy'}} - {{scheduleDataResponse.enddate | date:'dd MMM yy'}} )</label>
        </div>
      </div>
    </div>

    <!-- description block -->
    <div class="row" *ngIf="scheduleDataResponse.conf.desc && scheduleDataResponse.conf.desc!=null">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Description </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{scheduleDataResponse.conf.desc}} </label>
        </div>
      </div>
    </div>

    <!-- status block -->
    <div class="row" *ngIf="scheduleDataResponse.status!=null">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Status </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{checkStatus(scheduleDataResponse.status,scheduleDataResponse.enddate)}}</label>
        </div>
      </div>
    </div>

    <!-- remark block -->
    <div class="row" *ngIf="scheduleDataResponse.conf.remark && scheduleDataResponse.conf.remark!=null">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Remark </label>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <label>{{scheduleDataResponse.conf.remark}} </label>
        </div>
      </div>
    </div>

  </div>
</div>