<div id="form-id" *ngIf="receivedCode">
<mat-card style="max-width:460px;" >
  <form class="" [formGroup]="forgotpasswordform" (ngSubmit)="sendOtp()">
    <div class="row" *ngIf="!setHide">
      <div class="col">
        <h3 class="text-center">Forgot Password</h3>
      </div>
    </div>
    <div class="row" *ngIf="setHide">
      <div class="col">
        <span>You have successfully changed your password.
          Now, goto the login page.<br></span>
      </div>
    </div>
    <div class="row" [hidden]="userid">
      <div class="col">
        <label class="viewlabel" style="padding: 10px 0px; font-size: 13px;" *ngIf="otpfield">Enter the email address
          associated with your account.</label>
        <label class="viewlabel" style="padding: 10px 0px; font-size: 13px;" *ngIf="!otpfield">We've sent an OTP to the
          email
          <span><a style="cursor: pointer !important;" href="mailto:dataModel.usrname">{{dataModel.usrname}}</a>.</span>
          Please enter it below to complete verification of your account.</label>
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Enter your email" [(ngModel)]="dataModel.usrname" name="username"
              formControlName="emailControl">
            <mat-error *ngIf="forgotpasswordform.controls['emailControl'].hasError('required')">
              {{'VALIDATION_REQUIRED_FIELD'|translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group" [hidden]="otpfield">
          <mat-form-field>
            <input matInput placeholder="OTP" [(ngModel)]="dataModel.otp" formControlName="otpControl" required>
          </mat-form-field>
        </div>

        <div [hidden]="otpfield == false">
          <button mat-raised-button color="accent" type="submit" style="width:100%">Continue</button>
        </div>
      </div>
    </div>
  </form>

  <form class="" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="row" [hidden]="otpfield">
      <div class="col">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="New Password" [(ngModel)]="dataModel.newpassword"
              [type]="hidenewPass ? 'password' : 'text'" formControlName="newPasswordControl">
            <mat-icon matSuffix class="{{hidenewPass ? 'fa fa-eye' : 'fa fa-eye-slash'}}"
              (click)="hidenewPass = !hidenewPass"></mat-icon>
            <mat-error *ngIf="resetPasswordForm.controls['newPasswordControl'].hasError('required')">
              {{'VALIDATION_REQUIRED_FIELD'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Confirm Password" [(ngModel)]="dataModel.confirmpassword"
              [type]="hideconfirm ? 'password' : 'text'" formControlName="confirmPasswordControl">
            <mat-icon matSuffix class="{{hideconfirm ? 'fa fa-eye' : 'fa fa-eye-slash'}}"
              (click)="hideconfirm = !hideconfirm"></mat-icon>
            <mat-error *ngIf="resetPasswordForm.controls['confirmPasswordControl'].hasError('required')">
              {{'VALIDATION_REQUIRED_FIELD'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- </form> -->
    <div class="row">
      <div class="col" [hidden]="otpfield">
        <button mat-raised-button color="accent" type="submit" style="width:100%">Reset Password</button>
      </div>
    </div>

    <hr />
  </form>

  <div class="row">
    <div class="col-md-4 col-sm-4">

    </div>

    <div class="col-md-8 col-sm-8" style="text-align:right;">
      <span class="font-small color-text-alternate" style="line-height:32px">Powered by
        <img src="./shared/assets/images/opensoach_logo_black.png" alt="OpenSoach" id="logo" style="padding-top:0px">
      </span>
    </div>
  </div>
</mat-card>
</div>
<div *ngIf="!receivedCode">
    <form class="" [formGroup]="forgotpasswordform" (ngSubmit)="sendOtp()">
      <div class="row" *ngIf="!setHide">
        <div class="col">
          <h3 class="text-center">Forgot Password</h3>
        </div>
      </div>
  
      <div class="row" *ngIf="setHide">
        <div class="col">
          <span>You have successfully changed your password.
            Now, goto the login page.<br></span>
        </div>
      </div>
  
      <div class="row" [hidden]="userid">
        <div class="col">
          <label class="viewlabel" style="padding: 10px 0px; font-size: 13px;" *ngIf="otpfield">Enter the email address
            associated with your account.</label>
          <label class="viewlabel" style="padding: 10px 0px; font-size: 13px;" *ngIf="!otpfield">We've sent an OTP to the
            email
            <span><a style="cursor: pointer !important;" href="mailto:dataModel.usrname">{{dataModel.usrname}}</a>.</span>
            Please enter it below to complete verification of your account.</label>
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Enter your email" [(ngModel)]="dataModel.usrname" name="username"
                formControlName="emailControl">
              <mat-error *ngIf="forgotpasswordform.controls['emailControl'].hasError('required')">
                {{'VALIDATION_REQUIRED_FIELD'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="form-group" [hidden]="otpfield">
            <mat-form-field>
              <input matInput placeholder="OTP" [(ngModel)]="dataModel.otp" formControlName="otpControl" required>
            </mat-form-field>
          </div>
  
          <div [hidden]="otpfield == false">
            <button mat-raised-button color="accent" type="submit" style="width:100%">Continue</button>
          </div>
        </div>
      </div>
    </form>
  
    <form class="" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <div class="row" [hidden]="otpfield">
        <div class="col">
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="New Password" [(ngModel)]="dataModel.newpassword"
                [type]="hidenewPass ? 'password' : 'text'" formControlName="newPasswordControl">
              <mat-icon matSuffix class="{{hidenewPass ? 'fa fa-eye' : 'fa fa-eye-slash'}}"
                (click)="hidenewPass = !hidenewPass"></mat-icon>
              <mat-error *ngIf="resetPasswordForm.controls['newPasswordControl'].hasError('required')">
                {{'VALIDATION_REQUIRED_FIELD'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Confirm Password" [(ngModel)]="dataModel.confirmpassword"
                [type]="hideconfirm ? 'password' : 'text'" formControlName="confirmPasswordControl">
              <mat-icon matSuffix class="{{hideconfirm ? 'fa fa-eye' : 'fa fa-eye-slash'}}"
                (click)="hideconfirm = !hideconfirm"></mat-icon>
              <mat-error *ngIf="resetPasswordForm.controls['confirmPasswordControl'].hasError('required')">
                {{'VALIDATION_REQUIRED_FIELD'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- </form> -->
      <div class="row">
        <div class="col" [hidden]="otpfield">
          <button mat-raised-button color="accent" type="submit" style="width:100%">Reset Password</button>
        </div>
      </div>
      <hr />
    </form>
  </div>
  
