.mat-table {
    width: 100% !important
  }
  
  tr.example-detail-row {
    height: 0 !important;
  }
  .iner-body {
    padding: 6px;
    margin-left: 4%;
  }
  
  .detail_back {
    background-color: #fdf9f9 !important;
  }
  .displayDesc
{
    font-size: 12px;
    margin-left: 7px;
    color: rgba(0, 0, 0, 0.637);
}
.spaceMargin
{
  margin-left: 10px;
}