<section class="list-view">
  <div class="container-fluid">
    <div class="row" id="main-content">
      <div class="col-sm col-md m-b-30 col">
        <div class="auth-box card">
          <div class="card-block">
              <h4>Sort</h4>
              <table class="example-full-width" cellspacing="0">
                <tr id="layout-set">
                  <td>
                    <mat-form-field>
                      <mat-select placeholder="Sort">
                        <mat-option>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <p> Ascending
                      <i class="fa fa-long-arrow-up"></i>
                    </p>
                  </td>
                  <td>
                    <p> descending
                      <i class="fa fa-long-arrow-down"></i>
                    </p>
                  </td>
                </tr>
              </table>            
            <div class="example-container mat-elevation-z8">
              <mat-table [dataSource]="dataSource" matSort matSortDisableClear>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <ng-container matColumnDef="custname">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 13%;">Cust Name</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="flex:0 0 13%;">
                    <span class="mobile-label">Customer Name:</span>
                    {{row.custname}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="corpname">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 12%;">Corp Name</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="flex:0 0 12%;">
                    <span class="mobile-label">Corp Name:</span>
                    {{row.corpname}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="poc1name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 13%;">Name</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="flex:0 0 13%;">
                    <span class="mobile-label">Name</span>
                    {{row.poc1name}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="poc1emailid">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 15%;">Email Id</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="flex:0 0 15%;">
                    <span class="mobile-label">Email Id</span>
                    {{row.poc1emailid}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="poc1mobileno">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 10%;">Mobile No</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="flex:0 0 10%;">
                    <span class="mobile-label">Mobile No:</span>
                    {{row.poc1mobileno}}
                  </mat-cell>
                </ng-container>
              </mat-table>
              <mat-paginator #paginator [length]="filteredrecords" [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
            <br>
            <button type="button" class="btn btn-primary" routerLink="add" skipLocationChange>Add Customer</button>
            <button type="button" class="btn btn-success" routerLink="update-customer" skipLocationChange>Update Customer Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
