<section class="list-view">
  <div class="container-fluid">
    <div class="row" id="main-content">
      <div class="col-sm col-md m-b-30 col">
        <div class="auth-box card">
          <div class="card-block">
            <div class="mobile-sort">
              <h4>Sort</h4>
              <table class="example-full-width" cellspacing="0">
                <tr id="layout-set">
                  <td>
                    <mat-form-field>
                      <mat-select placeholder="Sort by" [(ngModel)]="this.sort.active" name="sortby" (selectionChange)="sortByChanged()">
                        <mat-option *ngFor="let col of sortByColumns" [value]="col.value">
                          {{col.text}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <div (click)="sortDirectionAsc()"> Ascending
                      <i class="fa fa-long-arrow-up"></i>
                    </div>
                  </td>
                  <td>
                    <div (click)="sortDirectionDesc()"> Descending
                      <i class="fa fa-long-arrow-down"></i>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="example-container mat-elevation-z8">
              <mat-table [dataSource]="dataSource" matSort matSortDisableClear>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <ng-container matColumnDef="custname">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 13%;">Cust Name</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="flex:0 0 13%;">
                    <span class="mat-row-mobile-label">Customer Name:</span>
                    {{row.custname}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="corpname">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 12%;">Corp Name</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="flex:0 0 12%;">
                    <span class="mat-row-mobile-label">Corp Name:</span>
                    {{row.corpname}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="poc1name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 13%;">Name</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="flex:0 0 13%;">
                    <span class="mat-row-mobile-label">Name</span>
                    {{row.poc1name}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="poc1emailid">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 15%;">Email Id</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="flex:0 0 15%;">
                    <span class="mat-row-mobile-label">Email Id</span>
                    {{row.poc1emailid}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="poc1mobileno">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 10%;">Mobile No</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="flex:0 0 10%;">
                    <span class="mat-row-mobile-label">Mobile No</span>
                    {{row.poc1mobileno}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="custstate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 10%;">Status</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="flex:0 0 10%;">
                    <span class="mat-row-mobile-label">Status</span>
                    {{customerService.getCustomerState(row.custstate) | translate}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef style="flex:0 0 6%;">Action</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="flex:0 0 6%;">
                    <span class="mat-row-mobile-label">Action</span>
                    <i (click)="editRecord(row.custid)" style="color:#337AB7 !important;" class="fa fa-eye" aria-hidden="true" matTooltip="View Details"></i>
                  </mat-cell>
                </ng-container>
              </mat-table>
              <mat-paginator #paginator [length]="filteredrecords" [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
            <br>
            <button type="button" class="btn btn-primary" routerLink="add" skipLocationChange>Add Customer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
