<div class="row">
  <div class="col">
    <mat-card>
      <mat-expansion-panel [expanded]="isExpanded" (opened)="panelOpened()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="fa fa-filter" aria-hidden="true"></i>
            <span style="padding-left:10px">Filter</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <mat-form-field>
              <input matInput placeholder="{{'OPERATOR_LIST_COLUM_OPERATOR_NAME' | translate}}" [(ngModel)]="dataModel.fopname">
              <button mat-button *ngIf="dataModel.fopname" matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.fopname=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-md-3 col-sm-6">
            <mat-form-field>
              <mat-select placeholder="Status" [(ngModel)]="dataModel.fopstate">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let opstate of operatorStates" [value]="opstate.value">
                  {{opstate.text | translate}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3 col-sm-6">
            <mat-form-field>
              <input matInput placeholder="Email Id" [(ngModel)]="dataModel.emailid">
              <button mat-button *ngIf="dataModel.emailid" matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.emailid=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-md-3 col-sm-6">
              <mat-form-field>
                <input matInput placeholder="Mobile Number" [(ngModel)]="dataModel.mobileno">
                <button mat-button *ngIf="dataModel.mobileno" matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.mobileno=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
        </div>
        <button type="button" mat-raised-button color="primary" (click)="search()">Apply</button>
      </mat-expansion-panel>
    </mat-card>
  </div>
</div>