<div>
  <label class="lbl_heading_list">Medicine</label>
</div>
<div class="row">
  <div class="col">

    <!-- After sorting the json value we will use sorting in UI -->
    <!--  When JSON data will sort then add mat-sort-header in each column -->

    <!-- <div class="mobile-sort">
    <h4>Sort</h4>
    <table class="example-full-width" cellspacing="0">
      <tr id="layout-set">
        <td>
          <mat-form-field>
            <mat-select placeholder="Sort by" [(ngModel)]="this.sort.active" name="sortby" (selectionChange)="sortByChanged()">
              <mat-option *ngFor="let col of sortByColumns" [value]="col.value">
                {{col.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <div (click)="sortDirectionAsc()"> Ascending
            <i class="fa fa-long-arrow-up"></i>
          </div>
        </td>
        <td>
          <div (click)="sortDirectionDesc()"> Descending
            <i class="fa fa-long-arrow-down"></i>
          </div>
        </td>
      </tr>
    </table>
  </div> -->
    <div class="example-container mat-elevation-z8">
      <mat-table [dataSource]="dataSource" multiTemplateDataRows matSort matSortDisableClear>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
          [class.example-expanded-row]="expandedElement === row"
          (click)="expandedElement = expandedElement === row ? null : row;setOpenCloseSchedule()"
          style="cursor: pointer !important;"></mat-row>
        <mat-row style="min-height: 0px !important" *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"></mat-row>

        <ng-container matColumnDef="actionname">
          <mat-header-cell *matHeaderCellDef style="flex:0 0 41%;">Name</mat-header-cell>
          <mat-cell *matCellDef="let row" style="flex:0 0 41%;">
            <span class="mat-cell-responsive-label">Name</span>
            <span class="ellipsis mat-cell-text">{{row.actionname}}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="scheduledtime">
          <mat-header-cell *matHeaderCellDef style="flex:0 0 26%;">Performed On</mat-header-cell>
          <mat-cell *matCellDef="let row" style="flex:0 0 26%;">
            <span class="mat-cell-responsive-label">Performed On</span>
            <span class="ellipsis mat-cell-text">{{row.scheduledtime | date:'dd-MMM-yy'}}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="by">
          <mat-header-cell *matHeaderCellDef style="flex:0 0 26%;">Performed By</mat-header-cell>
          <mat-cell *matCellDef="let row" style="flex:0 0 26%;">
            <span class="mat-cell-responsive-label">Performed By</span>
            <span class="ellipsis mat-cell-text">{{row.firstname +" "+row.lastname }}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="view">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span class="mat-cell-responsive-label">view</span>
            <span class="ellipsis mat-cell-text" *ngIf="row!==expandedElement" style="text-align: center;"><i
                class="fa fa-chevron-circle-right" style="text-align: center;font-size: 1.5em;color:#FFA500"
                aria-hidden="true"></i></span>
            <span class="ellipsis mat-cell-text" *ngIf="row==expandedElement" style="text-align: center;"><i
                class="fa fa-chevron-circle-down" style="text-align: center;font-size: 1.5em;color:#FFA500"
                aria-hidden="true"></i></span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <mat-cell class="detail_back" *matCellDef="let element" colspan="2">
            <div class="row" style="width:100%" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="col iner-body">
                <div class="row" *ngIf="checkEmptyObjects(element)">
                  <div class="col-md-4 col-lg-4 col-sm-4">
                    <label>Comment: {{element.txndata.comment }}</label>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-4">
                    <label *ngIf="element.txndata.value!==null">Value: {{element.txndata.value }}</label>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-4">
                    <label *ngIf="element.status!=null">Status: {{element.status }}</label>
                    <div class="pull-right">
                      <button (click)="viewSchedule(element)" class="btn btn-default btn-xs"
                        style="font-size: 11px;line-height: 1;">View
                        Schedule</button>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="isViewSchedule && element == expandedElement">
                  <app-specific-schedule-details-expand-view style="width: 100%;"
                    [patientconfid]="element.patientconfid"></app-specific-schedule-details-expand-view>
                </div>
              </div>
            </div>
          </mat-cell>
        </ng-container>
      </mat-table>
      <mat-paginator #paginator [length]="filteredrecords" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>