<div class="row">
  <div class="col">
    <mat-card>
      <div id="container">
        <div ng2-carouselamos class="slides-wrapper" [items]="this.dataModel.splist" [$prev]="prev" [$next]="next" [$item]="item">
        </div>
        <ng-template #prev>
          <button type="button" color="primary" class="backButton" mat-icon-button matTooltip="Previous">
            <mat-icon aria-label="Previous">chevron_left</mat-icon>
          </button>
        </ng-template>
        <ng-template #next>
          <button type="button" color="primary" class="backButton" mat-icon-button matTooltip="Next">
            <mat-icon aria-label="Next">chevron_right</mat-icon>
          </button>
        </ng-template>
        <ng-template #item let-item let-i="index">
          <div class="items">
            <mat-card class="carousel-card" [ngClass]="{'selected-carousel-card':item===dataModel.selectedsp}">
              <mat-card-header>
                <div mat-card-avatar>
                  <i class="fa fa-map-marker carousel-card-icon"></i>
                </div>
                <mat-card-title class="carousel-card-title">{{item.spname}}</mat-card-title>
                <mat-card-subtitle class="carousel-card-subtitle">{{item.spcname}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-actions>
                <button mat-button color="accent" (click)="selectedSpChange(item)">View</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </ng-template>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-button-toggle-group [(ngModel)]="dataModel.selecteddateoption" (ngModelChange)="optionChange()">
            <mat-button-toggle value="1">Yesterday</mat-button-toggle>
            <mat-button-toggle value="0">Today</mat-button-toggle>
            <mat-button-toggle value="2" (click)="picker.opened=true">Select</mat-button-toggle>
          </mat-button-toggle-group>
          <mat-form-field style="width:0px;height:0px;visibility:collapse;">
            <input matInput [matDatepicker]="picker" (dateChange)="dateChanged($event.value)">
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-6 text-right">
          {{selectedDate| date:'dd/MM/yyyy'}}
        </div>
      </div>
      <div id="resp-table" *ngIf="isDataLoaded">
        <div id="resp-table-header">
          <div class="table-header-cell table-body-cell-time">
            Task/Time
          </div>
          <div *ngFor="let slot of dataModel.timeslots" class="table-header-cell table-body-cell-input">
            <div>{{slot.slotdisplaytext}}</div>
          </div>
        </div>
        <div id="resp-table-body">
          <div *ngFor="let task of dataModel.variableconf.taskconf.tasks;let i=index" class="resp-table-row">
            <div class="table-body-cell table-body-cell-time">
              <div class="time-block">{{task.taskname}}</div>
            </div>
            <div *ngFor="let txnslot of dataModel.tasktxnslotmap.get(task.taskname);let j=index" class="table-body-cell table-body-cell-input input-block">
              <div *ngIf="txnslot.txn" style="width:120px">
                <div>
                  <div>
                    <i style="color:white" class="fa fa-check {{setStatusCss(txnslot.txn)}}" aria-hidden="true"></i> by {{txnslot.txn.fopname}}
                  </div>
                  <div>
                    at {{txnslot.txn.txndate | date:'hh:mm a'}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
