<div class="row">
  <div class="col">
    <mat-card>
      <div class="mobile-sort">
        <h4>Sort</h4>
        <table class="example-full-width" cellspacing="0">
          <tr id="layout-set">
            <td>
              <mat-form-field>
                <mat-select placeholder="Sort by" [(ngModel)]="this.sort.active" name="sortby"
                  (selectionChange)="sortByChanged()">
                  <mat-option *ngFor="let col of sortByColumns" [value]="col.value">
                    {{col.text}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <div (click)="sortDirectionAsc()"> Ascending
                <i class="fa fa-long-arrow-up"></i>
              </div>
            </td>
            <td>
              <div (click)="sortDirectionDesc()"> Descending
                <i class="fa fa-long-arrow-down"></i>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort matSortDisableClear>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          <ng-container matColumnDef="fname">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 16%;">Patient Name</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 16%;">
              <span class="mat-cell-responsive-label">Patient Name</span>
              <span class="ellipsis mat-cell-text">{{row.fname +' '+row.lname}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="patientregno">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 15%;">Patient Reg No</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 15%;">
              <span class="mat-cell-responsive-label">Patient Reg No</span>
              <span class="ellipsis mat-cell-text">{{row.patientregno}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="mobno">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 12%;">Contact No</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 12%;">
              <span class="mat-cell-responsive-label">Contact No</span>
              <span class="ellipsis mat-cell-text">{{row.mobno}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="emergencycontactno">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 13%;">Emergency Contact</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 13%;">
              <span class="mat-cell-responsive-label">Emergency Contact</span>
              <span class="ellipsis mat-cell-text">{{row.emergencycontactno}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="spid">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 10%;">Ward</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 10%;">
              <span class="mat-cell-responsive-label">Ward</span>
              <span class="ellipsis mat-cell-text"> {{ getSPName(row.spid)}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="bedno">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 13%;">Room/Bed No</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 13%;">
              <span class="mat-cell-responsive-label">Room/Bed No</span>
              <span class="ellipsis mat-cell-text"> {{row.bedno}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 13%;">Status</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 13%;">
              <span class="mat-cell-responsive-label">Status</span>
              <span [ngSwitch]="row.status">
                <div class="statusBlock" *ngSwitchCase="PATIENT_STATE.HOSPITALIZE" style="background-color:#28a745">Hospitalize</div>
                <button *ngSwitchCase="PATIENT_STATE.HOSPITALIZE" mat-icon-button color="accent" data-toggle="modal" data-target="#myModal"
                  (click)="setSelectedPatient(row)">
                  <i class="fa fa-toggle-on" aria-hidden="true" matTooltip="Change Status"></i>
                </button>
                <div class="statusBlock" *ngSwitchCase="PATIENT_STATE.DISCHARGED" style="background-color:#15A5CA">Discharged</div>
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 7%;">Details</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 6%;">
              <span class="mat-cell-responsive-label">Details</span>
              <button mat-icon-button (click)="viewDetails(row.patientid,row.admissionid)">
                <mat-icon color='primary' aria-hidden="true" matTooltip="View Details">
                  remove_red_eye
                </mat-icon>
              </button>
            </mat-cell>
          </ng-container>

        </mat-table>
        <mat-paginator #paginator [length]="filteredrecords" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
      <br>
    </mat-card>

    <div class="modal fade" id="myModal" role="dialog">
      <form [formGroup]="editableForm">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Status</h4>
              <button type="button" class="close" (click)="cancelStatus()" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <label>
                Do you wish to change the status to Discharged ?
              </label>
              <br>
              <br>
              <br>

              <div class="form-group form-primary" mat-dialog-content>
                <div>
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Patient Discharged Date" [matDatepicker]="startdatepicker"
                      [(ngModel)]="dataModel.dischargedon" formControlName="dischargedDateControls">
                    <mat-datepicker-toggle matSuffix [for]="startdatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #startdatepicker touchUi="true"></mat-datepicker>
                    <mat-error *ngIf="editableForm.controls['dischargedDateControls'].hasError('required')">
                      {{'VALIDATION_REQUIRED_FIELD'|translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <input matInput type="time" placeholder="Choose Time" [(ngModel)]="selectedStartTime" value="{{selectedStartTime}}" formControlName="dischargedTimeControls">
                    <button color="accent" type="button" matSuffix mat-icon-button aria-label="Choose"
                      (click)="openStartTime()">
                      <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col text-right" style="margin-top: 15px;">
                  <button matSuffix type="button" color="primary" mat-raised-button style="margin-right:10px"
                    data-dismiss="modal" (click)="cancelStatus()">No</button>
                  <button matSuffix type="button" color="primary" mat-raised-button (click)="changestatus()"
                    data-dismiss="modal">Yes</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>

  </div>
</div>