<mat-card>
    <div class="row">
        <div class="col-10">
            <mat-card-header>
                <div mat-card-avatar>
                    <i class="fa fa-address-card-o" style="font-size:24px;color:#446666">
                    </i>
                </div>
                <mat-card-title>Complaint</mat-card-title>
            </mat-card-header>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-divider [inset]="true"></mat-divider>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-card-content>
                <div *ngIf="isResponsereceived">
                    <app-multiple-comment-input [itemList]="dataModel.presentComplaintsData.data"
                        placeHolderText="Write your complaint" (onItemAdd)='onAddedComplaint($event)'>
                    </app-multiple-comment-input>
                </div>
            </mat-card-content>
        </div>
    </div>
</mat-card>


<mat-card>
    <div class="row">
        <div class="col-10">
            <mat-card-header>
                <div mat-card-avatar>
                    <i class="fa fa-address-card-o" style="font-size:24px;color:#446666">
                    </i>
                </div>
                <mat-card-title>Reason For Admission</mat-card-title>
            </mat-card-header>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-divider [inset]="true"></mat-divider>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-card-content>
                <div *ngIf="isResponsereceived">
                    <app-multiple-comment-input [itemList]="dataModel.reasonForAdmissionData.data"
                        placeHolderText="Write your reason for admission." (onItemAdd)='onAddedAdmission($event)'>
                    </app-multiple-comment-input>
                </div>
            </mat-card-content>
        </div>
    </div>
</mat-card>

<mat-card>
    <div class="row">
        <div class="col-10">
            <mat-card-header>
                <div mat-card-avatar>
                    <i class="fa fa-address-card-o" style="font-size:24px;color:#446666">
                    </i>
                </div>
                <mat-card-title>History Of Present Illness</mat-card-title>
            </mat-card-header>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-divider [inset]="true"></mat-divider>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-card-content>
                <div *ngIf="isResponsereceived">
                    <app-multiple-comment-input [itemList]="dataModel.historyPresentIllnessData.data"
                        placeHolderText="Write your history of present illness."
                        (onItemAdd)='onAddedHistoryPresentIllness($event)'>
                    </app-multiple-comment-input>
                </div>
            </mat-card-content>
        </div>
    </div>
</mat-card>

<mat-card>
    <div class="row">
        <div class="col-10">
            <mat-card-header>
                <div mat-card-avatar>
                    <i class="fa fa-address-card-o" style="font-size:24px;color:#446666">
                    </i>
                </div>
                <mat-card-title>Past History About Health</mat-card-title>
            </mat-card-header>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-divider [inset]="true"></mat-divider>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-card-content>
                <div *ngIf="isResponsereceived">
                    <app-multiple-comment-input [itemList]="dataModel.pastHistoryData.data"
                        placeHolderText="Write your past history about health."
                        (onItemAdd)='onAddedPastHistory($event)'></app-multiple-comment-input>
                </div>
            </mat-card-content>
        </div>
    </div>
</mat-card>

<mat-card>
    <div class="row">
        <div class="col-10">
            <mat-card-header>
                <div mat-card-avatar>
                    <i class="fa fa-address-card-o" style="font-size:24px;color:#446666">
                    </i>
                </div>
                <mat-card-title>Treatment Before Admission</mat-card-title>
            </mat-card-header>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-divider [inset]="true"></mat-divider>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-card-content>
                <div *ngIf="isResponsereceived">
                    <app-multiple-comment-input [itemList]="dataModel.treatmentBeforeAdmissionData.data"
                        placeHolderText="If you take any treatment before admission then write here."
                        (onItemAdd)='onAddedTreatmentBeforeAdmission($event)'>
                    </app-multiple-comment-input>
                </div>
            </mat-card-content>
        </div>
    </div>
</mat-card>

<mat-card>
    <div class="row">
        <div class="col-10">
            <mat-card-header>
                <div mat-card-avatar>
                    <i class="fa fa-address-card-o" style="font-size:24px;color:#446666">
                    </i>
                </div>
                <mat-card-title>Investigation Before Admission</mat-card-title>
            </mat-card-header>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-divider [inset]="true"></mat-divider>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-card-content>
                <div *ngIf="isResponsereceived">
                    <app-multiple-comment-input [itemList]="dataModel.investigationBeforeAdmissionData.data"
                        placeHolderText="If you take any investigation before admission then write here."
                        (onItemAdd)='onAddedInvestigationBeforeAdmission($event)'>
                    </app-multiple-comment-input>
                </div>
            </mat-card-content>
        </div>
    </div>
</mat-card>

<mat-card>
    <div class="row">
        <div class="col-10">
            <mat-card-header>
                <div mat-card-avatar>
                    <i class="fa fa-address-card-o" style="font-size:24px;color:#446666">
                    </i>
                </div>
                <mat-card-title>Family History</mat-card-title>
            </mat-card-header>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-divider [inset]="true"></mat-divider>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-card-content>
                <div *ngIf="isResponsereceived">
                    <app-multiple-comment-input [itemList]="dataModel.familyHistoryData.data"
                        placeHolderText="Write about your family history." (onItemAdd)='onAddedFamilyHistory($event)'>
                    </app-multiple-comment-input>
                </div>
            </mat-card-content>
        </div>
    </div>
</mat-card>

<mat-card>
    <div class="row">
        <div class="col-10">
            <mat-card-header>
                <div mat-card-avatar>
                    <i class="fa fa-address-card-o" style="font-size:24px;color:#446666">
                    </i>
                </div>
                <mat-card-title>Allergies</mat-card-title>
            </mat-card-header>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-divider [inset]="true"></mat-divider>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-card-content>
                <div *ngIf="isResponsereceived">
                    <app-multiple-comment-input [itemList]="dataModel.allergiesData.data"
                        placeHolderText="Write about your allergies." (onItemAdd)='onAddedAllergies($event)'>
                    </app-multiple-comment-input>
                </div>
            </mat-card-content>
        </div>
    </div>
</mat-card>

<div *ngIf="isResponsereceived">
    <app-medical-personal-history [itemPersonList]="dataModel.personalHistoryData.data"
        (onItemAddPerson)='onAddedPersonHistory($event)'>
    </app-medical-personal-history>
</div>