<!-- 
<div class="row">
  <div class="col">
    <mat-card>
      <form [formGroup]="editableForm" (ngSubmit)="search()">
        <div class="row">
          <div class="col-10">
            <mat-card-header>
              <mat-card-title>Present Complains</mat-card-title>
            </mat-card-header>
          </div>
          <div class="col-2 text-right">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-divider [inset]="true"></mat-divider>
          </div>
        </div>
        <div style="margin: 20px; padding: 10px;">
          <div class="row">
            <div class="col-md-8">
              <mat-form-field class="example-full-width">
                <textarea matInput ref-textarea [(ngModel)]="textValue" rows="4"> </textarea>
              </mat-form-field>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
              <button mat-icon-button (click)="logText(textarea.value)" matTooltip="Save">
                <i class="fa fa-check" style="font-size:30px;color:#3b3c53"></i>
              </button>
            </div>
          </div>
          <div class="row">
              <pre>{{log}}</pre>
          </div>
        </div>

        <div class="row">
          <div class="col-10">
            <mat-card-header>
              <mat-card-title>Reasone For Admission</mat-card-title>
            </mat-card-header>
          </div>
          <div class="col-2 text-right">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-divider [inset]="true"></mat-divider>
          </div>
        </div>
        <div style="margin: 20px; padding: 10px;">
          <div class="row">
            <div class="col-md-8">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Write reason for admission here!" formControlName="presentcomplains" rows="3" maxlength="25"> </textarea>
              </mat-form-field>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
              <button mat-icon-button type="submit" matTooltip="Save">
                <i class="fa fa-check" style="font-size:30px;color:#3b3c53"></i>
              </button>
            </div>
          </div>
        </div>


      </form>
    </mat-card>
  </div>
</div> -->