<GridLayout rows="*" columns="*,auto" height="100%" width="100%">
    <RadListView #myListView [items]="_dataItems" [itemTemplateSelector]="templateSelector" (itemTap)="onItemTap($event)" (loaded)="listLoaded()"
        multipleSelection="false" selectionBehavior="Press" [groupingFunction]="_funcGrouping" colSpan="2" >
        <ng-template tkListItemTemplate let-item="item">
            <!-- <CardView class="cardStyle" margin="3" shadowOffsetWidth = 1; style="margin-bottom: 10px; padding: 6% 6%;"> -->
            <GridLayout columns="*" rows="auto, auto" class="listItemStackLayout">
                <GridLayout row="0" columns="70, *" rows="auto, auto ">
                    <GridLayout col="0" columns="*" rows="auto, auto" style="vertical-align: center; text-align:center;color: #ebebeb;" [text]="item.status"
                        [ngClass]="{grey: item.status === 1,red: item.status === 2,orenge: item.status === 3}">
                        <StackLayout *ngIf="item.status === 1" row="1" class="list-layout">
                            <Label row="0" col="0" text="&#xf020;" class="mdi list-text"></Label>
                            <Label row="1" col="0" text="3:30 PM"></Label>
                        </StackLayout>
                        <StackLayout *ngIf="item.status === 2" row="1" class="list-layout">
                            <Label row="0" col="0" text="&#xf020;" class="mdi list-text"></Label>
                            <Label row="1" col="0" text="2:30 PM"></Label>
                        </StackLayout>
                        <StackLayout *ngIf="item.status === 3" row="1" class="list-layout">
                            <Label row="0" col="0" text="&#xf020;" class="mdi list-text"></Label>
                            <Label row="1" col="0" text="4:30 PM"></Label>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout col="1" columns="auto,*" rows="auto, auto" class="list-layout">
                        <Label row="0" col="1" class="h3" [text]="item.title" style="color: #396767;"></Label>
                        <Label row="1" col="1" class="body" textWrap="true" [text]="item.desc" style="margin-left: 10px;"></Label>
                    </GridLayout>
                </GridLayout>
                <GridLayout row="1" col="0">
                    <StackLayout class="hr-light m-10"></StackLayout>
                </GridLayout>
            </GridLayout>
            <!-- </CardView> -->
        </ng-template>

        <ng-template tkGroupTemplate let-category="category">
            <GridLayout class="category-header">
                <Label class="nameLabel" [text]="category" [ngClass]="{groupLabelIntake: category == 'Intake',groupLabelMonitor: category == 'Monitor',groupLabelMedicine: category == 'Medicine',groupLabelOutput: category == 'Output'}"></Label>
            </GridLayout>
        </ng-template>

        <ng-template tkTemplateKey="expanded" let-item="item">
            <!-- <CardView class="cardStyle" margin="3" shadowOffsetWidth = 0; style="margin-bottom: 10px; padding: 6% 6%;"> -->
            <GridLayout rows="auto,auto,auto,auto" columns="*" class="listItemStackLayout">
                <GridLayout row="0" columns="70, *" rows="auto, auto ">
                    <GridLayout col="0" columns="*" rows="auto, auto" style="vertical-align: center; text-align:center;color: #ffffff;" [text]="item.status"
                        [ngClass]="{grey: item.status === 1,red: item.status === 2,orenge: item.status === 3}">
                        <StackLayout *ngIf="item.status === 1" row="1" class="list-layout">
                            <Label row="0" col="0" text="&#xf020;" class="mdi list-text"></Label>
                            <Label row="1" col="0" text="3:30 PM"></Label>
                        </StackLayout>
                        <StackLayout *ngIf="item.status === 2" row="1" class="list-layout">
                            <Label row="0" col="0" text="&#xf020;" class="mdi list-text"></Label>
                            <Label row="1" col="0" text="2:30 PM"></Label>
                        </StackLayout>
                        <StackLayout *ngIf="item.status === 3" row="1" class="list-layout">
                            <Label row="0" col="0" text="&#xf020;" class="mdi list-text"></Label>
                            <Label row="1" col="0" text="4:30 PM"></Label>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout col="1" columns="auto,*" rows="auto, auto" class="list-layout">
                        <Label row="0" col="1" class="h3" [text]="item.title" style="color: #396767;"></Label>
                        <Label row="1" col="1" class="body" textWrap="true" [text]="item.desc" style="margin-left: 10px;"></Label>
                    </GridLayout>
                </GridLayout>
                <GridLayout row="1" col="0">
                    <StackLayout class="hr-light m-10"></StackLayout>
                </GridLayout>
                <GridLayout row="2" col="0" columns="auto, auto" rows="auto">
                    <StackLayout class="cardeffect">
                        <GridLayout columns="*, auto" rows="auto, auto" style="padding: 5px;">
                            <GridLayout col="0" columns="auto,auto, auto" rows="auto, auto" style=" vertical-align: center; margin-top:3px;" *ngIf="item.has_details === true">
                                <StackLayout col="0" style="width:50%;">
                                    <TextField hint="Comment" keyboardType="email" autocorrect="false" class="input input-border"></TextField>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout row="1" col="0" columns="auto, auto, auto" style="justify-content: center; vertical-align: center;">
                                <StackLayout col="0" style="width:30%;" *ngIf="item.has_details === true">
                                    <TextField hint="Value" keyboardType="number" autocorrect="false" autocapitalizationType="none" class="input input-border"></TextField>
                                </StackLayout>
                                <StackLayout col="1" style="width:30%;">
                                    <Button text="Done" class="btn btn-primary"></Button>
                                </StackLayout>
                                <StackLayout col="2" style="width:30%;">
                                    <Button text="Discard" class="btn btn-danger" (tap)="showAction($event)"></Button>
                                </StackLayout>
                            </GridLayout>
                        </GridLayout>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="4" col="0">
                    <StackLayout class="hr-light m-10"></StackLayout>
                </GridLayout>
            </GridLayout>
            <!-- </CardView> -->
        </ng-template>
    </RadListView>

    <StackLayout row="0" col="1" horizontalAlignment="right" class="right">
        <RL:Ripple rippleColor="#fff" style="margin-top: 20px;">
            <StackLayout class="float-btn-cat" (tap)="monitorbuttonClicked = true" [class.button-clicked]="monitorbuttonClicked">
                <Label class="float-btn-cat-text fas" (tap)="selectMonitor()" text="&#xf201;" [style.color]="monitorbuttonClicked ? '#FF8910' : '#FFFFFF'"></Label>
            </StackLayout>
        </RL:Ripple>
        <RL:Ripple rippleColor="#fff" style="margin-top: 2px;">
            <StackLayout class="float-btn-cat" (tap)="medicinebuttonClicked = true" [class.button-clicked]="medicinebuttonClicked">
                <Label class="float-btn-cat-text fas" (tap)="selectMedicine()" text="&#xf484;" [style.color]="medicinebuttonClicked ? '#FF8910' : '#FFFFFF'"></Label>
            </StackLayout>
        </RL:Ripple>
        <RL:Ripple rippleColor="#fff" style="margin-top: 2px;">
            <StackLayout class="float-btn-cat" (tap)="intakebuttonClicked = true" [class.button-clicked]="intakebuttonClicked">
                <Label class="float-btn-cat-text fas" (tap)="selectIntake()" text="&#xf48e;" [style.color]="intakebuttonClicked ? '#FF8910' : '#FFFFFF'"></Label>
            </StackLayout>
        </RL:Ripple>
        <RL:Ripple rippleColor="#fff" style="margin-top: 2px;">
            <StackLayout class="float-btn-cat" (tap)="outputbuttonClicked = true" [class.button-clicked]="outputbuttonClicked">
                <Label class="float-btn-cat-text fas" (tap)="selectOutput()" text="&#xf46c;" [style.color]="outputbuttonClicked ? '#FF8910' : '#FFFFFF'"></Label>
            </StackLayout>
        </RL:Ripple>
    </StackLayout>
</GridLayout>