

/* .card-layout {
    padding: 12;
}

.card-layout .h1 {
    margin-bottom: 15;
}

.lextra-container {
    position: relative;
} */

.cardeffect {
    width: 100%;
    /* padding: 5 10; */
    /* background-color: #f0f0f0; */
    border-radius: 8px;
}

.listItemStackLayout {
    background-color: #ffffff;
    /* padding-left: 5; */
    padding-right: 5;
    /* border-radius: 5px; */
    padding-bottom: 8%;
    vertical-align: center;
}

.labelName {
    font-size: 20;
    margin-bottom: 8;
}

.labelTitle {
    font-size: 14;
    font-weight: bold;
}

.labelText {
    font-size: 12;
}

/* right side button css start */

.center {
    horizontal-align: center;
}

.right {
    horizontal-align: right;
    margin-top: 45%;
    /* padding-right: 20; */
}

.float-btn-cat-text {
    color: #ffffff;
    font-size: 17;
    color: rgba(255,255,255,1);
    /* opacity: 1; */
    /* background-color: red;
    padding: 5; */
}


.float-btn-cat {
    /* background-color: #00A6CE ; */
    background-color: #00a6ce;
    /* border-radius: 3px; */
    border-radius:22;
    width: 44;
    height: 44;
    text-align: center;
    vertical-align: middle;
    
    /* opacity:0.7; */
    /* background-color: rgb(105, 105, 105, 0.6); */
}

.category-header {
    /* background-color: #608584;   */
    background-color: #ffffff;
    /* background-color: #7fd2e6; */
}

.nameLabel{
    color: #396766;
}

/* right side button css end */

/* selected css start */

.item-selected {
    border-width: 1;
    border-color: #990033;
}

/* selected css end */


/* grouping title color change css  start*/

.groupLabelIntake {
    /* background-color: #00A6CE; */
    padding: 15;
    font-weight: bold;
}

.groupLabelMonitor {
    /* background-color: #396766; */
    padding: 15;
    font-weight: bold;
}

.groupLabelMedicine {
    /* background-color: #396766; */
    padding: 15;
    font-weight: bold;
}

.groupLabelOutput {
    /* background-color: #396766; */
    padding: 15;
    font-weight: bold;
}

/* grouping title color change css  start*/

.button-clicked {
    color: #FF8910;
}

.hr-lightt {
    display: block;
    border-top: 1px solid #396766;
    margin: 0 0;
    padding: 3px 0px;
}
.grey{
    color: #608584;
}
.red{
 color: #FF8910;
}
.orenge{
    color: #FF8910;
}
.list-layout{
    padding: 10% 7px;
}
 .list-text{
    /* color: #ffffff; */
} 
