[Unit]
Description=hkt application service
ConditionPathExists=/opt/build/spl/Build/hkt/hkt
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/opt/build/spl/Build/hkt
ExecStart=/opt/build/spl/Build/hkt/hkt

[Install]
WantedBy=multi-user.target
