<section class="customer-update-details">
  <div class="container-fluid">
    <div class="row" id="main-content">
      <div class="auth-box card">
        <div class="card-block">
          <div class="col-sm col-md m-b-30 col">
            <h3 class="text-right" [hidden]="formMode!==0"><i class="fa fa-pencil" (click)="editForm()"></i></h3>
            <form class="md-float-material form-material" [formGroup]="myForm" (ngSubmit)="save()">
              <h5>First Contact </h5>
              <div class="form-group form-primary">
                <mat-form-field class="full-width" id="point-selection">
                  <input disabled matInput placeholder="Name" formControlName="poc1nameControl" required [(ngModel)]="dataModel.poc1name">
                  <mat-error *ngIf="myForm.controls['poc1nameControl'].hasError('required')">
                    Username is Required
                  </mat-error>
                </mat-form-field>
              </div>
              <table class="example-full-width" cellspacing="0">
                <tr id="layout">
                  <td>
                    <div class="form-group form-primary">
                      <mat-form-field id="email">
                        <input matInput placeholder="Email" type="email" formControlName="poc1emailidControl" required [(ngModel)]="dataModel.poc1emailid">
                        <mat-error *ngIf="myForm.controls['poc1emailidControl'].hasError('required')">
                          Email id is Required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <td>
                      <div class="form-group form-primary">
                        <mat-form-field id="telephone">
                          <span matPrefix>+91 &nbsp;</span>
                          <input type="tel" matInput placeholder="Telephone" formControlName="poc1mobilenoControl" required [(ngModel)]="dataModel.poc1mobileno">
                          <mat-error *ngIf="myForm.controls['poc1mobilenoControl'].hasError('required') ">
                            Contact Number is Required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </td>
                </tr>
              </table>
              <h5>Second Contact</h5>
              <div class="form-group form-primary">
                <mat-form-field>
                  <input matInput placeholder="Name" formControlName="poc2nameControl" [(ngModel)]="dataModel.poc2name">
                </mat-form-field>
              </div>
              <table class="example-full-width" cellspacing="0">
                <tr id="layout">
                  <td>
                    <div class="form-group form-primary" id="email">
                      <mat-form-field>
                        <input matInput placeholder="Email" type="email" formControlName="poc2emailidControl" [(ngModel)]="dataModel.poc2emailid">
                      </mat-form-field>
                    </div>
                    <td>
                      <div class="form-group form-primary">
                        <mat-form-field id="telephone">
                          <span matPrefix>+91 &nbsp;</span>
                          <input type="tel" matInput placeholder="Telephone" formControlName="poc2mobilenoControl"  [(ngModel)]="dataModel.poc2mobileno">
                        </mat-form-field>
                      </div>
                    </td>
                </tr>
              </table>
              <h5>Address </h5>
              <div class="form-group form-primary">
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Address" formControlName="addressControl" required [(ngModel)]="dataModel.address">
                    </textarea>
                  <mat-error *ngIf="myForm.controls['addressControl'].hasError('required') ">
                    User Address is Required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group form-primary">
                <table class="example-full-width" cellspacing="0">
                  <tr id="layout-two">
                    <td>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="City" formControlName="addresscityControl" required [(ngModel)]="dataModel.addresscity">
                        <mat-error *ngIf="myForm.controls['addresscityControl'].hasError('required') ">
                          Required
                        </mat-error>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="State" formControlName="addressstateControl" required [(ngModel)]="dataModel.addressstate">
                        <mat-error *ngIf="myForm.controls['addressstateControl'].hasError('required')">
                          Required
                        </mat-error>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="PIN Code" formControlName="addresspincodeControl" required [(ngModel)]="dataModel.addresspincode">
                        <mat-error *ngIf="myForm.controls['addresspincodeControl'].hasError('required') ">
                          Required
                        </mat-error>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="form-group form-primary" [hidden]="formMode===0">
                <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
                <button type="submit" class="btn btn-primary" id="submit-button">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>