/* #back-image{
    
    background-repeat: repeat;
    position: fixed; 
    top: 0; 
    left: 0; 
      

    min-width: 100%;
    min-height: 100%;
} */

#top,
	#bottom {
		position: fixed;
		left: 0;
		right: 0;
		height: 71%;
	}
	
	#top {
		top: 0;
		background-color: #446666;
	}
	
	#bottom {
		bottom: 0;
		background-color: snow;
	}