
.cardeffect {
    width: 95%;
    /* padding: 5 10; */
    /* background-color: #f0f0f0; */
    border-radius: 8px;
}

.listItemStackLayout {
    background-color: #ffffff;
    /* padding-left: 5; */
    padding-right: 5;
    /* border-radius: 5px; */
    padding-bottom: 8%;
}

.labelName {
    font-size: 20;
    margin-bottom: 8;
}

.labelTitle {
    font-size: 14;
    font-weight: bold;
}

.labelText {
    font-size: 12;
}

/* right side button css start */

.center {
    horizontal-align: center;
}

.right {
    horizontal-align: right;
    margin-top: 45%;
    /* padding-right: 20; */
}

.float-btn-cat-text {
    color: #ffffff;
    font-size: 17;
    color: rgba(255, 255, 255, 1);
    /* opacity: 1; */
    /* background-color: red;
    padding: 5; */
}

.float-btn-cat {
    background-color: #396766;
    /* border-radius: 3px; */
    border-radius: 22;
    width: 44;
    height: 44;
    text-align: center;
    vertical-align: middle;
}

.category-header {
    background-color: #ffffff;
}

.nameLabel {
    padding: 15;
    color: #396766;
    font-weight: bold;
}

/* right side button css end */

/* selected css start */

.item-selected {
    border-width: 1;
    border-color: #990033;
}

/* selected css end */

.button-clicked {
    color: #FF8910;
}

.hr-lightt {
    display: block;
    border-top: 1px solid #396766;
    margin: 0 0;
    padding: 3px 0px;
}

.float-btn-container {
    margin-top: 10%
    /* margin-left: 80%; */
}

.fab-button {
    height: 70;
    /* width: 70; */
    margin: 15;
    background-color: #ff4081;
    horizontal-align: right;
    vertical-align: bottom;
}

.list-layout {
    padding: 10% 7px;
}