
  <div id="top"><div class="text-center">
    <img src="assets/images/logo.png" alt="logo.png" id="logo">
  </div></div>
  <div id="bottom"></div>
  <router-outlet></router-outlet>
<!--   
  <router-outlet><app-spinne><auth-layout></auth-layout></app-spinne></router-outlet> -->

  <!-- <div id="http-loader" *ngIf="isAuthLayoutVisible">
      <div class="loader-bg"> -->
          <!-- material-line -->
          <!-- <div class="sk-line-material" [class.colored]="!backgroundColor" *ngIf="authlayout === Spinkit.skLine">
              <div class="sk-child sk-bounce1" [style.background-color]='backgroundColor'></div>
              
          </div>
      </div>
  </div> -->

  