<mat-card style="max-width:500px">
    <form [formGroup]="editableForm" (ngSubmit)="save()">
  <app-editable-form-header [editRecordBase]="this" (editClick)="editForm()"></app-editable-form-header>
  <mat-card-content>
    <!-- <h5>First Contact </h5> -->
    <div class="form-group form-primary " *ngIf="formMode === 1">
      <mat-form-field class="full-width">
        <input matInput placeholder="First Name" [(ngModel)]="dataModel.fname" formControlName="fnameControl">
      </mat-form-field>
    </div>
    <div class="form-group form-primary" *ngIf="formMode === 0">
      <span class="viewlabel">First Name</span>
      <label class="viewtext">{{ dataModel.fname }}</label>
    </div>

    <div class="form-group form-primary " *ngIf="formMode === 1">
      <mat-form-field class="full-width">
        <input matInput placeholder="Last Name" [(ngModel)]="dataModel.lname" formControlName="lnameControl">
      </mat-form-field>
    </div>
    <div class="form-group form-primary" *ngIf="formMode === 0">
      <span class="viewlabel">Last Name</span>
      <label class="viewtext">{{ dataModel.lname }}</label>
    </div>

    <div class="form-group form-primary " *ngIf="formMode === 1">
      <mat-form-field class="full-width">
        <input matInput placeholder="Contact Number" formControlName="mobnoControl" [(ngModel)]="dataModel.mobno">
      </mat-form-field>
    </div>
    <div class="form-group form-primary" *ngIf="formMode === 0">
      <span class="viewlabel">Contact Number</span>
      <label class="viewtext">{{ dataModel.mobno }}</label>
    </div>

    <div class="form-group form-primary " *ngIf="formMode === 1">
      <mat-form-field class="full-width">
        <input matInput placeholder="Age" formControlName="ageControl" [(ngModel)]="dataModel.age">
      </mat-form-field>
    </div>
    <div class="form-group form-primary" *ngIf="formMode === 0">
      <span class="viewlabel">Age</span>
      <label class="viewtext">{{ dataModel.age }}</label>
    </div>

    <div class="form-group form-primary " *ngIf="formMode === 1">
      <mat-form-field class="full-width">
        <mat-select placeholder="Blood Group" formControlName="bloodgrpControl" [(ngModel)]="dataModel.bloodgrp">
            <mat-option value="AB+">AB+</mat-option>
            <mat-option value="AB-">AB-</mat-option>
            <mat-option value="A+">A+</mat-option>
            <mat-option value="A-">A-</mat-option>
            <mat-option value="B+">B+</mat-option>
            <mat-option value="B-">B-</mat-option>
            <mat-option value="O+">O+</mat-option>
            <mat-option value="O-">O-</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group form-primary" *ngIf="formMode === 0">
      <span class="viewlabel">Blood Group</span>
      <label class="viewtext">{{ dataModel.bloodgrp }}</label>
    </div>

    <div class="form-group form-primary " *ngIf="formMode === 1">
      <mat-form-field class="full-width">
        <mat-select placeholder="Gender" [(ngModel)]="dataModel.gender" formControlName="genderControl">
            <mat-option *ngFor="let gend of personGender" [value]="gend.value">
                {{gend.text | translate }}
              </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group form-primary" *ngIf="formMode === 0">
      <span class="viewlabel">Gender</span>
      <label class="viewtext">{{ getgender(dataModel.gender) | translate }}</label>
    </div>

    <app-editable-form-footer-toolbar [editRecordBase]="this" (editClick)="editForm()">
    </app-editable-form-footer-toolbar>
  </mat-card-content>
  </form>
</mat-card>