.details {}

Button,
TextField {
    margin-bottom: 6;
}

.btn {
    font-size: 25;
    color: #FF8912;
    -webkit-tap-highlight-color: rgba(245, 240, 240, 0);
    /* padding: 0; */
    border: none;
    /* background: none; */
}

.btn-primary {
    background-color: #FF8912;
    margin-left: 0;
    margin-right: 0;
}

.description-label {
    margin-bottom: 15;
}

.hometitle {
    font-size: 18px;
    font-weight: bold;
    vertical-align: center;
    margin-left: 90px;
}

.hometitlesub {
    font-size: 18px;
    font-weight: bold;
    vertical-align: center;
    margin-left: 208px;
}

.homeheader {
    font-size: 14px;
    /* font-weight: bold; */
    vertical-align: center;
    color: white;
}

.margintop {
    margin-top: 15px;
}

.labelleft {
    margin-left: 10px;
    color: #396766;
}

.labelright {
    margin-left: 300px;
    color: #396766;
}

.cardeffect {
    width: 95%;
    padding: 5 10;
    background-color: #f0f0f0;
    border-radius: 8px;
}

/* .wardimg{
    background-image: url("../assets/logo_full.png") no-repeat;
} */

/* .float-btn-container{
    margin-top: 85%;
    margin-left: 80%;
} */

/* floating button set position bottom start */

.float-btn-container {
    margin-top: 80%;
    margin-left: 80%;
}

/* floating button set position bottom end */

.card-layout {
    padding: 12;
}

.card-layout .h1 {
    margin-bottom: 15;
}

/* bottom tab butttn start */

.btn-border-hide {
    border-color: transparent;
    border-width: 1;
    background-color: #396766;
    text-align: center;
}

.button-clicked {
    color: #FF8910;
}

.button-icon {
    color: #ffffff;
    font-size: 20,;
}
.button-text{
    font-size: 13;
}
.tab-layout{
    padding-top: 8px;
    text-align: center; 
    vertical-align: center;
}
/* bottom tab butttn end */
