<div class="row">
  <div class="col-12 text-right" style="padding-right:0">
    <button type="button" mat-button color="accent" [hidden]="!editRecordBase.isEditable || editRecordBase.formMode!==editRecordBase.formModeEnum.VIEW"
      (click)="edit()">Edit</button>
    <button type="submit" mat-button class="saveButton" [hidden]="editRecordBase.formMode===editRecordBase.formModeEnum.VIEW" [disabled]="editRecordBase.inProgress">Save</button>
    <button type="button" mat-button color="warn" [hidden]="editRecordBase.formMode===editRecordBase.formModeEnum.VIEW||editRecordBase.recordState===editRecordBase.recordStateEnum.ADD"
      (click)="cancel()">Cancel</button>
  </div>
</div>
