<div class="row">
  <div class="col-8">
    <mat-divider [inset]="true"></mat-divider>
  </div>
  <div class="col-4 text-right" style="padding-right:0;margin-top:-24px">
    <button type="button" color="accent" mat-icon-button [hidden]="!editRecordBase.isEditable || editRecordBase.formMode!==editRecordBase.formModeEnum.VIEW"
      (click)="edit()" matTooltip="Edit">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>
    <button type="submit" class="saveButton" mat-icon-button [hidden]="editRecordBase.formMode===editRecordBase.formModeEnum.VIEW"
      matTooltip="Save">
      <mat-icon aria-label="Save">check</mat-icon>
    </button>
    <button type="button" color="warn" mat-icon-button [hidden]="editRecordBase.formMode===editRecordBase.formModeEnum.VIEW||editRecordBase.recordState===editRecordBase.recordStateEnum.ADD"
      (click)="cancel()" matTooltip="Cancel">
      <mat-icon aria-label="Cancel">close</mat-icon>
    </button>
    <button type="button" class="backButton" mat-icon-button (click)="close()" matTooltip="Back" [hidden]="!editRecordBase.showBackButton">
      <mat-icon aria-label="Back">arrow_back</mat-icon>
    </button>
  </div>
</div>
