<div class="row">
  <div class="col">
    <mat-card>
      <div class="mobile-sort">
        <h4>Sort</h4>
        <table class="example-full-width" cellspacing="0">
          <tr id="layout-set">
            <td>
              <mat-form-field>
                <mat-select placeholder="Sort by" [(ngModel)]="this.sort.active" name="sortby" (selectionChange)="sortByChanged()">
                  <mat-option *ngFor="let col of sortByColumns" [value]="col.value">
                    {{col.text}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <div (click)="sortDirectionAsc()"> Ascending
                <i class="fa fa-long-arrow-up"></i>
              </div>
            </td>
            <td>
              <div (click)="sortDirectionDesc()"> Descending
                <i class="fa fa-long-arrow-down"></i>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort matSortDisableClear>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <ng-container matColumnDef="serialno">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 35%;">Serial Number</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 35%;">
              <span class="mat-cell-responsive-label">Serial Number</span>
              <span class="ellipsis mat-cell-text"> {{row.serialno}}</span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="custname">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 30%;">Customer Name</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 30%;">
              <span class="mat-cell-responsive-label">Customer Name</span>
              <span class="ellipsis mat-cell-text"> {{row.custname}} </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="devstate">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 25%;justify-content:center">Status</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 25%;justify-content:center;">
              <span class="mat-cell-responsive-label">Status</span>
              <span [ngSwitch]="row.devstate">
                <div class="statusBlock" *ngSwitchCase="0" style="background-color:#dc3545">Not Set</div>
                <div class="statusBlock" *ngSwitchCase="1" style="background-color:#28a745">Active</div>
                <div class="statusBlock" *ngSwitchCase="2" style="background-color:#dc3545">Inactive</div>
                <div class="statusBlock" *ngSwitchCase="3" style="background-color:#FFBF00">Suspended</div>
              </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef style="flex:0 0 10%;">Action</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 10%;">
              <span class="mat-cell-responsive-label">Action</span>
              <button mat-icon-button color="accent" [matMenuTriggerFor]="menu">
                <mat-icon aria-hidden="true" matTooltip="Menu">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <ng-template matMenuContent>
                  <button mat-menu-item (click)="editRow(row.devid)" id="master">
                    <mat-icon color='primary'>remove_red_eye</mat-icon>
                    <span>Master</span>
                  </button>
                  <button mat-menu-item (click)="editRecord(row.devid)" id="details">
                    <mat-icon color='primary'>remove_red_eye</mat-icon>
                    <span>Details</span>
                  </button>
                  <button mat-menu-item (click)="associateProduct(row.devid)" id="associated">
                    <mat-icon color='primary'>link</mat-icon>
                    <span>Associated Products</span>
                  </button>
                </ng-template>
              </mat-menu>
            </mat-cell>
          </ng-container>
        </mat-table>
        <mat-paginator #paginator [length]="filteredrecords" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
      <br>
    </mat-card>
  </div>
</div>