<div class="row">
  <mat-card>
    <div class="col-sm col-md m-b-30 col">
      <form [formGroup]="editableForm" class="md-float-material form-material" id="corporate-add" (ngSubmit)="save()">
        <app-editable-form-header [formMode]="formMode" (closeClick)="closeForm()" (editClick)="editForm()"></app-editable-form-header>
        <div class=" form-group form-primary">
          <mat-form-field>
            <input disabled matInput placeholder="Corporate Name" formControlName="corpnameControl" required [(ngModel)]="dataModel.corpname">
            <mat-error *ngIf="editableForm.controls['corpnameControl'].hasError('required') ">
              Name is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class=" form-group form-primary">
          <mat-form-field>
            <input matInput placeholder="Email Id" type="email" formControlName="corpmobilenoControl" required [(ngModel)]="dataModel.corpemailid">
            <mat-error *ngIf="editableForm.controls['corpmobilenoControl'].hasError('required') ">
              Email Id is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class=" form-group form-primary">
          <mat-form-field>
            <input matInput placeholder="Mobile Number" formControlName="corpemailidControl" required [(ngModel)]="dataModel.corpmobileno">
            <mat-error *ngIf="editableForm.controls['corpemailidControl'].hasError('required') ">
              Mobile Number is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class=" form-group form-primary">
          <mat-form-field>
            <input matInput placeholder="Landline Number" formControlName="corplandlinenoControl" required [(ngModel)]="dataModel.corplandlineno">
            <mat-error *ngIf="editableForm.controls['corplandlinenoControl'].hasError('required') ">
              Landline Number is Required
            </mat-error>
          </mat-form-field>
        </div>
        <app-editable-form-footer-toolbar [formMode]="formMode" (closeClick)="closeForm()" (editClick)="editForm()"></app-editable-form-footer-toolbar>
      </form>
    </div>
  </mat-card>
</div>