.monitor {}

.cardeffect {
    width: 95%;
    padding: 5 10;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.float-btn-container {
    margin-top: 85%;
    margin-left: 80%;
}
.tab-clicked {
    background-color: #00a6ce;
    padding: 5px;
    text-align: center;
    vertical-align: center;
}