<GridLayout rows="*" columns="*" height="100%" width="100%" style="background-color: #396766;">

    <!-- filter flag button ui -->
    <!-- <GridLayout row="0" rows="auto" columns="*, auto" class="m-5" style="vertical-align: center;background-color: #396766;">
        <Label class="h3" [text]="completeorpending" textWrap="true" row="0" col="0" style="color:white;"></Label>
        <StackLayout col="1" orientation="horizontal" borderRadius borderWidth="1" borderColor="black">
            <RL:Ripple rippleColor="#fff" class="ripplecenter " (tap)="filter24hr()" (tap)="buttonClicked = true">
                <StackLayout textWrap="true" [class.tab-clicked]="buttonClicked" class="tab-layout">
                    <Label text="24 hr" class="button-text" style="padding:3; color:white;"></Label>
                </StackLayout>
            </RL:Ripple>

            <RL:Ripple rippleColor="#fff" class="ripplecenter " (tap)="filter3day()" (tap)="buttonCompleted = true">
                <StackLayout textWrap="true" [class.tab-clicked]="buttonCompleted" class="tab-layout">
                    <Label text="3 day" class="button-text" style="padding:3; color:white;"></Label>
                </StackLayout>
            </RL:Ripple>
        </StackLayout>
    </GridLayout> -->
    <GridLayout row="0" rows="*" columns="*" height="100%" width="100%" style="background-color:#396766;"
        [class.dialogOpen]="dialogOpen">
        <ScrollView orientation="vertical">
            <GridLayout rows="auto, auto, auto, auto" columns="*">
                <StackLayout row="0" rows="auto,auto,auto" class="cardeffect" style="margin-top:20px;" height="350">
                    <GridLayout row=0 rows="auto" columns="auto,*, auto" style="padding: 10, 0">
                        <Label row="0" col="0" text="Pulse Rate (bpm)" class="body" style="color:#396766;vertical-align: center;"></Label>
                        <Label row="0" col="2" text="&#xf293;" class="mdi" (tap)="showDialog()" style="color:#00a6ce;"></Label>
                    </GridLayout>

                    <StackLayout row="1" class="hr-light m-10"></StackLayout>
                    <GridLayout row="2" rows="*">
                        <StackLayout>
                            <chart:RadCartesianChart id="cartesianChart">
                                <DateTimeContinuousAxis tkCartesianHorizontalAxis dateFormat="dd-MMM:hh" labelFitMode="Rotate"
                                    majorStep="{{majorStepUnit}}" plotMode="BetweenTicks">
                                </DateTimeContinuousAxis>
                                <!-- <LinearAxis tkCartesianVerticalAxis></LinearAxis> -->

                                <LinearAxis tkCartesianVerticalAxis id="vAxis"></LinearAxis>
                                <ChartGridLineAnnotation tkCartesianAnnotations axisId="vAxis" hidden="false" value="100"
                                    zPosition="BelowSeries" strokeWidth="1" strokeColor="lightgray"></ChartGridLineAnnotation>
                                <ChartGridLineAnnotation tkCartesianAnnotations axisId="vAxis" hidden="false" value="60"
                                    zPosition="BelowSeries" strokeWidth="1" strokeColor="lightgray"></ChartGridLineAnnotation>

                                <LineSeries tkCartesianSeries seriesName="PulseRateLineSeries" [items]="pulseListItems"
                                    categoryProperty="timeStamp" valueProperty="Amount" showLabels="false">
                                </LineSeries>
                                <BubbleSeries tkCartesianSeries seriesName="PulseRateBubbleSeries" [items]="pulseListItems"
                                    bubbleScale="5" categoryProperty="timeStamp" valueProperty="Amount" bubbleSizeProperty="Impact"></BubbleSeries>

                                <RadCartesianChart.palettes>
                                    <Palette tkCartesianPalette seriesName="PulseRateLineSeries">
                                        <Palette.entries>
                                            <PaletteEntry tkCartesianPaletteEntry strokeColor="#2ecc40" strokeWidth="5"
                                                fillColor="#2ecc40">
                                            </PaletteEntry>
                                        </Palette.entries>
                                    </Palette>
                                    <Palette tkCartesianPalette seriesName="PulseRateBubbleSeries">
                                        <Palette.entries>
                                            <PaletteEntry tkCartesianPaletteEntry strokeColor="#2ecc40" strokeWidth="5"
                                                fillColor="#2ecc40">
                                            </PaletteEntry>
                                        </Palette.entries>
                                    </Palette>
                                </RadCartesianChart.palettes>

                            </chart:RadCartesianChart>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>


                <StackLayout row="1" rows="auto,auto,auto" class="cardeffect" style="margin-top:20px;" height="350">
                    <GridLayout row=0 rows="auto" columns="auto,*, auto" style="padding: 10, 0">
                        <Label row="0" col="0" text="Blood Pressure (mmHg)" class="body" style="color:#396766;vertical-align: center;"></Label>
                        <Label row="0" col="2" text="&#xf293;" class="mdi" (tap)="showDialog()" style="color:#00a6ce;"></Label>
                    </GridLayout>
                    <StackLayout row="1" class="hr-light m-10"></StackLayout>
                    <GridLayout row="2" rows="*">
                        <chart:RadCartesianChart id="cartesianChart">
                            <DateTimeContinuousAxis tkCartesianHorizontalAxis dateFormat="dd-MMM:hh" labelFitMode="Rotate"
                                majorStep="Day" plotMode="BetweenTicks">
                            </DateTimeContinuousAxis>
                            <!-- <LinearAxis tkCartesianVerticalAxis></LinearAxis> -->

                            <LinearAxis tkCartesianVerticalAxis id="vAxis"></LinearAxis>
                            <!-- <ChartGridLineAnnotation tkCartesianAnnotations axisId="hAxis" hidden="false" value="190"
                                zPosition="BelowSeries" strokeWidth="1" strokeColor="lightgray"></ChartGridLineAnnotation>
                            <ChartGridLineAnnotation tkCartesianAnnotations axisId="hAxis" hidden="false" value="70"
                                zPosition="BelowSeries" strokeWidth="1" strokeColor="lightgray"></ChartGridLineAnnotation> -->

                            <!-- <RadCartesianChart.annotations>
                                <ChartPlotBandAnnotation axisId="vAxis" hidden="false" value="10" zPosition="BelowSeries"
                                    minValue="80" maxValue="90" fillColor="#AC74E880" strokeColor="#AC74E880" />
                            </RadCartesianChart.annotations> -->

                            <!-- 
                            <ChartPlotBandAnnotation axisId="hAxis" hidden="false" zPosition="BelowSeries" minValue="80"
                                maxValue="90" fillColor="#AC74E880" strokeColor="#AC74E880" /> -->

                            <LineSeries tkCartesianSeries seriesName="BloodPressureSystolicLineSeries" [items]="bloodpresListItems"
                                categoryProperty="timeStamp" valueProperty="Systolic" showLabels="false">
                            </LineSeries>
                            <BubbleSeries tkCartesianSeries seriesName="BloodPressureSystolicBubbleSeries" [items]="bloodpresListItems"
                                bubbleScale="5" categoryProperty="timeStamp" valueProperty="Systolic" bubbleSizeProperty="Impact"></BubbleSeries>
                            <RadCartesianChart.palettes>
                                <Palette tkCartesianPalette seriesName="BloodPressureSystolicLineSeries">
                                    <Palette.entries>
                                        <PaletteEntry tkCartesianPaletteEntry strokeColor="#bb0a1e" fillColor="#bb0a1e"
                                            strokeWidth="5">
                                        </PaletteEntry>
                                    </Palette.entries>
                                </Palette>
                                <Palette tkCartesianPalette seriesName="BloodPressureSystolicBubbleSeries">
                                    <Palette.entries>
                                        <PaletteEntry tkCartesianPaletteEntry strokeColor="#bb0a1e" fillColor="#bb0a1e"
                                            strokeWidth="5">
                                        </PaletteEntry>
                                    </Palette.entries>
                                </Palette>
                            </RadCartesianChart.palettes>


                            <LineSeries tkCartesianSeries seriesName="BloodPressureDiastolicLineSeries" [items]="bloodpresListItems"
                                categoryProperty="timeStamp" valueProperty="Diastolic" showLabels="false">
                            </LineSeries>
                            <BubbleSeries tkCartesianSeries seriesName="BloodPressureDiastolicBubbleSeries" [items]="bloodpresListItems"
                                bubbleScale="5" categoryProperty="timeStamp" valueProperty="Diastolic" bubbleSizeProperty="Impact"></BubbleSeries>
                            <RadCartesianChart.palettes>
                                <Palette tkCartesianPalette seriesName="BloodPressureDiastolicLineSeries">
                                    <Palette.entries>
                                        <PaletteEntry tkCartesianPaletteEntry strokeColor="#bb0a1e" fillColor="#bb0a1e"
                                            strokeWidth="5">
                                        </PaletteEntry>
                                    </Palette.entries>
                                </Palette>
                                <Palette tkCartesianPalette seriesName="BloodPressureDiastolicBubbleSeries">
                                    <Palette.entries>
                                        <PaletteEntry tkCartesianPaletteEntry strokeColor="#bb0a1e" fillColor="#bb0a1e"
                                            strokeWidth="5">
                                        </PaletteEntry>
                                    </Palette.entries>
                                </Palette>
                            </RadCartesianChart.palettes>


                        </chart:RadCartesianChart>

                    </GridLayout>
                </StackLayout>


                <StackLayout row="2" rows="auto,auto,auto" class="cardeffect" style="margin-top:20px;" height="350">
                    <GridLayout row=0 rows="auto" columns="auto,*, auto" style="padding: 10, 0">
                        <Label row="0" col="0" text="Respiratory Rate (/min)" class="body" style="color:#396766;vertical-align: center;"></Label>
                        <Label row="0" col="2" text="&#xf293;" class="mdi" (tap)="showDialog()" style="color:#00a6ce;"></Label>
                    </GridLayout>

                    <StackLayout row="1" class="hr-light m-10"></StackLayout>
                    <GridLayout row="2" rows="*">
                        <StackLayout>
                            <chart:RadCartesianChart id="cartesianChart">
                                <DateTimeContinuousAxis tkCartesianHorizontalAxis dateFormat="dd-MMM:hh" labelFitMode="Rotate"
                                    majorStep="{{majorStepUnit}}" plotMode="BetweenTicks">
                                </DateTimeContinuousAxis>
                                <!-- <LinearAxis tkCartesianVerticalAxis></LinearAxis> -->

                                <LinearAxis tkCartesianVerticalAxis id="hAxis"></LinearAxis>
                                <ChartGridLineAnnotation tkCartesianAnnotations axisId="hAxis" hidden="false" value="140"
                                    zPosition="BelowSeries" strokeWidth="1" strokeColor="lightgray"></ChartGridLineAnnotation>
                                <ChartGridLineAnnotation tkCartesianAnnotations axisId="hAxis" hidden="false" value="70"
                                    zPosition="BelowSeries" strokeWidth="1" strokeColor="lightgray"></ChartGridLineAnnotation>

                                <LineSeries tkCartesianSeries seriesName="RespirationRateLineSeries" [items]="respirationListItems"
                                    categoryProperty="timeStamp" valueProperty="Amount" showLabels="false">
                                </LineSeries>
                                <BubbleSeries tkCartesianSeries seriesName="RespirationRateBubbleSeries" [items]="respirationListItems"
                                    bubbleScale="5" categoryProperty="timeStamp" valueProperty="Amount" bubbleSizeProperty="Impact"></BubbleSeries>
                                <RadCartesianChart.palettes>
                                    <Palette tkCartesianPalette seriesName="RespirationRateLineSeries">
                                        <Palette.entries>
                                            <Palette.entries>
                                                <PaletteEntry tkCartesianPaletteEntry strokeColor="#ff851b" fillColor="#ff851b"
                                                    strokeWidth="5">
                                                </PaletteEntry>
                                            </Palette.entries>
                                        </Palette.entries>
                                    </Palette>
                                    <Palette tkCartesianPalette seriesName="RespirationRateBubbleSeries">
                                        <Palette.entries>
                                            <PaletteEntry tkCartesianPaletteEntry strokeColor="#ff851b" fillColor="#ff851b"
                                                strokeWidth="5">
                                            </PaletteEntry>
                                        </Palette.entries>
                                    </Palette>
                                </RadCartesianChart.palettes>
                            </chart:RadCartesianChart>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
                <StackLayout row="3" rows="auto,auto,auto" class="cardeffect" style="margin-top:20px;" height="350">

                    <GridLayout row=0 rows="auto" columns="auto,*, auto" style="padding: 10, 0">
                        <Label row="0" col="0" text="Temperature (°F)" class="body" style="color:#396766;vertical-align: center;"></Label>
                        <Label row="0" col="2" text="&#xf293;" class="mdi" (tap)="showDialog()" style="color:#00a6ce;"></Label>
                    </GridLayout>

                    <StackLayout row="1" class="hr-light m-10"></StackLayout>
                    <StackLayout rows="*" row="2" style="margin:2px 0px;">

                        <chart:RadCartesianChart id="cartesianChart">
                            <DateTimeContinuousAxis tkCartesianHorizontalAxis dateFormat="dd-MMM:hh" labelFitMode="Rotate"
                                majorStep="{{majorStepUnit}}" plotMode="BetweenTicks">
                            </DateTimeContinuousAxis>
                            <!-- <LinearAxis tkCartesianVerticalAxis></LinearAxis> -->

                            <LinearAxis tkCartesianVerticalAxis id="hAxis"></LinearAxis>
                            <ChartGridLineAnnotation tkCartesianAnnotations axisId="hAxis" hidden="false" value="98"
                                zPosition="BelowSeries" strokeWidth="1" strokeColor="lightgray"></ChartGridLineAnnotation>
                            <ChartGridLineAnnotation tkCartesianAnnotations axisId="hAxis" hidden="false" value="96"
                                zPosition="BelowSeries" strokeWidth="1" strokeColor="lightgray"></ChartGridLineAnnotation>


                            <LineSeries tkCartesianSeries seriesName="TemperatureLineSeries" [items]="tempListItems"
                                categoryProperty="timeStamp" valueProperty="Amount" showLabels="false">
                            </LineSeries>
                            <BubbleSeries tkCartesianSeries seriesName="TemperatureBubbleSeries" [items]="tempListItems"
                                bubbleScale="5" categoryProperty="timeStamp" valueProperty="Amount" bubbleSizeProperty="Impact"></BubbleSeries>
                            <RadCartesianChart.palettes>
                                <Palette tkCartesianPalette seriesName="TemperatureLineSeries">
                                    <Palette.entries>
                                        <PaletteEntry tkCartesianPaletteEntry strokeColor="#0075D9" strokeWidth="5"
                                            fillColor="#0075D9">
                                        </PaletteEntry>
                                    </Palette.entries>
                                </Palette>
                                <Palette tkCartesianPalette seriesName="TemperatureBubbleSeries">
                                    <Palette.entries>
                                        <PaletteEntry tkCartesianPaletteEntry strokeColor="#0075D9" strokeWidth="5"
                                            fillColor="#0075D9">
                                        </PaletteEntry>
                                    </Palette.entries>
                                </Palette>

                            </RadCartesianChart.palettes>
                        </chart:RadCartesianChart>
                    </StackLayout>
                </StackLayout>

            </GridLayout>
        </ScrollView>
        <AbsoluteLayout class="dialog-wrapper">
            <StackLayout class="dialog" height="100%" width="100%">

                <GridLayout rows="auto,auto,auto,*" columns="*">
                    <GridLayout row=0 rows="auto,auto" columns="auto,*,auto, auto,auto">
                        <Label row="0" col="0" text="Vital Parameters" class="body"></Label>
                        <Label row="0" col="2" text="Show Labels" (tap)="toggleLabels()"></Label>
                        <Label row="0" col="3" [text]="isLoggingIn ?  '&#xf06e;'  : '&#xf070;'" class="fas" (tap)="toggleLabels()"
                            style="color: #396766;"></Label>
                        <Label row="0" col="4" text="&#xf294;" class="mdi" (tap)="closeDialog()" style="color:#00a6ce;"></Label>

                    </GridLayout>
                    <StackLayout row="1" class="hr-light m-10"></StackLayout>
                    <GridLayout row="2" rows="auto,auto" columns="*,*">
                        <GridLayout row="0" col="0" columns="auto,auto" style="padding: 8">
                            <StackLayout col="0" style="width:17;height:17;background-color:#2ecc40" (tap)="toggleSeries(0)"></StackLayout>
                            <Label row="0" col="1" text="Pulse Rate (bpm)" (tap)="toggleSeries(0)"></Label>
                        </GridLayout>
                        <GridLayout row="0" col="1" rows="auto" columns="auto, auto" style="padding: 8;">
                            <StackLayout row="0" col="0" style="width:17;height:17;background-color:#bb0a1e" (tap)="toggleSeries(1)"></StackLayout>
                            <Label row="0" col="1" text="Blood Pressure (mmHg)" (tap)="toggleSeries(1)" style=" vertical-align: center;"></Label>
                        </GridLayout>
                        <GridLayout row="1" col="0" rows="auto" columns="auto,auto" style="padding: 8">
                            <StackLayout row="0" col="0" style="width:17;height:17;background-color: #ff851b" (tap)="toggleSeries(2)"></StackLayout>
                            <Label row="0" col="1" text="Respiratory Rate (/min)" (tap)="toggleSeries(2)"></Label>
                        </GridLayout>
                        <GridLayout row="1" col="1" rows="auto" columns="auto, auto" style="padding: 8">
                            <StackLayout row="0" col="0" style="width:17;height:17;background-color:#0075D9" (tap)="toggleSeries(3)"></StackLayout>
                            <Label row="0" col="1" text="Temperature (°F)" (tap)="toggleSeries(3)"></Label>
                        </GridLayout>
                    </GridLayout>
                    <GridLayout rows="*" row="3">
                        <RadCartesianChart id="consolidatedChart" seriesSelectionMode="None" #consolidatedChart>

                            <DateTimeContinuousAxis tkCartesianHorizontalAxis dateFormat="dd-MMM:hh a" labelFitMode="Rotate"
                                majorStep="Day" plotMode="BetweenTicks" allowZoom="true" allowPan="true">
                            </DateTimeContinuousAxis>
                            <LinearAxis tkCartesianVerticalAxis></LinearAxis>
                            <!-- Line Series Start-->
                            <LineSeries tkCartesianSeries seriesName="PulseRateLineSeries" [items]="pulseListItems"
                                categoryProperty="timeStamp" valueProperty="Amount" showLabels="{{showLabels}}">
                                <PointLabelStyle tkLineLabelStyle margin="10" fontStyle="Bold" fillColor="#2ecc40"
                                    textSize="8" textColor="White"></PointLabelStyle>
                            </LineSeries>
                            <BubbleSeries tkCartesianSeries seriesName="PulseRateBubbleSeries" [items]="pulseListItems"
                                bubbleScale="5" categoryProperty="timeStamp" valueProperty="Amount" bubbleSizeProperty="Impact"></BubbleSeries>

                            <LineSeries tkCartesianSeries seriesName="BloodPressureSystolicLineSeries" [items]="bloodpresListItems"
                                categoryProperty="timeStamp" valueProperty="Systolic" showLabels="{{showLabels}}">
                                <PointLabelStyle tkLineLabelStyle margin="10" fontStyle="Bold" fillColor="#bb0a1e"
                                    textSize="8" textColor="White"></PointLabelStyle>
                            </LineSeries>
                            <BubbleSeries tkCartesianSeries seriesName="BloodPressureSystolicBubbleSeries" [items]="bloodpresListItems"
                                bubbleScale="5" categoryProperty="timeStamp" valueProperty="Systolic" bubbleSizeProperty="Impact"></BubbleSeries>

                            <LineSeries tkCartesianSeries seriesName="BloodPressureDiastolicLineSeries" [items]="bloodpresListItems"
                                categoryProperty="timeStamp" valueProperty="Diastolic" showLabels="{{showLabels}}">
                                <PointLabelStyle tkLineLabelStyle margin="10" fontStyle="Bold" fillColor="#bb0a1e"
                                    textSize="8" textColor="White"></PointLabelStyle>
                            </LineSeries>
                            <BubbleSeries tkCartesianSeries seriesName="BloodPressureDiastolicBubbleSeries" [items]="bloodpresListItems"
                                bubbleScale="5" categoryProperty="timeStamp" valueProperty="Diastolic" bubbleSizeProperty="Impact"></BubbleSeries>
                            <!-- <RangeBarSeries tkCartesianSeries seriesName="BloodPressureSeries" [items]="bloodPressureSource" showLabels="{{showLabels}}" categoryProperty="timeStamp" lowPropertyName="Diastolic"
                                highPropertyName="Systolic" minBarSize="10"></RangeBarSeries> -->
                            <!-- <OhlcSeries tkCartesianSeries seriesName="BloodPressureSeries" [items]="bloodPressureSource" showLabels="{{showLabels}}" categoryProperty="timeStamp"
                                        openPropertyName="Diastolic" highPropertyName="Systolic"
                                        lowPropertyName="Diastolic" closePropertyName="Systolic"></OhlcSeries> -->

                            <LineSeries tkCartesianSeries seriesName="RespirationRateLineSeries" [items]="respirationListItems"
                                categoryProperty="timeStamp" valueProperty="Amount" showLabels="{{showLabels}}">
                                <PointLabelStyle tkLineLabelStyle margin="10" fontStyle="Bold" fillColor="#ff851b"
                                    textSize="8" textColor="White"></PointLabelStyle>
                            </LineSeries>
                            <BubbleSeries tkCartesianSeries seriesName="RespirationRateBubbleSeries" [items]="respirationListItems"
                                bubbleScale="5" categoryProperty="timeStamp" valueProperty="Amount" bubbleSizeProperty="Impact"></BubbleSeries>

                            <LineSeries tkCartesianSeries seriesName="TemperatureLineSeries" [items]="tempListItems"
                                categoryProperty="timeStamp" valueProperty="Amount" showLabels="{{showLabels}}">
                                <PointLabelStyle tkLineLabelStyle margin="10" fontStyle="Bold" fillColor="#0075D9"
                                    textSize="8" textColor="White"></PointLabelStyle>
                            </LineSeries>
                            <BubbleSeries tkCartesianSeries seriesName="TemperatureBubbleSeries" [items]="tempListItems"
                                bubbleScale="5" categoryProperty="timeStamp" valueProperty="Amount" bubbleSizeProperty="Impact"></BubbleSeries>
                            <!-- Line Series End-->

                            <RadCartesianChart.palettes>
                                <Palette tkCartesianPalette seriesName="PulseRateLineSeries">
                                    <Palette.entries>
                                        <PaletteEntry tkCartesianPaletteEntry strokeColor="#2ecc40" strokeWidth="5"
                                            fillColor="#2ecc40">
                                        </PaletteEntry>
                                    </Palette.entries>
                                </Palette>
                                <Palette tkCartesianPalette seriesName="PulseRateBubbleSeries">
                                    <Palette.entries>
                                        <PaletteEntry tkCartesianPaletteEntry strokeColor="#2ecc40" strokeWidth="5"
                                            fillColor="#2ecc40">
                                        </PaletteEntry>
                                    </Palette.entries>
                                </Palette>
                                <Palette tkCartesianPalette seriesName="TemperatureLineSeries">
                                    <Palette.entries>
                                        <PaletteEntry tkCartesianPaletteEntry strokeColor="#0075D9" strokeWidth="5"
                                            fillColor="#0075D9">
                                        </PaletteEntry>
                                    </Palette.entries>
                                </Palette>
                                <Palette tkCartesianPalette seriesName="TemperatureBubbleSeries">
                                    <Palette.entries>
                                        <PaletteEntry tkCartesianPaletteEntry strokeColor="#0075D9" strokeWidth="5"
                                            fillColor="#0075D9">
                                        </PaletteEntry>
                                    </Palette.entries>
                                </Palette>
                                <Palette tkCartesianPalette seriesName="BloodPressureSystolicLineSeries">
                                    <Palette.entries>
                                        <PaletteEntry tkCartesianPaletteEntry strokeColor="#bb0a1e" fillColor="#bb0a1e"
                                            strokeWidth="5">
                                        </PaletteEntry>
                                    </Palette.entries>
                                </Palette>
                                <Palette tkCartesianPalette seriesName="BloodPressureSystolicBubbleSeries">
                                    <Palette.entries>
                                        <PaletteEntry tkCartesianPaletteEntry strokeColor="#bb0a1e" fillColor="#bb0a1e"
                                            strokeWidth="5">
                                        </PaletteEntry>
                                    </Palette.entries>
                                </Palette>
                                <Palette tkCartesianPalette seriesName="BloodPressureDiastolicLineSeries">
                                    <Palette.entries>
                                        <PaletteEntry tkCartesianPaletteEntry strokeColor="#bb0a1e" fillColor="#bb0a1e"
                                            strokeWidth="5">
                                        </PaletteEntry>
                                    </Palette.entries>
                                </Palette>
                                <Palette tkCartesianPalette seriesName="BloodPressureDiastolicBubbleSeries">
                                    <Palette.entries>
                                        <PaletteEntry tkCartesianPaletteEntry strokeColor="#bb0a1e" fillColor="#bb0a1e"
                                            strokeWidth="5">
                                        </PaletteEntry>
                                    </Palette.entries>
                                </Palette>
                                <!-- <Palette tkCartesianPalette seriesName="BloodPressureSeries">
                                    <Palette.entries>
                                        <PaletteEntry tkCartesianPaletteEntry strokeColor="#bb0a1e" fillColor="#bb0a1e" strokeWidth="5">
                                        </PaletteEntry>
                                    </Palette.entries>
                                </Palette> -->
                                <Palette tkCartesianPalette seriesName="RespirationRateLineSeries">
                                    <Palette.entries>
                                        <Palette.entries>
                                            <PaletteEntry tkCartesianPaletteEntry strokeColor="#ff851b" fillColor="#ff851b"
                                                strokeWidth="5">
                                            </PaletteEntry>
                                        </Palette.entries>
                                    </Palette.entries>
                                </Palette>
                                <Palette tkCartesianPalette seriesName="RespirationRateBubbleSeries">
                                    <Palette.entries>
                                        <PaletteEntry tkCartesianPaletteEntry strokeColor="#ff851b" fillColor="#ff851b"
                                            strokeWidth="5">
                                        </PaletteEntry>
                                    </Palette.entries>
                                </Palette>
                            </RadCartesianChart.palettes>
                            <Trackball tkCartesianTrackball snapMode="AllClosestPoints" showIntersectionPoints="true"
                                (trackBallContentRequested)="onTrackBallContentRequested($event)"></Trackball>
                        </RadCartesianChart>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
        </AbsoluteLayout>
    </GridLayout>

</GridLayout>