<div class="row">
  <div class="col">
    <mat-card>
      <app-editable-form-header [editRecordBase]="this" (editClick)="editForm()"></app-editable-form-header>
      <div style="margin: 15px; padding: 10px;">
        <mat-card-content>
          <div class="row">
            <div class="col-sm-4">
              <span class="viewlabel">Patient Name</span>
            </div>
            <div class="col-sm-4">
              <label class="viewtext">{{ dataModel.patientdetails.patientname }}</label>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <div class="row">
              <div class="col-sm-4">
                <span class="viewlabel">Gender</span>
              </div>
              <div class="col-sm-4">
                <label class="viewtext">{{ dataModel.patientdetails.gender }}</label>
              </div>
              <div class="col-sm-4"></div>
            </div>
          <div class="row">
            <div class="col-sm-4">
              <span class="viewlabel">Emergency Contact Number</span>
            </div>
            <div class="col-sm-4">
              <label class="viewtext">{{ dataModel.patientdetails.emergencycontactno }}</label>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <span class="viewlabel"> Ward </span>
            </div>
            <div class="col-sm-4">
              <label class="viewtext"> {{ getwardname(dataModel.spid) }}</label>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <span class="viewlabel"> Bed/Room Number </span>
            </div>
            <div class="col-sm-4">
              <label class="viewtext">{{ dataModel.patientdetails.bedno }}</label>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <span class="viewlabel"> Status</span>
            </div>
            <div class="col-sm-4">
              <label class="viewtext">{{ getpatientstate(dataModel.status)| translate }}</label>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <span class="viewlabel">Admitted on</span>
            </div>
            <div class="col-sm-4">
              <label class="viewtext">{{ dataModel.patientdetails.admissiondate | date: 'fullDate' }}</label>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <div class="row" *ngIf="dataModel.dischargedon">
              <div class="col-sm-4">
                <span class="viewlabel">Discharged on</span>
              </div>
              <div class="col-sm-4">
                <label class="viewtext">{{ dataModel.dischargedon | date: 'fullDate' }}</label>
              </div>
              <div class="col-sm-4"></div>
            </div>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col">
    <mat-card>
      <div *ngFor="let day of patientDayWiseTransactions; let i = index">
        <h5 class="text-center">
          Day {{ patientDayWiseTransactions.length-i }} {{day.day| date:'fullDate'}}</h5>
        <app-patient-day-wise [patientDayWiseTxn]="day.txn" ></app-patient-day-wise>
      </div>
    </mat-card>
  </div>
</div>