<div class="row">
  <div class="col">
    <mat-card>
      <div class="mobile-sort">
        <h4>Sort</h4>
        <table class="example-full-width" cellspacing="0">
          <tr id="layout-set">
            <td>
              <mat-form-field>
                <mat-select placeholder="Sort by" [(ngModel)]="this.sort.active" name="sortby" (selectionChange)="sortByChanged()">
                  <mat-option *ngFor="let col of sortByColumns" [value]="col.value">
                    {{col.text}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <div (click)="sortDirectionAsc()"> Ascending
                <i class="fa fa-long-arrow-up"></i>
              </div>
            </td>
            <td>
              <div (click)="sortDirectionDesc()"> Descending
                <i class="fa fa-long-arrow-down"></i>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort matSortDisableClear>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <ng-container matColumnDef="spname">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 25%;">Service Point</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 25%;">
              <span class="mat-cell-responsive-label">Service Point</span>
              <span class="ellipsis mat-cell-text"> {{row.spname}}</span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="complainttitle">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 20%;">Complaint Title</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 20%;">
              <span class="mat-cell-responsive-label">Complaint Title</span>
              <span class="ellipsis mat-cell-text"> {{row.complainttitle}}</span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="complaintby">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 15%;">Complaint By</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 15%;">
              <span class="mat-cell-responsive-label">Complaint By</span>
              <span class="ellipsis mat-cell-text"> {{row.complaintby}}</span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="severity">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 15%;">Severity</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 15%;">
              <span class="mat-cell-responsive-label">Severity</span>
              <span class="ellipsis mat-cell-text"> {{prodComplaintService.getSeveritiesState(row.severity)  | translate}}</span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="complaintstate">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 15%;justify-content:center;">Status</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 15%;justify-content:center;">
              <span class="mat-cell-responsive-label">Status</span>
              <span [ngSwitch]="row.complaintstate">
                <div class="statusBlock" *ngSwitchCase="1" style="background-color:#dc3545">Open</div>
                <div class="statusBlock" *ngSwitchCase="2" style="background-color:#28a745">Close</div>
                <div class="statusBlock" *ngSwitchCase="3" style="background-color:#15A5CA">In progress</div>
                <!-- <div class="statusBlock" *ngSwitchDefault style="background-color:#dc3545">Close</div> -->
              </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef style="flex:0 0 10%;">Details</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 10%;">
              <span class="mat-cell-responsive-label">Details</span>
              <button mat-icon-button (click)="viewDetails(row.complaintid)">
                <mat-icon color='primary'  aria-hidden="true" matTooltip="Edit Details">remove_red_eye</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
        </mat-table>
        <mat-paginator #paginator [length]="filteredrecords" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
      <br>
    </mat-card>
  </div>
</div>