<GridLayout columns="*" height="100%" width="100%" rows="*">
    <GridLayout columns="*" rows="auto,*" row="0">
        <GridLayout row="0" columns="auto, *, auto" rows="65"
            style="background-color: #396766; color: white; vertical-align: center;padding: 0px 15px;">
            <GridLayout col="0" style="vertical-align: center;">
                <RL:Ripple rippleColor="#fff" class="ripplecenter" borderRadius="5" height="37" width="37"
                    (tap)="goBackPage()">
                    <Label text="&#xf156;" class="homeicon mdi mdi"></Label>
                </RL:Ripple>
            </GridLayout>
            <Label col="1" text="Schedule – Monitor" style="text-align:center;  vertical-align: center;"></Label>
            <GridLayout col="2" style="vertical-align: center;">
                <RL:Ripple rippleColor="#fff" class="ripplecenter" borderRadius="5" height="37" width="37"
                    (tap)="onSubmit()">
                    <Label text="&#xf12c;" class="homeicon mdi mdi" style="margin-right: 1px"></Label>
                </RL:Ripple>
            </GridLayout>
        </GridLayout>
        <ScrollView row="1">
            <StackLayout class="form" [formGroup]="monitorForm">
                <GridLayout rows="auto, auto, auto, auto, auto, auto" style="margin-bottom:10px;">
                    <GridLayout row="0">
                        <StackLayout class="input-field">
                            <Label text="Monitor Task Name" class="body"></Label>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout row="1" columns="80, *, 80">
                        <StackLayout class="input-field" col="1">
                            <ListPicker [items]="monitorConf?.dbmodel.conf.tasks" textField="name" valueField="value"
                                selectedIndex="1" (selectedIndexChange)="selectedIndexChanged($event)"
                                class="p-15 picker">
                            </ListPicker>
                        </StackLayout>
                    </GridLayout>

                    <!-- <StackLayout class="input-field">
                <Label text="Food Instruction"></Label>
                <SegmentedBar [items]="foodInstItems" selectedIndex="0" formControlName="foodInst"
                    (selectedIndexChange)="onFoodInstSelectedIndexChange($event)" class="m-5" style="background-color:white;color:black"></SegmentedBar>
            </StackLayout> -->
                    <GridLayout row="2">
                        <StackLayout class="input-field">
                            <StackLayout class="input-field">
                                <Label text="Frequency" class="body"></Label>
                            </StackLayout>
                            <GridLayout columns="80, *, 80">
                                <StackLayout class="input-field" col="1">
                                    <ListPicker [items]="frequencyType" formControlName="frequency" selectedIndex="0"
                                        textField="name" valueField="value" value="value"
                                        (selectedIndexChange)="onFrequencySelectedIndexChange($event)"
                                        class="p-15 picker">
                                    </ListPicker>
                                </StackLayout>
                            </GridLayout>


                            <StackLayout *ngIf="freqSelectedIndex===0 ">
                                <StackLayout class="input-field">
                                    <Label col="0" row="0" text="Enter interval in hours" class="body"></Label>
                                    <TextField col="1" row="0" class="input" keyboardType="number"
                                        formControlName="interval">
                                    </TextField>
                                </StackLayout>
                                <StackLayout class="hr-light" [ngClass]="{invalid: intervalIsValid === true}">
                                </StackLayout>
                                <StackLayout class="input-field">
                                    <StackLayout *ngIf="intervalIsValid">
                                        <Label text="*interval hours1.5 is required " style="color:red"></Label>
                                    </StackLayout>
                                </StackLayout>
                                <StackLayout class="input-field">
                                    <Label col="0" row="1" text="Enter no. of times" class="body"></Label>
                                    <TextField col="1" row="0" class="input" keyboardType="number"
                                        formControlName="numberofTimes"></TextField>
                                </StackLayout>
                                <StackLayout class="hr-light" [ngClass]="{invalid: isNumberOfTimes === true}">
                                </StackLayout>
                                <StackLayout *ngIf="isNumberOfTimes">
                                    <Label text="*Number of times is required " style="color:red"></Label>
                                </StackLayout>
                                <StackLayout class="input-field">
                                    <Label text="Monitoring time frame" class="body"></Label>
                                    <Label text="Start Time"></Label>
                                    <TimePicker verticalAlignment="center" class="m-15" formControlName="startTime">
                                    </TimePicker>
                                    <StackLayout *ngIf="isStartTimeValid">
                                        <Label textWrap="true"
                                            text="Start time should be greater than current time or 10 minutes less"
                                            style="color:red"></Label>
                                    </StackLayout>
                                </StackLayout>
                                <!-- <StackLayout class="input-field">
                        <Label text="End Time"></Label>
                        <TimePicker verticalAlignment="center" class="m-15" formControlName="endTime"></TimePicker>
                    </StackLayout> -->
                            </StackLayout>

                            <StackLayout *ngIf="freqSelectedIndex===1">
                                <StackLayout class="input-field">
                                    <Label text="Specific Time" class="body"></Label>
                                    <TimePicker verticalAlignment="center" class="m-15" formControlName="specificTime">
                                    </TimePicker>
                                    <button (tap)="addSpecificTime()" text="Add Time"></button>
                                </StackLayout>
                                <StackLayout class="input-field" *ngFor="let specificTime of specifictimes">
                                    <Label text="{{specificTime | date:' h:mm a' }}"></Label>
                                </StackLayout>
                                <StackLayout class="hr-light"
                                    [ngClass]="{invalid: isspecificTime === true && specifictimes.length ==0}">
                                </StackLayout>
                                <StackLayout *ngIf="isspecificTime && specifictimes.length ==0">
                                    <Label text="*Time required " style="color:red"></Label>
                                </StackLayout>
                            </StackLayout>

                        </StackLayout>
                    </GridLayout>

                    <GridLayout row="3">
                        <StackLayout class="input-field">
                            <Label text="Duration" class="body"></Label>
                            <TextField class="input" keyboardType="number" hint="No. of days"
                                formControlName="duration">
                            </TextField>
                            <StackLayout class="hr-light" [ngClass]="{invalid: durationIsValid === true}"></StackLayout>
                            <StackLayout class="input-field">
                                <StackLayout *ngIf="durationIsValid">
                                    <Label text="*duration is required " style="color:red"></Label>
                                </StackLayout>
                            </StackLayout>
                        </StackLayout>
                    </GridLayout>

                    <GridLayout row="4">
                        <StackLayout class="input-field">
                            <Label text="Start Date" class="body"></Label>
                            <DatePicker verticalAlignment="center" formControlName="startDate"></DatePicker>
                        </StackLayout>
                    </GridLayout>

                    <GridLayout row="5">
                        <StackLayout class="input-field">
                            <Label text="Remarks" class="body"></Label>
                            <TextView formControlName="remark" hint="Enter remarks" editable="true" class="input">
                            </TextView>
                            <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>

            </StackLayout>
        </ScrollView>
    </GridLayout>
</GridLayout>