<div class="row">
  <mat-card>
    <div class="form-group form-primary text-right">
      <button type="button" color="accent" mat-icon-button (click)="add()" matTooltip="Add" [hidden]="addVisiblity===false">
        <mat-icon aria-label="Add">add</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="closeWindow()" style="right:10px">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="example-container mat-elevation-z8" id="user-associate">
      <mat-table [dataSource]="dataSource">
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <ng-container matColumnDef="custname">
          <mat-header-cell *matHeaderCellDef style="flex:0 0 25%;">Customer Name</mat-header-cell>
          <mat-cell *matCellDef="let row" style="flex:0 0 25%;">
            <span class="mat-row-mobile-label">Customer Name</span>
            {{row.custname}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="prodcode">
          <mat-header-cell *matHeaderCellDef style="flex:0 0 25%;">Product Code</mat-header-cell>
          <mat-cell *matCellDef="let row" style="flex:0 0 25%;">
            <span class="mat-row-mobile-label">Prodect Code</span>
            {{row.prodcode}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="urolecode">
          <mat-header-cell *matHeaderCellDef style="flex:0 0 20%;">Role</mat-header-cell>
          <mat-cell *matCellDef="let row" style="flex:0 0 20%;">
            <span class="mat-row-mobile-label">Role</span>
            {{row.urolecode}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ucpmstate">
          <mat-header-cell *matHeaderCellDef style="flex:0 0 20%;">State</mat-header-cell>
          <mat-cell *matCellDef="let row" style="flex:0 0 20%;">
            <span class="mat-row-mobile-label">Status</span>
            {{userSharedService.getUcpmState(row.ucpmstate) | translate}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef style="flex:0 0 10%;">Action</mat-header-cell>
          <mat-cell *matCellDef="let row" style="flex:0 0 10%;">
            <span class="mat-row-mobile-label">Action</span>
            <button mat-icon-button color="accent" (click)="editRecord(row)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
      </mat-table>
    </div>
    <div [hidden]="showForm===false">
      <form class="md-float-material form-material" [formGroup]="editableForm" (ngSubmit)="save()">
        <app-editable-form-header [formMode]="formMode" (closeClick)="closeForm()" (editClick)="editForm()"></app-editable-form-header>
        <div class="form-group form-primary">
          <mat-form-field class="full-width" id="point-selection">
            <mat-select placeholder="Customer Name" [(ngModel)]="dataModel.custid" formControlName="custnameControl" required (ngModelChange)="getCustomerData()">
              <mat-option *ngFor="let cutomer of cutomers" [value]="cutomer.custid">
                {{cutomer.custname}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editableForm.controls['custnameControl'].hasError('required')">
              is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div>
        </div>
        <div class="form-group form-primary">
          <mat-form-field class="full-width" id="point-selection">
            <mat-select placeholder="Product" [(ngModel)]="dataModel.cpm" formControlName="productControl" (ngModelChange)="getCustRoleList()"
              required>
              <mat-option *ngFor="let product of cpmlist" [value]="product">
                {{product.prodcode}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editableForm.controls['productControl'].hasError('required')">
              Product code is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group form-primary">
          <mat-form-field class="full-width" id="point-selection">
            <mat-select placeholder="Role" [(ngModel)]="dataModel.uroleid" formControlName="userroleControl" required>
              <mat-option *ngFor="let urole of uroleids" [value]="urole.uroleid">
                {{urole.urolename}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editableForm.controls['userroleControl'].hasError('required')">
              is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group form-primary">
          <mat-form-field class="full-width" id="point-selection">
            <mat-select placeholder="State" [(ngModel)]="dataModel.ucpmstate" formControlName="ucpmStateControl" required>
              <mat-option *ngFor="let ucpmstate of ucpmstates" [value]="ucpmstate.value">
                {{ucpmstate.text | translate}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editableForm.controls['ucpmStateControl'].hasError('required')">
              State is Required
            </mat-error>
          </mat-form-field>
        </div>
        <app-editable-form-footer-toolbar [formMode]="formMode" (closeClick)="closeForm()" (editClick)="editForm()"></app-editable-form-footer-toolbar>
      </form>
    </div>
  </mat-card>
</div>