<StackLayout class="dialog" width="100%">
    <Label class="optionMenuTitle" textWrap="true" text="Choose an Option" style="padding-top:10%;"></Label>
    <GridLayout rows="auto, auto, auto, auto, auto" columns="*">
        <GridLayout row="0" col="0" rows="*, auto" columns="50,*" style="vertical-align: center;" (tap)="doctorsOrders()">
            <Label row="0" col="0" class="fas option-icon-fawesome" text="&#xf0f0;" ></Label>
            <Label row="0" col="1" text="Doctor Orders" class="pop-list-layout"></Label>
            <StackLayout row="1" col="1" class="hr-light m-10"></StackLayout>
        </GridLayout>
        <GridLayout row="1" col="0" rows="*, auto" columns="50,*" style="vertical-align: center;">
            <Label row="0" col="0" class="fas option-icon-fawesome" text="&#xf484;"></Label>
            <Label row="0" col="1" text="Medicine" class="pop-list-layout"></Label>
            <StackLayout row="1" col="1" class="hr-light m-10"></StackLayout>
        </GridLayout>
        <GridLayout row="2" col="0" rows="*, auto" columns="50,*" style="vertical-align: center;">
            <Label row="0" col="0" class="fas option-icon-fawesome" text="&#xf201;"></Label>
            <Label row="0" col="1" text="Monitor" class="pop-list-layout"></Label>
            <StackLayout row="1" col="1" class="hr-light m-10"></StackLayout>

        </GridLayout>
        <GridLayout row="3" col="0" rows="*, auto" columns="50,*" style="vertical-align: center;">
            <Label row="0" col="0" class="mdi option-icon-mdi" text="&#xfb2e;"></Label>
            <Label row="0" col="1" text="Intake" class="pop-list-layout"></Label>
            <StackLayout row="1" col="1" class="hr-light m-10"></StackLayout>
        </GridLayout>
        <GridLayout row="4" col="0" rows="*, auto" columns="50,*" style="vertical-align: center;">
            <Label row="0" col="0" class="mdi option-icon-mdi" text="&#xfb30;"></Label>
            <Label row="0" col="1" text="Output" class="pop-list-layout"></Label>
        </GridLayout>

    </GridLayout>

</StackLayout>