body{background:white}

$batteryWidth: 24px;
$batteryHeight: 10px;
$batteryBorderSize: 1px;
$batteryStrokeColor: black;
$batteryBorderRadius: 2px;
$batteryNubSize: $batteryHeight * 0.5;


.battery {
  vertical-align:middle;
  position:relative;
  width: $batteryWidth;
  height: $batteryHeight;
  border: $batteryBorderSize solid $batteryStrokeColor;
  border-radius: $batteryBorderRadius;
  position: relative;
  padding: $batteryBorderSize;
//   -webkit-transform: scale(0.5);//for retina display
    &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -1 * (($batteryNubSize*0.35) + $batteryBorderSize + 2);
    margin-top:-1 * ($batteryNubSize/2);
    width: $batteryNubSize;
    height: $batteryNubSize;
    background: $batteryStrokeColor;
    clip: rect(0, $batteryNubSize, $batteryNubSize, ($batteryNubSize*0.65));
    border-radius: 50%;
  }
  &.plugged:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -1 * ($batteryBorderSize + ($batteryWidth * 0.5)) ;
    margin-top:-1 * ($batteryNubSize/2);
    width: $batteryNubSize;
    height: $batteryNubSize;
    background: #f00;
    border-radius: 50%;
  }
  .level{
    width: 60%;
    height: 100%;
    background: $batteryStrokeColor;
    border-radius: $batteryBorderRadius/2;
  }
  
  .levelCritical{
    min-width: 10%;
    height: 100%;
    background: #bd362f;
    border-radius: $batteryBorderRadius/2;
  }
  
  .levelLow{
    min-width: 20%;
    height: 100%;
    background: #f89406;
    border-radius: $batteryBorderRadius/2;
  }
  
  .levelHigh{
    min-width: 30%;
    height: 100%;
    background: #51a351;
    border-radius: $batteryBorderRadius/2;
  }  
}

.percentage{
      font-size:12px;
      color:#989A7C;
      padding-left: 5px;
  }
