<div class="row">
  <div class="col">
    <mat-card>
      <div class="text-right">
        <button mat-icon-button class="view-form-backButton" (click)="closeForm()" style="right:10px">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <app-user-master-details></app-user-master-details>
        </div>
        <div class="col-md-6 col-12">
          <app-user-info></app-user-info>
        </div>
      </div>
    </mat-card>
  </div>
</div>