<!-- <div class="container-fluid">
  <div class="row" id="form-id">
    <div class="col">

      <div id="player" class="player" [class.voted]="flipped">
        <div class="front1 front"> -->
          <!-- <mat-card style="max-width:425px;" > -->
            <div [hidden]="flipped == true">
            <form class="" [formGroup]="loginform" action="javascript:" (ngSubmit)="login()">
              <div class="row">
                <div class="col">
                  <h3 class="text-center">{{'LblLoginHeader' | translate}}</h3>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <mat-form-field>
                      <input matInput placeholder="Enter your email" required [(ngModel)]="username" name="username" formControlName="emailControl">
                      <mat-error *ngIf="loginform.controls['emailControl'].hasError('required')">
                        {{'VALIDATION_REQUIRED_FIELD'|translate}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <mat-form-field>
                      <input matInput placeholder="Enter your password" [(ngModel)]="password" name="password" [type]="hide ? 'password' : 'text'"
                        required formControlName="passwordControl">
                      <mat-icon matSuffix class="{{hide ? 'fa fa-eye' : 'fa fa-eye-slash'}}" (click)="hide = !hide"></mat-icon>
                      <mat-error *ngIf="loginform.controls['emailControl'].hasError('required')">
                        {{'VALIDATION_REQUIRED_FIELD'|translate}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button mat-raised-button color="accent" type="submit" style="width:100%">Sign in</button>
                </div>
              </div>
              <hr/>
              <!-- <div class="row">
                <div class="col-md-4 col-sm-4">
                  <div class="font-small" style="line-height:32px">
                    <a [routerLink]="['/auth/login']" (click)="flipIt()"> Forgot Password?</a>
                  </div>
                </div>
                <div class="col-md-8 col-sm-8" style="text-align:right;">
                  <span class="font-small color-text-alternate" style="line-height:32px">Powered by
                    <img src="./shared/assets/images/opensoach_logo_black.png" alt="OpenSoach" id="logo" style="padding-top:0px">
                  </span>
                </div>
              </div> -->
            </form>
            </div>
          <!-- </mat-card> -->
        <!-- </div> -->
        <!-- <div class="back">
          <div [hidden]="flipped == false">
            <hkt-forgot-password></hkt-forgot-password>
          </div>
        </div> -->

        <!-- <form class="" [formGroup]="loginform" action="javascript:" (ngSubmit)="login()">
            <mat-card style="max-width:425px;" [hidden]="flipped == false">
              <div class="row">
                <div class="col">
                  <h3 class="text-center">Forgot Password</h3>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="viewlabel" style="padding: 10px 0px; font-size: 13px;">Please enter your email address then OTP will be sent over mobile number.</label>
                  <div class="form-group">
                    <mat-form-field>
                      <input matInput placeholder="Enter your email" required [(ngModel)]="username" name="username" formControlName="emailControl">
                      <mat-error *ngIf="loginform.controls['emailControl'].hasError('required')">
                        {{'VALIDATION_REQUIRED_FIELD'|translate}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button mat-raised-button color="accent" type="submit" style="width:100%">Send</button>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <div class="font-small" style="line-height:32px">
                    <a [routerLink]="['/auth/login']" (click)="flipIt()"> Login</a>
                  </div>
                </div>
                <div class="col-md-8 col-sm-8" style="text-align:right;">
                  <span class="font-small color-text-alternate" style="line-height:32px">Powered by
                    <img src="./shared/assets/images/opensoach_logo_black.png" alt="OpenSoach" id="logo" style="padding-top:0px">
                  </span>
                </div>
              </div>
            </mat-card>
          </form> -->
      <!-- </div>
    </div>
  </div>
</div> -->