#header{background-color: #446666;
  box-shadow: 0 0 30px rgba(33,33,33,.2); }
#text{color:white;}
#brand{display: flex;
    float: left;
    height: 50px;
    text-align: center;
    padding: 10px;}
#box{
 margin-left: 950px;
}
.navbar-brand ul li{display:inline; }
.fa-bars{
  padding-top: 15px;
  margin-left: 50px;
  color: white;
}
.dropdown-menu i{    white-space: nowrap;

  border-radius: 8px;}
.dropdown-menu i:hover{
	background: #37A5CD ;
}
.dropdown-menu i:active{
background-color:#FA902B;
}
i:active{
  color: black;
  }
.fa-bell{color: white;
}
.navbar {height:60px !important;}

@media screen and (max-width:768px) {
  .fa-bell{margin-left: 60px;}
  .navbar {height:auto !important;}
  #box{
    margin-left:0px;
   }
   .fa-bars{
    padding-top: 15px;
    margin-left: 20px !important;
    color: white;
  }
}