<div class="row">
  <mat-card>
    <form [formGroup]="editableForm" class="md-float-material form-material" id="user-add" (ngSubmit)="save()">
        <app-editable-form-header [editRecordBase] ="this" (editClick)="editForm()"></app-editable-form-header>
      <div class="form-group form-primary">
        <mat-form-field>
          <input disableds matInput placeholder="User Name" type="email" formControlName="emailControl" required [(ngModel)]="dataModel.usrname">
          <mat-error *ngIf="editableForm.controls['emailControl'].hasError('required')">
            User Name is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group form-primary">
        <mat-form-field>
          <mat-select placeholder="Category" formControlName="userCategory" required [(ngModel)]="dataModel.usrcategory" (ngModelChange)="userCategoryChange()">
            <mat-option *ngFor="let usercategory of userCategories" [value]="usercategory.value">
              {{usercategory.text | translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editableForm.controls['userCategory'].hasError('required')">
            Category Selection is Required
          </mat-error>
        </mat-form-field>
      </div>
      <div [hidden]="showCat===false">
        <div class="form-group form-primary">
          <mat-form-field class="full-width" id="point-selection">
            <mat-select placeholder="Role" [(ngModel)]="dataModel.uroleid" formControlName="userroleControl" required>
              <mat-option *ngFor="let urole of uroleids" [value]="urole.uroleid">
                {{urole.urolename}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editableForm.controls['userroleControl'].hasError('required')">
              is Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group form-primary">
        <mat-form-field>
          <mat-select placeholder="State" formControlName="userStateControl" required [(ngModel)]="dataModel.usrstate">
            <mat-option *ngFor="let userstate of userStates" [value]="userstate.value">
              {{userstate.text | translate}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editableForm.controls['userStateControl'].hasError('required') ">
            User State Selection is Required
          </mat-error>
        </mat-form-field>
      </div>
      <app-editable-form-footer-toolbar [editRecordBase] ="this" (editClick)="editForm()"></app-editable-form-footer-toolbar>
    </form>
  </mat-card>
</div>