<!-- <GridLayout style="background-color:#ffffff; height:100%;" >
                <ListView class="list-group" [items]="data" class="card" stry>
                    <ng-template let-item="item">
                        <Ripple rippleFadeDuration="5">
                            <GridLayout columns="*, auto" rows="auto">
                                <GridLayout col="0" class="card-layout" columns="auto,*,auto" rows="auto, auto, auto">
                                    <Label row="0" col="0" text="&#xf47d;" class="mdi listicon"></Label>
                                    <Label row="0" col="1" class="h3" [text]="item.ward"></Label>

                                    <Label row="1" col="0" text="&#xf004;" class="mdi listicon"></Label>
                                    <Label row="1" col="1" class="body" textWrap="true" [text]="item.name"></Label>

                                    <Label row="2" col="0" text="&#xf3f2;" class="mdi listicon" color="#FF8912"></Label>
                                    <Label row="2" col="1" class="body" textWrap="true" [text]="item.mobile"></Label>
                                </GridLayout>

                                <GridLayout col="1" class="card-layout" columns="auto" rows="auto, auto" style=" vertical-align: center;">
                                    <Label text="&#xf020;" class="mdi listicon"></Label>
                                    <Label row="1" text="test"></Label>
                                </GridLayout>
                            </GridLayout>
                        </Ripple>
                    </ng-template>
                </ListView>

            <StackLayout class="float-btn-container">
                <float-btn></float-btn>
            </StackLayout>

        </GridLayout> -->

<GridLayout rows="auto" columns="*" height="100%" width="100%" style="background-color:#396766;">

    <StackLayout row="0" horizontalAlignment="center" class="center" height="100%" width="100%">
        <GridLayout rows="auto, *" columns="*" height="100%" width="100%" style="background-color:#396766;">

            <StackLayout row="1" col="0">

                <RadListView #myListView [items]="_dataItems" [itemTemplateSelector]="templateSelector" (itemTap)="onItemTap($event)" (loaded)="listLoaded()"
                    multipleSelection="true" selectionBehavior="Press" [groupingFunction]="_funcGrouping">

                    <ng-template tkListItemTemplate let-item="item">
                        <!-- <RL:Ripple rippleFadeDuration="5"> -->
                        <GridLayout class="listItemStackLayout" columns="*" rows="auto, auto">
                            <GridLayout row="0" columns="*, auto, auto" rows="auto, auto ">
                                <GridLayout col="0" columns="auto,*,auto" rows="auto, auto, auto" class="card-layout">
                                    <Label row="0" col="1" class="h3" [text]="item.title"></Label>
                                    <Label row="1" col="1" class="body" textWrap="true" [text]="item.name"></Label>
                                </GridLayout>

                                <GridLayout col="1" columns="auto, auto" rows="auto, auto" style="vertical-align: center; text-align: center;">
                                    <StackLayout row="1" style=" margin-right:5px;">
                                        <Label row="1" col="0" text="last attended"></Label>
                                        <Label row="1" col="0" [text]="item.due_at"></Label>
                                    </StackLayout>
                                    <StackLayout row="1" col="1">
                                        <Label *ngIf="item.has_details === true" text="&#xf04a;" class="mdi listicon"></Label>
                                    </StackLayout>
                                </GridLayout>
                            </GridLayout>
                            <GridLayout row="1" col="1">
                                <StackLayout class="hr-light m-10"></StackLayout>
                            </GridLayout>
                        </GridLayout>
                        <!-- </RL:Ripple> -->
                    </ng-template>
                    <ng-template tkGroupTemplate let-category="category">
                        <GridLayout>
                            <Label class="nameLabel" [text]="category" [ngClass]="{groupLabelIntake: category == 'Intake',groupLabelMonitor: category == 'Monitor',groupLabelMedicine: category == 'Medicine',groupLabelOutput: category == 'Output'}"></Label>
                        </GridLayout>
                    </ng-template>
                    <!-- >> angular-listview-swipe-actions-multiple-template-html -->

                    <!-- <GridLayout *tkListItemSwipeTemplate columns="auto, *, auto" class="gridLayoutLayout">
                                    <StackLayout id="mark-view" col="0" class="markViewStackLayout" (tap)="onLeftSwipeClick($event)">
                                        <Label text="mark" class="swipeTemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                                    </StackLayout>
                                    <StackLayout id="delete-view" col="2" class="deleteViewStackLayout" (tap)="onRightSwipeClick($event)">
                                        <Label text="delete" class="swipeTemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                                    </StackLayout>
                                </GridLayout> -->

                    <!-- << angular-listview-swipe-actions-multiple-template-html -->

                    <ng-template tkTemplateKey="expanded" let-item="item">
                      
                            <GridLayout rows="auto,auto,auto" columns="*" class="list-group-item" style="background-color:#ffffff; padding: 5px;">

                                <StackLayout class="lextra-point-list-item">
                                    <GridLayout row="0" col="0" columns="*, auto, auto" rows="auto, auto">

                                        <GridLayout col="0" columns="auto,*,auto" rows="auto, auto, auto" class="card-layout">
                                            <Label row="0" col="1" class="h3" [text]="item.title"></Label>

                                            <Label row="1" col="1" class="body" textWrap="true" [text]="item.name"></Label>
                                        </GridLayout>

                                        <GridLayout col="1" columns="auto, auto" rows="auto, auto" style="vertical-align: center; text-align: center;">
                                            <StackLayout row="1">
                                                <Label row="1" col="0" text="last attended"></Label>
                                                <Label row="1" col="0" [text]="item.due_at"></Label>
                                            </StackLayout>
                                        </GridLayout>
                                    </GridLayout>

                                    <GridLayout row="1" col="0" columns="auto, auto" rows="auto">
                                        <StackLayout class="cardeffect">
                                            <GridLayout columns="*, auto" rows="auto, auto" style="padding: 5px;">
                                                <GridLayout col="0" columns="auto,auto, auto" rows="auto, auto" style=" vertical-align: center; margin-top:3px;">
                                                    <StackLayout col="0" style="width:50%;">
                                                        <TextField hint="Comment" keyboardType="email" autocorrect="false" class="input input-border"></TextField>
                                                    </StackLayout>
                                                </GridLayout>
                                                <GridLayout row="1" col="0" columns="auto, auto" style="justify-content: center; vertical-align: center;">
                                                    <StackLayout col="0" style="width:30%;">
                                                        <TextField hint="Value" keyboardType="number" autocorrect="false" autocapitalizationType="none" class="input input-border"></TextField>
                                                    </StackLayout>
                                                    <StackLayout col="1" style="width:20%;">
                                                        <Button text="Done" class="btn btn-primary"></Button>
                                                    </StackLayout>
                                                </GridLayout>
                                            </GridLayout>
                                        </StackLayout>
                                    </GridLayout>

                                    <GridLayout row="2" col="0">
                                        <StackLayout class="hr-light m-10"></StackLayout>
                                    </GridLayout>
                                </StackLayout>
                            </GridLayout>
                    </ng-template>

                </RadListView>
            </StackLayout>
        </GridLayout>
    </StackLayout>

    <StackLayout row="0" horizontalAlignment="right" class="right">
        <RL:Ripple rippleColor="#fff" style="margin-top: 20px;">
            <StackLayout class="float-btn-monitor">
                <Label class="float-btn-text-monitor fas" (tap)="selectMonitor()" text="&#xf201;"></Label>
            </StackLayout>
        </RL:Ripple>
        <RL:Ripple rippleColor="#fff">
            <StackLayout class="float-btn-medicene">
                <Label class="float-btn-text-medicene fas" (tap)="selectMedicine()" text="&#xf46b;"></Label>
            </StackLayout>
        </RL:Ripple>
        <RL:Ripple rippleColor="#fff">
            <StackLayout class="float-btn-intake">
                <Label class="float-btn-text-intake fas" (tap)="selectIntake()" text="&#xf48e;"></Label>
            </StackLayout>
        </RL:Ripple>
        <RL:Ripple rippleColor="#fff">
            <StackLayout class="float-btn-output">
                <Label class="float-btn-text-output fas" (tap)="selectOutput()" text="&#xf46c;"></Label>
            </StackLayout>
        </RL:Ripple>
    </StackLayout>
</GridLayout>