<div class="row">
  <mat-card>
    <div class="form-group form-primary text-right">
      <button type="button" color="accent" mat-icon-button (click)="add()" matTooltip="Add" [hidden]="addVisiblity===false">
        <mat-icon aria-label="Add">add</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="closeForms()" style="right:10px">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="example-container mat-elevation-z8" id="customer-associate">
      <mat-table [dataSource]="dataSource">
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <ng-container matColumnDef="prodcode">
          <mat-header-cell *matHeaderCellDef style="flex:0 0 30%;">Product Code</mat-header-cell>
          <mat-cell *matCellDef="let row" style="flex:0 0 30%;">
            <span class="mat-row-mobile-label">Product Code</span>
            {{row.prodcode}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="dbiname">
          <mat-header-cell *matHeaderCellDef style="flex:0 0 40%;">Database Name</mat-header-cell>
          <mat-cell *matCellDef="let row" style="flex:0 0 40%;">
            <span class="mat-row-mobile-label">Database Name</span>
            {{row.dbiname}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cpmstate">
          <mat-header-cell *matHeaderCellDef style="flex:0 0 20%;">Status</mat-header-cell>
          <mat-cell *matCellDef="let row" style="flex:0 0 20%;">
            <span class="mat-row-mobile-label">Status</span>
            {{customerSharedService.getCpmState(row.cpmstate) | translate}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef style="flex:0 0 10%;">Action</mat-header-cell>
          <mat-cell *matCellDef="let row" style="flex:0 0 10%;">
            <span class="mat-row-mobile-label">Action</span>
            <button mat-icon-button color="accent" (click)="editRecord(row)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
      </mat-table>
    </div>
    <div [hidden]="showForm===false">
      <form class="md-float-material form-material" [formGroup]="editableForm" (ngSubmit)="save()">
          <app-editable-form-header [editRecordBase] ="this" (editClick)="editForm()"></app-editable-form-header>
        <div class="form-group form-primary">
          <mat-form-field class="full-width" id="point-selection">
            <mat-select placeholder="Product" [(ngModel)]="dataModel.prodid" formControlName="productControl" required>
              <mat-option *ngFor="let product of products" [value]="product.prodid">
                {{product.prodcode}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editableForm.controls['productControl'].hasError('required')">
              Product code is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group form-primary">
          <mat-form-field class="full-width" id="point-selection">
            <mat-select placeholder="Database Instance" [(ngModel)]="dataModel.dbiid" formControlName="dbInstanceControl" required>
              <mat-option *ngFor="let dbinstance of dbinstances" [value]="dbinstance.dbiid">
                {{dbinstance.dbiname}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editableForm.controls['dbInstanceControl'].hasError('required')">
              DB instance is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group form-primary">
          <mat-form-field class="full-width" id="point-selection">
            <mat-select placeholder="Status" [(ngModel)]="dataModel.cpmstate" formControlName="cpmStateControl" required>
              <mat-option *ngFor="let cpmstate of cpmstates" [value]="cpmstate.value">
                {{cpmstate.text | translate}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editableForm.controls['cpmStateControl'].hasError('required')">
              Status is Required
            </mat-error>
          </mat-form-field>
        </div>
        <app-editable-form-footer-toolbar [editRecordBase] ="this" (editClick)="editForm()"></app-editable-form-footer-toolbar>
      </form>
    </div>
  </mat-card>
</div>