<ActionBar title="test" style="color: white;">
  <GridLayout rows="auto auto" orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="center" style="background-color: #396766; color: white;">
    <Label row="0" text="patientcare" class="action-label"></Label>
    <Label row="1" text=".live" class="action-label" style="color: #FF8912"></Label>
  </GridLayout>
</ActionBar>

<GridLayout columns="*" rows="*" style="background-color:#396766; justify-content: center;align-items: center;">
  <FlexboxLayout style=" width: 74%;">
    <CardView shadowOffsetWidth=1;>
      <GridLayout row="0" rows="*,*, *,*,*" columns="*" class="form" style="padding: 10 16; background-color: #f0f0f0;">
        <GridLayout row="0">
          <Label *ngIf="isLoggingIn" class="signmainlabel" width="60" height="60" text="Sign In"></Label>
          <Label *ngIf="!isLoggingIn" class="signmainlabel" width="100" height="60" text="Sign Up"></Label>
        </GridLayout>

        <GridLayout row="1">
          <GridLayout rows="auto" *ngIf="isLoggingIn">
            <TextField row="0" hint="Email Address" keyboardType="email" autocorrect="false" autocapitalizationType="none" [(ngModel)]="input.username"
              class="input input-border"></TextField>
          </GridLayout>
          <GridLayout rows="auto" *ngIf="!isLoggingIn">
            <Label row="0" textWrap="true" class="sign-up-label " text="Contact System Administrator to register a device with Device Key: {{SerialNo}}" {{SerialNo}}></Label>
          </GridLayout>
        </GridLayout>

        <GridLayout row="2" *ngIf="isLoggingIn">
          <TextField hint="Password" secure="true" [(ngModel)]="input.password" class="input input-border"></TextField>
        </GridLayout>

        <GridLayout row="3" rows="auto, auto" columns="*">
          <Button row="0" [text]="'Sign in'" class="btn btn-primary" (tap)="login()" *ngIf="isLoggingIn"></Button>
          <Button row="0" [text]="'Sign up'" class="btn btn-primary" (tap)="login()" *ngIf="!isLoggingIn"></Button>
          <GridLayout row="1" class="hr-light m-10" style="margin-top:1%"></GridLayout>
        </GridLayout>

        <GridLayout row="4" columns="auto, *, auto">
          <Label col="0" top="5" [nsRouterLink]="['forgot-password']" style="color: #00A6CE" text="Forgot Password"></Label>
          <Label col="2" top="5" text="Powered by OpenSoach"></Label>
        </GridLayout>

        <GridLayout row="5" columns="*" style="margin-top: 40px; text-align: center">
          <Label (tap)="toggleForm()">
            <FormattedString class="login-label">
              <Span class="link"   [text]="isLoggingIn ? 'Don’t have an account? ' : 'Back to Login'"></Span>
              <Span [text]="isLoggingIn ? 'Register' : ''" class="bold"></Span>
            </FormattedString>
          </Label>
        </GridLayout>


      </GridLayout>
    </CardView>
  </FlexboxLayout>

</GridLayout>

<!-- <StackLayout height="100%" width="100%">
    <AbsoluteLayout height="40%" style="top: 0; background-color:#446666;"></AbsoluteLayout>
  <AbsoluteLayout height="60%" style="top: 0; background-color:#FFFBFB;"></AbsoluteLayout>
</StackLayout>
<login-page></login-page> -->