<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opensoach.vst">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".SPLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Views.Activity.LandingPageActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.DashboardActivity"
            android:screenOrientation="landscape" />
        <!--
             <activity
             android:name=".view.LoginActivity"
             android:label="@string/title_activity_chart"
             android:screenOrientation="landscape"
             android:theme="@style/AppTheme.NoActionBar" />
        -->

        <receiver
            android:name=".Scheduler.AlarmReveiver"
            android:exported="false" />

        <activity
            android:name=".Views.ScreenSaverActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Views.ChartActivity" />
        <activity
            android:name=".Views.Activity.CardDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Views.Activity.TaskDetailsActivity" />
        <activity android:name=".Views.Activity.CardListActivity" />
        <activity android:name=".Views.Activity.CreateTokenActivity" />
        <activity android:name=".Views.Activity.TokenListActivity" />
        <activity android:name=".Views.Activity.JobServiceListActivity" />
        <activity android:name=".Views.Activity.JobCreationActivity" />
        <activity android:name=".Views.Activity.TokenSelectionActivity" />
        <activity android:name=".Views.Activity.JobServiceCreationActivity" />
        <activity android:name=".Views.Activity.JobServiceSummaryActivity" />
        <activity android:name=".Views.Activity.JobExeDetailsActivity"></activity>
    </application>

</manifest>