<div class="row">
    <mat-card>
      <form [formGroup]="editableForm" class="md-float-material form-material" id="customer-add" (ngSubmit)="save()">
        <app-editable-form-header [formMode]="formMode" (closeClick)="closeForm()" (editClick)="editForm()"></app-editable-form-header>
        <div class=" form-group form-primary">
          <mat-form-field>
            <input disabled matInput placeholder="Customer Name" type="email" formControlName="emailControl" required [(ngModel)]="dataModel.custname">
            <mat-error *ngIf="editableForm.controls['emailControl'].hasError('required') ">
              Customer is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group form-primary">
          <mat-form-field>
            <mat-select placeholder="Corporate  Id" formControlName="corprateId" required [(ngModel)]="dataModel.corpid">
              <mat-option *ngFor="let corp of corporates" [value]="corp.corpid">
                {{corp.corpname}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editableForm.controls['corprateId'].hasError('required')">
              Corporate Selection is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group form-primary">
          <mat-form-field>
            <mat-select placeholder="Customer State" formControlName="userState" required [(ngModel)]="dataModel.custstate">
              <mat-option *ngFor="let custstate of customerStates" [value]="custstate.value">
                {{custstate.text | translate}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editableForm.controls['userState'].hasError('required') ">
              User State Selection is Required
            </mat-error>
          </mat-form-field>
        </div>
        <app-editable-form-footer-toolbar [formMode]="formMode" (closeClick)="closeForm()" (editClick)="editForm()"></app-editable-form-footer-toolbar>
      </form>
    </mat-card>
</div>