<div class="row">
  <div class="col">
    <mat-card>
      <mat-expansion-panel [expanded]="isExpanded" (opened)="panelOpened()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="fa fa-filter" aria-hidden="true"></i>
            <span style="padding-left:10px">Filter</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <mat-form-field>
              <input matInput placeholder="Complaint Title" [(ngModel)]="dataModel.complainttitle">
              <button mat-button *ngIf="dataModel.complainttitle" matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.complainttitle=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-md-4 col-sm-6">
            <mat-form-field>
              <mat-select placeholder="Status" [(ngModel)]="dataModel.complaintstate">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let compstate of compStates" [value]="compstate.value">
                  {{compstate.text | translate}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4 col-sm-6">
            <mat-form-field>
              <mat-select placeholder="Service Point" [(ngModel)]="dataModel.spid">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let cat of splist" [value]="cat.spid">
                  {{cat.spname}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <button type="button" mat-raised-button color="primary" (click)="search()">Apply</button>
      </mat-expansion-panel>
    </mat-card>
  </div>
</div>