<div class="row">
  <div class="col">
    <mat-card>
      <div class="mobile-sort">
        <h4>Sort</h4>
        <table class="example-full-width" cellspacing="0">
          <tr id="layout-set">
            <td>
              <mat-form-field>
                <mat-select placeholder="Sort by" [(ngModel)]="this.sort.active" name="sortby" (selectionChange)="sortByChanged()">
                  <mat-option *ngFor="let col of sortByColumns" [value]="col.value">
                    {{col.text}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <div (click)="sortDirectionAsc()"> Ascending
                <i class="fa fa-long-arrow-up"></i>
              </div>
            </td>
            <td>
              <div (click)="sortDirectionDesc()"> Descending
                <i class="fa fa-long-arrow-down"></i>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort matSortDisableClear>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <ng-container matColumnDef="spname">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 25%;">Service Point</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 25%;">
              <span class="mat-cell-responsive-label">Service Point</span>
              <span class="ellipsis mat-cell-text"> {{row.spname}}</span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="spcname">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 25%;">Category</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 25%;">
              <span class="mat-cell-responsive-label">Category</span>
              <span *ngIf="row.spcid>0">
                <span class="ellipsis mat-cell-text"> {{row.spcname}}</span>
              </span>
              <span *ngIf="row.spcid===0">
                <span>NOT SET</span>
                <button mat-icon-button color="accent" (click)="editServicePoint(row)">
                  <i class="fa fa-pencil"></i>
                </button>
              </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="devid">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 20%;justify-content:center;">Device</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 20%;justify-content:center;">
              <span class="mat-cell-responsive-label">Device</span>
              <span *ngIf="row.devid">
                <span class="ellipsis mat-cell-text"> {{row.devname}}</span>
              </span>
              <span *ngIf="!(row.devid)">
                <button mat-icon-button color="accent" (click)="openServicePointDeviceAssociation(row)">
                  <i class="fa fa-link"  aria-hidden="true" matTooltip="Add Device"></i>
                </button>
              </span>
            </mat-cell>
          </ng-container>
          <!-- <ng-container matColumnDef="spstate">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 15%;">Status</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 15%;">
              <span class="mat-cell-responsive-label">Status</span>
              {{prodServicepointService.getServicepointState(row.spstate) | translate}}
            </mat-cell>
          </ng-container> -->
          <ng-container matColumnDef="servconfid">
            <mat-header-cell *matHeaderCellDef style="flex:0 0 15%;">Chart</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 15%;">
              <span class="mat-cell-responsive-label">Chart</span>
              <button mat-icon-button color="primary" *ngIf="row.servconfid" (click)="showChartData(row)">
                <mat-icon>
                  <i class="fa fa-table" aria-hidden="true" matTooltip="View Chart"></i>
                </mat-icon>
              </button>
              <button mat-icon-button color="accent" *ngIf="!(row.servconfid)" (click)="configure(row)">
                <span >Configure</span>
              </button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef style="flex:0 0 15%;">Action</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 15%;">
              <span class="mat-cell-responsive-label">Action</span>
              <button mat-icon-button color="accent" [matMenuTriggerFor]="menu">
                <mat-icon aria-hidden="true" matTooltip="Menu">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <ng-template matMenuContent>
                  <button mat-menu-item (click)="editServicePoint(row)">
                    <mat-icon color='primary'>edit</mat-icon>
                    <span>Edit service point</span>
                  </button>
                  <button mat-menu-item (click)="configure(row)">
                    <mat-icon color='primary'>settings</mat-icon>
                    <span *ngIf="!row.servconfid">Configure Chart</span>
                    <span *ngIf="row.servconfid">Edit Chart</span>
                  </button>
                </ng-template>
              </mat-menu>
            </mat-cell>
          </ng-container>
        </mat-table>
        <mat-paginator #paginator [length]="filteredrecords" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
      <br>
    </mat-card>
  </div>
</div>