.list {

}
.home-panel{
	vertical-align: center;
	font-size: 20;
	margin: 15;
}


 /* header */
Button, TextField {
  margin-bottom: 6; 
}
.btn {
    font-size: 25;
	color: #FF8912;
    -webkit-tap-highlight-color: rgba(245, 240, 240, 0);
        /* padding: 0; */
border: none;
/* background: none; */
}
.btn-primary {
  background-color: #FF8912;
  margin-left: 0;
  margin-right: 0;
}
.description-label{
    margin-bottom: 15;
}
.hometitle{
    font-size: 18px; 
    font-weight: bold;
    vertical-align: center; 
    /* margin-left:150px; */
}
.hometitlesub{
    font-size: 18px; 
    font-weight: bold;
    vertical-align: center;
}
.homeheader{
    font-size: 14px; 
    margin-left: 10px;
    vertical-align: center; 
    color:white;
}

/* header end */



.card {
    /* background-color: #fff; */
    /* color: #4d4d4d; */
    /* margin: 15 15 0;
    border: 1px;
    border-color: gray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */

    /* padding: 10;
    border-width: 2;
    border-color: slategray;
    border-radius: 10 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);   */
}

.card-layout {
    padding: 12;
}
.card-layout .h1 {
    margin-bottom: 15;
}
.wardimg{
    background-image: url("../assets/logo_full.png") no-repeat;
}
