/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
#logo{padding-top: 40px;}
#form-id{padding-top: 120px;}
mat-form-field{width: 100%;}
.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px; 
    padding: 1.25rem;
    width: auto;
    height: auto;
}
#main-content{padding-top: 10px;}
.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px; 
    padding: 1.25rem;
    width: auto;
}
#submit-button{width: 100%; background-color: #37A5CD !important;}
html *
{
    font-family:  'Open Sans', 'sans-serif';
}

/*Responsive mat-table*/

.example-container {
  display: flex;
  flex-direction: column;
}

.mat-row-mobile-label {
  display: none;
}

.mobile-sort {
  display:none;
}

.mat-header-row {
  background-color: #37A5CD;
}

.mat-header-cell {
  color:white !important;
}

@media(max-width: 768px) {
  .mat-row-mobile-label {
    width: 200px;
    display: inline-block;
    font-weight: bold;
  }
  .mat-header-row {
    display: none !important;
  }
  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
  .mobile-sort
  {
    display: inline-block;
  }
}

button:focus {
  outline: none !important;
}
