<div class="row">
  <div class="col">
    <mat-card>
      <form [formGroup]="editableForm" (ngSubmit)="search()">
        <div class="row">
          <div class="col-10">
            <mat-card-header>
              <div mat-card-avatar>
                <i class="fa fa-user" style="font-size:24px;color:#446666">
                </i>
              </div>
              <mat-card-title>Patient Registration</mat-card-title>
            </mat-card-header>
          </div>
          <div class="col-2 text-right">
            <button type="button" class="backButton" mat-icon-button (click)="close()" matTooltip="Back">
              <mat-icon aria-label="Back">arrow_back</mat-icon>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-divider [inset]="true"></mat-divider>
          </div>
        </div>

        <div style="margin: 20px; padding: 10px;">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="First Name" [(ngModel)]="dataModel.fname" formControlName="fnameControl"
                  required maxlength="50">
                <mat-error *ngIf="editableForm.controls['fnameControl'].hasError('required')">
                  {{'VALIDATION_REQUIRED_FIELD'|translate}}
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" [(ngModel)]="dataModel.lname" formControlName="lnameControl"
                  maxlength="50">
              </mat-form-field>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-2">
              <button mat-icon-button type="submit" matTooltip="Search">
                <i class="fa fa-arrow-right" style="font-size:30px;color:#3b3c53"></i>
              </button>
            </div>

            <div class="col-md-2">
              <button type="button" *ngIf="showlist" mat-raised-button color="primary" matTooltip="Add New Patient"
              (click)="newPatient()">New</button>
            </div>

          </div>
        </div>
        <div>
          <app-patient-check-list *ngIf="showlist"></app-patient-check-list>
        </div>
      </form>
    </mat-card>
  </div>
</div>