<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="fa fa-tablet"></i>
    </div>
    <mat-card-title>
      <source media="(min-width: )" srcset="">Edit device name</mat-card-title>
  </mat-card-header>
  <form [formGroup]="editableForm" (ngSubmit)="save()">
    <div class="form-group form-primary ">
      <mat-form-field class="full-width">
        <input matInput placeholder="Device Name" formControlName="devnameControl" [(ngModel)]="dataModel.devname" maxlength="30">
        <mat-error *ngIf="editableForm.controls['devnameControl'].hasError('required') ">
          {{'VALIDATION_REQUIRED_FIELD'|translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group form-primary text-right">
      <button type="submit" mat-raised-button color="primary">Save</button>
      <button type="button" mat-button (click)="closeForm()">Close</button>
    </div>
  </form>
</mat-card>