<mat-card style="max-width:500px">
  <form [formGroup]="editableForm" (ngSubmit)="savemaster()">
    <app-editable-form-header [editRecordBase]="this" (editClick)="editForm()"></app-editable-form-header>
    <mat-card-content>
      <div class="form-group form-primary" *ngIf="formMode === 0 || formMode === 1">
        <span class="viewlabel">User Name</span>
        <label class="viewtext">{{ dataModel.usrname }}</label>
      </div>
      <div class="form-group form-primary" *ngIf="formMode === 1">
        <mat-form-field class="full-width" id="point-selection">
          <mat-select placeholder="Role Name" [(ngModel)]="dataModel.uroleid" formControlName="userroleControl" required>
            <mat-option *ngFor="let urole of uroleids" [value]="urole.uroleid">
              {{urole.urolename}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editableForm.controls['userroleControl'].hasError('required')">
            {{'VALIDATION_REQUIRED_FIELD'|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group form-primary" *ngIf="formMode === 0">
        <span class="viewlabel">Role Name</span>
        <label class="viewtext">{{ getuserrole(dataModel.uroleid) }}</label>
      </div>
      <div class="form-group form-primary" *ngIf="formMode === 1">
        <mat-form-field>
          <mat-select placeholder="State" formControlName="userStateControl" required [(ngModel)]="dataModel.usrstate">
            <mat-option *ngFor="let userstate of userStates" [value]="userstate.value">
              {{userstate.text | translate}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editableForm.controls['userStateControl'].hasError('required') ">
            {{'VALIDATION_REQUIRED_FIELD'|translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group form-primary" *ngIf="formMode === 0">
        <span class="viewlabel">State</span>
        <label class="viewtext">{{ getuserstate(dataModel.usrstate) | translate }}</label>
      </div>
      <app-editable-form-footer-toolbar [editRecordBase]="this" (editClick)="editForm()"></app-editable-form-footer-toolbar>
    </mat-card-content>
  </form>
</mat-card>