[Unit]
Description=splserver application service
ConditionPathExists=/opt/build/spl/Build/spl/splserver
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/opt/build/spl/Build/spl
ExecStart=/opt/build/spl/Build/spl/splserver

[Install]
WantedBy=multi-user.target


