<ActionBar class="action-bar" style="background-color: #396766; color: white; vertical-align: center;">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <GridLayout columns="*, auto" ios:padding="0 10" height="100%" width="100%">
        <GridLayout col="0" columns="auto,auto,auto,*,auto,auto, auto">
            <StackLayout col="0">
                <RL:Ripple rippleColor="#fff" class="ripplecenter" borderRadius="5" height="30" width="30" (tap)="goBackPage()">
                    <Label text="&#xf04d;" class="homeicon mdi"></Label>
                </RL:Ripple>
            </StackLayout>
            <Label col="1" text="&#xf47d;" class="mdi listicon" style="margin-left:30px; color:white;vertical-align: center;"></Label>
            <Label col="2" text="12, Sumeet Karande" style="margin-left:10px;" class="homeheader"></Label>
            <StackLayout col="4" class="button-dist">
                <RL:Ripple rippleColor="#fff" class="ripplecenter" borderRadius="5" height="30" width="30" (tap)="patientdetail()">
                    <Label text="&#xf2fd;" class="homeicon mdi" (tap)="patientdetail()"></Label>
                </RL:Ripple>
            </StackLayout>
            <StackLayout col="5" class="button-dist">
                <RL:Ripple rippleColor="#fff" class="ripplecenter" borderRadius="5" height="30" width="30">
                    <Label text="&#xf09a;" class="homeicon mdi"></Label>
                </RL:Ripple>
            </StackLayout>
        </GridLayout>
        <GridLayout col="1" columns="auto" class="button-dist" style="margin-top:5px;">
            <network-status></network-status>
        </GridLayout>
    </GridLayout>
</ActionBar>

<StackLayout>

    <GridLayout rows="*,60">
        <ScrollView row="0">
            <monitor *ngIf="monitor"></monitor>
            <action *ngIf="action"></action>
            <charts *ngIf="chart"></charts>
        </ScrollView>

        <StackLayout row="1" orientation="horizontal" style="background-color:#396766; color:#ffffff;">
            <RL:Ripple rippleColor="#fff" width="25%" (tap)="monitorData()" (tap)="buttonClicked = true">
                <StackLayout textWrap="true" [class.button-clicked]="buttonClicked" class="tab-layout">
                    <Label text="{{(buttonClicked) ? '&#xf201;' : '&#xf201;'}}" [style.color]="buttonClicked ? '#FF8910' : '#ffffff'" class="fas button-icon"></Label>
                    <!-- <Label text="&#xf201;" class="fas button-icon" [class.button-clicked]="buttonClicked"></Label> -->
                    <Label text="Monitor" class="button-text"></Label>
                </StackLayout>
            </RL:Ripple>
            <RL:Ripple rippleColor="#fff" width="25%" (tap)="actionData()" (tap)="actionbuttonClicked = true">
                <StackLayout textWrap="true" [class.button-clicked]="actionbuttonClicked" class="tab-layout">
                    <Label text="{{(actionbuttonClicked) ? '&#xf00c;' : '&#xf00c;'}}" [style.color]="actionbuttonClicked ? '#FF8910' : '#ffffff'"
                        class="fas button-icon"></Label>
                    <!-- <Label text="&#xf00c;" class="fas button-icon"></Label> -->
                    <Label text="Action" class="button-text"></Label>
                </StackLayout>
            </RL:Ripple>
            <RL:Ripple rippleColor="#fff" width="25%" (tap)="chartData()" (tap)="chartbuttonClicked = true">
                <StackLayout textWrap="true" [class.button-clicked]="chartbuttonClicked" class="tab-layout">
                    <Label text="{{(chartbuttonClicked) ? '&#xf080;' : '&#xf080;'}}" [style.color]="chartbuttonClicked ? '#FF8910' : '#ffffff'"
                        class="fas button-icon"></Label>
                    <!-- <Label text="&#xf080;" class="fas button-icon"></Label> -->
                    <Label text="Charts" class="button-text"></Label>
                </StackLayout>
            </RL:Ripple>
            <RL:Ripple rippleColor="#fff" width="25%" (tap)="reportData()" (tap)="reportbuttonClicked = true">
                <!-- <Button textWrap="true" width="25%" class="btn-border-hide" (tap)="reportData()" (tap)="reportbuttonClicked = true">
                    <FormattedString [class.button-clicked]="reportbuttonClicked">
                        <Span text="&#xf15b;\n" class="fas button-icon" ></Span>
                        <Span text="Reports" class="button-text"></Span>
                    </FormattedString>
                </Button> -->
                <StackLayout textWrap="true" [class.button-clicked]="reportbuttonClicked" class="tab-layout">
                    <Label text="{{(reportbuttonClicked) ? '&#xf15b;' : '&#xf15b;'}}" [style.color]="reportbuttonClicked ? '#FF8910' : '#ffffff'"
                        class="fas button-icon"></Label>
                    <!-- <Label text="&#xf15b;" class="fas button-icon"></Label> -->
                    <Label text="Reports" class="button-text"></Label>
                </StackLayout>
            </RL:Ripple>
        </StackLayout>
    </GridLayout>


</StackLayout>