<div class="row">
  <div class="col">
    <mat-card>
      <div class="mobile-sort">
        <h4>Sort</h4>
        <table class="example-full-width" cellspacing="0">
          <tr id="layout-set">
            <td>
              <mat-form-field>
                <mat-select placeholder="Sort by" [(ngModel)]="this.sort.active" name="sortby" (selectionChange)="sortByChanged()">
                  <mat-option *ngFor="let col of sortByColumns" [value]="col.value">
                    {{col.text}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <div (click)="sortDirectionAsc()"> Ascending
                <i class="fa fa-long-arrow-up"></i>
              </div>
            </td>
            <td>
              <div (click)="sortDirectionDesc()"> Descending
                <i class="fa fa-long-arrow-down"></i>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort matSortDisableClear>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <ng-container matColumnDef="usrname">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 20%;">User Name</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 20%;">
              <span class="mat-row-mobile-label">usrname</span>
              {{row.usrname}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="usrcategory">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 10%;">Category</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 10%;">
              <span class="mat-row-mobile-label">usrcategory</span>
              {{userService.getUserCategories(row.usrcategory) | translate}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="uroleid">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 10%;">Role Name</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 10%;">
              <span class="mat-row-mobile-label">uroleid</span>
              {{row.uroleid}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="usrstate">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 10%;">State</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 10%;">
              <span class="mat-row-mobile-label">usrstate</span>
              {{userService.getUserState(row.usrstate) | translate}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fname">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 10%;">First Name</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 10%;">
              <span class="mat-row-mobile-label">fname</span>
              {{row.fname}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="lname">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 10%;">Last Name</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 10%;">
              <span class="mat-row-mobile-label">lname</span>
              {{row.lname}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="mobileno">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 12%;">Mobile Number</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 12%;">
              <span class="mat-row-mobile-label">mobileno</span>
              {{row.mobileno}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef style="flex:0 0 4%;">Action</mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex:0 0 4%;">
              <span class="mat-row-mobile-label">Action</span>
              <i (click)="editRecord(row.usrid)" style="color:#337AB7 !important;" class="fa fa-eye" aria-hidden="true" matTooltip="View Details"></i>
            </mat-cell>
          </ng-container>
        </mat-table>
        <mat-paginator #paginator [length]="filteredrecords" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
      <br>
    </mat-card>
  </div>
</div>