<div class="row">
  <div class=" col">
    <mat-card>
      <div class="row">
        <div class="col-1">
          <h6 class="f-w-400 text-muted">
            <div class="text-left">
              <button mat-icon-button class="view-form-backButton" (click)="closeForm()" style="right:10px">
                <mat-icon>arrow_back</mat-icon>
              </button>
            </div>
          </h6>
        </div>
        <div class="col-2" style="font-size: 13px; margin-top:10px;">
          <div class="form-group form-primary">
            <span class="viewlabel"> Vehicle Number </span>
          </div>
        </div>
        <div class="col-2" style="font-size: 13px; margin-top:10px">
          <div class="form-group form-primary">
            <label class="viewtext">{{dataModel.vehicleno}}</label>
          </div>
        </div>
        <div class="col-2">
          <div  class="text-right">
          <button matSuffix type="button" color="primary" mat-raised-button (click)="download()" matTooltip="Download">
            <mat-icon>file_download</mat-icon>
            <span>Report Download</span>
          </button>
          </div>
        </div>
        <div class="col-5 text-right">
          <mat-button-toggle-group [(ngModel)]="selectedoption" (ngModelChange)="optionChange()">
            <mat-button-toggle value="0">Timeline</mat-button-toggle>
            <mat-button-toggle value="1">List</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="w3-container w3-animate-zoom">
            <div class="card card1" style="padding: 21px 25px 0px 25px; font-size: 13px;">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-primary">
                    <span class="viewlabel"> Token </span>
                    <label class="viewtext">{{token}}</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-primary">
                    <span class="viewlabel">Name</span>
                    <!-- <label class="viewtext" *ngIf="dataModel.details && dataModel.details.ownerdetails && dataModel.details.ownerdetails.firstname != null">{{dataModel.details.ownerdetails.firstname + dataModel.details.ownerdetails.lastname}}
                    </label> -->
                    <label class="viewtext">{{dataModel.name}}
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-primary">
                    <span class="viewlabel">Mobile Number</span>
                    <!-- <label class="viewtext" *ngIf="dataModel.details.ownerdetails && dataModel.details.ownerdetails != null">{{dataModel.details.ownerdetails.mobileno}}</label> -->
                    <label class="viewtext">{{dataModel.mobileno}}</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-primary">
                    <span class="viewlabel">Petrol Level</span>
                    <!-- <label class="viewtext" *ngIf="tokendata.txndata && tokendata.txndata.vehicledetails != null && tokendata.txndata.vehicledetails.petrol != null">{{tokendata.txndata.vehicledetails.petrol}}</label> -->
                    <label class="viewtext">{{dataModel.petrol}}</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-primary">
                    <span class="viewlabel">Kilometers</span>
                    <!-- <label class="viewtext" *ngIf="tokendata.txndata && tokendata.txndata.vehicledetails != null && tokendata.txndata.vehicledetails.kms != null">{{tokendata.txndata.vehicledetails.kms}}</label> -->
                    <label class="viewtext">{{dataModel.kms}}</label>
                  </div>
                </div>
                <div class="col-md-6">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" [hidden]='timline'>
        <!-- <div class="col-md-2"></div> -->
        <div class="col-md-12">
          <div class="w3-container w3-animate-zoom">
            <div class="card latest-update-card card1">
              <div class="card-header">
                <h5>Timeline</h5>
              </div>
              <div class="card-block">
                <div class="latest-update-box">
                  <div class="row p-t-20 p-b-30">
                    <div class="col-auto text-right update-meta">
                      <p class="text-muted d-inline">{{tokendata.txndate | date:'shortTime'}}</p>
                      <span class="feather f-w-600 bg-c-red update">1</span>
                      <!-- <mat-icon class="feather icon-check f-w-600 bg-c-red update-icon">looks_one</mat-icon> -->
                    </div>
                    <div class="col">
                      <h6 class="snaptext" [hidden]="!tokendata.txndate">Token Generated</h6>
                      <!-- <p class="text-muted m-b-0">oil</p> -->
                    </div>
                  </div>
                  <div class="row p-b-30">
                    <div class="col-auto text-right update-meta">
                      <p class="text-muted m-b-0 d-inline">{{createddata.txndate | date:'shortTime'}}</p>
                      <span class="feather f-w-600 bg-c-green update">2</span>
                      <!-- <mat-icon class="feather icon-check f-w-600 bg-c-green update-icon">looks_two</mat-icon> -->
                    </div>
                    <div class="col">
                      <h6 class="snaptext" [hidden]="!createddata.txndate">Job Created</h6>
                    </div>
                  </div>
                  <div class="row p-b-30" *ngFor="let jobstate of listdata; let i = index">
                    <div class="col-auto text-right update-meta">
                      <p class="text-muted d-inline">{{jobstate.txndate | date:'shortTime'}}</p>
                      <span class="feather f-w-600 bg-c-yellow update">{{i+3}}</span>
                      <!-- <mat-icon class="feather icon-check f-w-600 bg-c-yellow update-icon">looks_3</mat-icon> -->
                    </div>
                    <div class="col" class="set">
                      <h6 class="snaptext" *ngIf="jobstate.txndata.tasks && jobstate.txndata.tasks != null">{{jobstate.txndata.tasks[0].taskname}}</h6>
                      <p class="text-muted m-b-0" *ngIf="jobstate.txndata.tasks && jobstate.txndata.tasks != null">{{jobstate.txndata.tasks[0].comment}}</p>
                      <p class="text-muted m-b-0">Service Personnel :- {{dataModel.transactions[0].fopcode}}</p>
                    </div>
                  </div>
                  <!-- <div class="row p-b-30">
                    <div class="col-auto text-right update-meta">
                      <p class="text-muted d-inline">{{inprogressdata.txndate | date:'shortTime'}}</p>
                      <mat-icon class="feather icon-check f-w-600 bg-c-yellow update-icon">looks_3</mat-icon>
                    </div>
                    <div class="col">
                      <h6 class="snaptext" [hidden]="!inprogressdata.txndate">Job Started</h6>
                      <p class="text-muted m-b-0" *ngFor="let jobstate of listdata">
                        <span *ngIf="jobstate.txndate && jobstate.txndate != null">{{jobstate.txndate | date:'shortTime'}}</span>
                        <span *ngIf="jobstate.txndata.tasks && jobstate.txndata.tasks != null" style="margin-left:17px;">{{jobstate.txndata.tasks[0].taskname}}</span>
                        <span *ngIf="jobstate.txndata.tasks && jobstate.txndata.tasks != null" style="margin-left:17px;">{{jobstate.txndata.tasks[0].comment}}</span>
                      </p>
                    </div>
                  </div> -->
                  <div class="row p-b-30">
                    <div class="col-auto text-right update-meta">
                      <p class="text-muted m-b-0 d-inline">{{completeddata.txndate | date:'shortTime'}}</p>
                      <span class="feather f-w-600 bg-c-blue update">{{numbercompleted}}</span>
                      <!-- <mat-icon class="feather icon-check f-w-600 bg-c-blue update-icon">looks_4</mat-icon> -->
                    </div>
                    <div class="col">
                      <h6 class="snaptext" [hidden]="!completeddata.txndate ">Job Completed </h6>
                    </div>
                  </div>
                  <div class="row " [hidden]="!deliverddata.txndate">
                    <div class="col-auto text-right update-meta">
                      <p class="text-muted m-b-0 d-inline">{{deliverddata.txndate | date:'shortTime'}}</p>
                      <span class="feather f-w-600 bg-c-green update">{{numberdelivered}}</span>
                      <!-- <mat-icon class="feather icon-check f-w-600 bg-c-green update-icon">looks_5</mat-icon> -->
                    </div>
                    <div class="col">
                      <h6 class="snaptext"> Vehicle Delivered</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-2">
        </div> -->
      </div>

      <div class="row" [hidden]='list'>
        <div class="col">
          <div class="w3-container w3-center w3-animate-bottom">
            <!-- <div class="mobile-sort">
                <table class="example-full-width" cellspacing="0">
                  <tr id="layout-set">
                    <td>
                      <mat-form-field>
                        <mat-select placeholder="Sort by" [(ngModel)]="this.sort.active" name="sortby" (selectionChange)="sortByChanged()">
                          <mat-option *ngFor="let col of sortByColumns" [value]="col.value">
                            {{col.text}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
                      <button mat-icon-button class="view-form-backButton" (click)="sortDirectionAsc()">
                        <mat-icon aria-hidden="true" matTooltip="Ascending">arrow_upward</mat-icon>
                      </button>
                    </td>
                    <td>
                      <button mat-icon-button class="view-form-backButton" (click)="sortDirectionDesc()">
                        <mat-icon aria-hidden="true" matTooltip="Descending">arrow_downward</mat-icon>
                      </button>
                    </td>
                  </tr>
                </table>
              </div> -->
            <div class="example-container mat-elevation-z8">
              <mat-table [dataSource]="dataSource" matSort matSortDisableClear>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <ng-container matColumnDef="txndate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 20%;">Time</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="flex:0 0 20%;">
                    <span class="mat-cell-responsive-label">Time</span>
                    <span class="ellipsis mat-cell-text"> {{row.txndate | date:'shortTime'}}</span>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fopcode">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 20%;">Service Personnel</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="flex:0 0 20%;">
                    <span class="mat-cell-responsive-label">Service Personnel</span>
                    <span class="ellipsis mat-cell-text"> {{row.fopcode}}</span>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="taskname">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 20%;">Activity</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="flex:0 0 20%;">
                    <span class="mat-cell-responsive-label">Activity</span>
                    <span class="ellipsis mat-cell-text" *ngIf="row.txndata.tasks && row.txndata.tasks != null"> {{row.txndata.tasks[0].taskname}}</span>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="comment">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 20%;">Notes</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="flex:0 0 20%;">
                    <span class="mat-cell-responsive-label">Notes</span>
                    <span class="ellipsis mat-cell-text" *ngIf="row.txndata.tasks && row.txndata.tasks != null"> {{row.txndata.tasks[0].comment}}</span>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="cost">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:0 0 20%;">Tentative Price</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="flex:0 0 20%;">
                    <span class="mat-cell-responsive-label">Tentative Price</span>
                    <span class="ellipsis mat-cell-text" *ngIf="row.txndata.tasks && row.txndata.tasks != null">{{row.txndata.tasks[0].cost}}</span>
                  </mat-cell>
                </ng-container>
              </mat-table>
              <mat-paginator #paginator [length]="filteredrecords" [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
            <br>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>