#header{background-color: #446666;
  box-shadow: 0 0 30px rgba(33,33,33,.2); }
#text{color:white;}
#brand{display: flex;
    float: left;
    height: 50px;
    text-align: center;
    padding: 10px;}
#box{
 margin-left: 950px;
}
.navbar-brand ul li{display:inline; }
.fa-bars{
  padding-top: 15px;
  /* margin-left: 50px; */
  color: white;
}
.dropdown-menu i{    white-space: nowrap;

  border-radius: 8px;}
.dropdown-menu i:hover{
	background: #37A5CD ;
}
.dropdown-menu i:active{
background-color:#FA902B;
}
i:active{
  color: black;
  }
.fa-bell{color: white;
}
.navbar {height:60px !important;}

@media screen and (max-width:768px) {
  .fa-bell{margin-left: 60px;}
  .navbar {height:auto !important;}
  #box{
    margin-left:0px;
   }
   .fa-bars{
    padding-top: 15px;
    margin-left: 20px !important;
    color: white;
  }
}

.navbar {
    padding-left: 1px !important;
}
#header {
    box-shadow: none !important;
}
.page-block {
    padding-bottom: 19px;
}

.navbar-brand ul li:nth-child(2) img {
    margin-top: 3px !important;
}
.navbar-brand ul li:first-child i {
    padding-top: 10px !important;
}

.dropdown-menu.show .dropdown-item span {
  position: absolute;
  right: 11px;
  top: 9px !important;
  width: 12px;
}
.dropdown-item {
  position: relative;
}
.dropdown-menu:hover {
  background: hsl(0, 0%, 95%) none repeat scroll 0 0;
  border-radius: 0 !important;
color:#ffffff !important;
}
.dropdown-menu {
  font-size: 13px !important;
  font-style: normal !important;
 line-height: 26px;

}
.dropdown-menu i:hover {
  background: hsl(196, 60%, 51%) none repeat scroll 0 0;
  border-radius: 0 !important;
color:#ffffff !important;
}
.dropdown-menu i {
  font-style: normal !important;
}
.dropdown-menu {
  box-shadow: 0 0 20px 0 hsla(0, 0%, 0%, 0.3);
  /* left: 10% !important; */
  right: 0 !important;
}
.nav-link.dropdown-toggle {
  font-size: 13px;
}
@media only screen and (min-width: 320px) and (max-width: 640px) {
  .navbar-toggler .fa.fa-ellipsis-h.fa-2x {
      font-size: 21px;
  }
  
  #side.toggle {
      position: absolute;
  }
  .page-block {
      padding-left: 13px;
  }
  }
