.card {
    border-radius: 0.25rem;
    box-shadow: 0 2px 10px -1px rgba(69, 90, 100, 0.3);
    border: none;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card .card-header.borderless {
    border-bottom: 0px solid transparent;
}

.card .card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 20px;
    position: relative;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card .card-header h5 {
    margin-bottom: 0;
    color: #37474f;
    font-size: 0.9375rem;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
    line-height: 1.1;
}

.card-title, h5 {
    margin: 0;
}

.card .card-header.borderless + .card-block, .card .card-header.borderless + .card-block-big, .card .card-header.borderless + .card-block-small {
    padding-top: 0;
}

.statustic-card .card-block {
    position: relative;
}

.card .card-block {
    padding: 1.25rem;
}

.text-center {
    text-align: center !important;
}

.text-c-blue {
    color: #448aff;
}

.f-36 {
    font-size: 36px;
}

.d-block {
    display: block !important;
    min-height: 54px;
}

.card .card-block p {
    line-height: 1.4;
}

.m-b-0 {
    margin-bottom: 0px;
}

p {
    font-size: 13px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.statustic-card .card-block .progress {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 5px;
    overflow: visible;
}

.progress {
    height: 1rem;
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.statustic-card .card-block .progress .progress-bar {
    position: relative;
}

.progress .progress-bar {
    height: 100%;
    color: inherit;
}

.bg-c-blue {
    background: #448aff;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width 0.6s ease;
}

/* .statustic-card .card-block .progress .progress-bar.bg-c-blue:before {
    -webkit-animation: blue-blink-bar 0.5s linear infinite;
    animation: blue-blink-bar 0.5s linear infinite;
}

.statustic-card .card-block .progress .progress-bar:before {
    content: "";
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    background: inherit;
} */

card .card-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding: 15px 20px;
    border-radius: 0 0 5px 5px;
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.text-white {
    color: #fff !important;
}

h6 {
    font-size: 0.875rem;
}

.bg-c-green {
    background: #28a745;
}

.bg-c-red {
    background: #ff5252;
}

.chart-container {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }

  .chart-col1 {
    width: 100%;
    /* height: 100vh; */
    position: absolute;
     top:0;
     right: 0;
    left: 0;
    bottom: 0;
  }

  .chart-card
  {
      height: 273px;
  }

/* new card css */
  .card .card-block-tab {
    padding: 1.25rem;
}
h4 {
    font-size: 1.5rem;
}
.text-c-yellow {
    color: #ffba57;
}
.f-28 {
    font-size: 30px !important;
    transition: 0.3s ease;
}
.card .card-footer {
    border-top: 1px solid rgba(0,0,0,0.125);
    padding: 15px 20px;
    border-radius: 0 0 5px 5px;
}
.bg-c-yellow {
    background: #ffba57;
}
.text-c-green {
    color: #28a745;
}
.bg-c-green {
    background: #28a745;
}
.text-c-red {
    color: #ff5252;
}
.text-c-blue {
    color: #448aff;
}
.text-c-lightred {
    color: #FF4C89;
}
.bg-c-lightred {
    background: #FF4C89;
}

.card:hover .f-28 {
    transform: scale(1.5, 1.5); /** default is 1, scale it to 1.5 */
}

.b-block {
    display: block !important;
    min-height: 28px;
    color: #448aff;
}