<StackLayout class="dialog" width="100%">
    <Label class="h3" textWrap="true" text="Create a Schedule" style="padding-top:10%;"></Label>
    <GridLayout rows="auto, auto, auto, auto, auto" columns="*">

        <GridLayout row="0" col="0" rows="*, auto" columns="50, *" (tap)="intakeForm()" style="vertical-align: center;">
            <!-- <Label row="0" col="0" class="pop-btn-icon fas" text="&#xf46c;" style="color: #396767;"></Label> -->
            <Label row="0" col="1" class="body" text="Intake" style="color: #396767;" class="pop-list-layout"></Label>
            <StackLayout row="1" col="1" class="hr-light m-10"></StackLayout>
        </GridLayout>


        <GridLayout row="1" col="0" rows="*, auto" columns="50, *" (tap)="medicineForm()">
            <!-- <Label row="0" col="0" class="pop-btn-icon fas" text="&#xf484;"></Label> -->
            <!-- <Label row="0" col="0" class="pop-btn-icon fas" text="&#xf46c;" style="color: #396767; vertical-align: center;"></Label> -->
            <Label row="0" col="1" class="body" text="Medicine" style="color: #396767;" class="pop-list-layout"></Label>
            <StackLayout row="1" col="1" class="hr-light m-10"></StackLayout>
        </GridLayout>


        <GridLayout row="2" col="0" rows="*, auto" columns="50, *" (tap)="monitorForm()">
            <!-- <Label row="0" col="0" class="pop-btn-icon fas" text="&#xf48e;"></Label> -->
            <!-- <Label row="0" col="0" class="pop-btn-icon fas" text="&#xf46c;" style="color: #396767;"></Label> -->
            <Label row="0" col="1" class="body" text="Monitar" style="color: #396767;" class="pop-list-layout"></Label>
            <StackLayout row="1" col="1" class="hr-light m-10"></StackLayout>
        </GridLayout>


        <GridLayout row="3" col="0" rows="*" columns="50, *">
            <!-- <Label row="0" col="0" class="pop-btn-icon fas" text="&#xf46c;" style="color: #396767;"></Label> -->
            <Label class="body" col="1" text="Output" style="color: #396767;" class="pop-list-layout"></Label>
        </GridLayout>
    </GridLayout>
</StackLayout>